<li class="dojo">
  <header>
    <a href="<%= dojo.url %>">
      <span class="dojo-picture" style="background-image: url(<%= dojo.logo %>);"></span>
      <span class="dojo-name"><%= dojo.name %></span>
    </a>
  </header>
  <ul class="tags">
    <% dojo.tags.each do |tag| %>
        <li><%= tag %></li>
    <% end %>
  </ul>
  <p><%= dojo.description %></p>
</li>
