<section class="cover">
  <%= image_tag "coderdojo-stats_cover.png", class: "cursor-default" %>
</section>

<section class="dojos text-center" id="dojos">
  <br>
  <h1>統計情報</h1>
  <h3>全国の道場</h3>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <% @regions_and_dojos.each_with_index do |(region, dojos), index| %>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="<%= "heading#{index}" %>">
	<h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= "collapse#{index}" %>">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
            <%= region %> - <%= dojos.count %> Dojos
          </a>
	</h4>
      </div>
      <div id="<%= "collapse#{index}" %>" class="panel-collapse collapse" role="tabpanel">
	<div class="panel-body grayscale-bg">
          <%= render partial: 'dojo', collection: dojos %>
	</div>
      </div>
    </div>
    <% end %>
  </div>

<h3>開催回数</h3>
<%= @sum_of_events %> 回

<h3>参加者数 (延べ)</h3>
<%= @sum_of_participants = EventHistory.sum(:participants) %> 人

<h3>計測対象</h3>
<%= @sum_of_dojos %> / <%= @dojo_count %> Dojos

<h3>関連リンク</h3>
<ul style="list-style: none; margin-left: -40px;">
  <li><a href="https://github.com/coderdojo-japan/coderdojo.jp/commit/b26fd9cdbf640aaa45f2a88238b13f0cbbe8a8b9">Commit: Create /stats page for Proof of Concept</a></li>
  <li><a href="https://github.com/coderdojo-japan/coderdojo.jp/issues/12">各種イベント管理サービスのAPIを叩いて統計情報を集計したい #12</a></li>
  <li><a href="https://github.com/coderdojo-japan/coderdojo.jp/issues/206">統計データを確認できる /stats ページを作る #206</a></li>
</ul>
</section>
<br>
