- provide(:title, "ログイン")
- provide(:desc,  "CoderDojo Japan のログイン画面です。Kata のテキストをブラウザ上で編集することができます。")
- provide(:url,   "/login")

%body
  %section
  = image_tag "/cover.png", alt: 'CoderDojo Japan カバー画像', class: 'lazyload', loading: 'lazy', "data-src" => "/cover.png", style: 'border-radius: 0; '


  %h1.text-center.intro-header{style: "margin-top: 40px; padding-bottom: 20px;"} ログイン
  %div{style: 'margin: 0 60px 0'}
    = scrivito_tag :div, @obj, :body
    = form_tag session_path, role: 'form' do
      .form-group
        = label_tag      :email, 'メールアドレス'
        = text_field_tag :email, '', class: 'form-control', placeholder: ''
      .form-group
        = label_tag          :password, 'パスワード'
        = password_field_tag :password, '', class: 'form-control', placeholder: ''
      %button.btn.btn-default{:type => "submit"} ログイン

  - if Rails.env.development?
    %hr/
    = scrivito_tag_list :ul, @obj, :toclist do |list, child|
      = list.tag :li do
        = link_to child.display_title, scrivito_path(child)
