- provide(:title, "ログイン")
- provide(:desc,  "CoderDojo Japan のログイン画面です。Kata のテキストをブラウザ上で編集することができます。")
- provide(:url,   "/login")

%body
  %section
  = lazy_image_tag "/cover.png", alt: 'CoderDojo Japan カバー画像', style: 'border-radius: 0;'  

  %h1.text-center.intro-header{style: "margin-top: 40px; padding-bottom: 20px;"} ログイン
  %div{style: 'margin: 0 60px 100px'}
    = scrivito_tag :div, @obj, :body
    = form_tag session_path, role: 'form', class: 'form' do
      .field
        = label_tag      :email, 'メールアドレス'
        = text_field_tag :email, '', class: 'form__field', placeholder: ''
      .field
        = label_tag          :password, 'パスワード'
        = password_field_tag :password, '', class: 'form__field', placeholder: ''
      %button.btn.btn-default{type: "submit", style: 'margin-top: 20px;'} ログイン

  - if Rails.env.development?
    = scrivito_tag_list :ul, @obj, :toclist do |list, child|
      = list.tag :li do
        = link_to child.display_title, scrivito_path(child)
