<% provide :title, 'CoderDojo 情報まとめ (Kata)' %>
<% provide :desc,  "道場で役立つ資料やコンテスト情報、立ち上げ方や各種支援をまとめています。" %>
<% provide :meta_image,  "/img/ogp-kata.jpeg" %>

<style type="text/css">
  h2 { font-weight: 900; }
  h3 { font-weight: 700; margin-top: 80px; }
  h4 { font-weight: 600; margin-top: 15px; font-size: 20px; line-height: 1.5em; margin-bottom: 3px;}
</style>

<!-- Set your background image for this header on the line below. -->
<header class='kata-header lazyload' loading='lazy' style="padding-top: 100px; background-image: url('/kata_cover_plain.webp')">
  <div class='container'>
    <div class='row'>
      <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
        <div class='kata-heading'>
          <h1 id='top'>CoderDojo Kata</h1>
          <h2 class='kata-subheading'>道場情報まとめ</h2>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<section class="kata">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 fontsize-bigger">

	<!-- Migrated contents from Scrivito (= scrivito_tag :div, @obj, :body) -->
	<h2 id="README" class="headline headline-kata" style='margin-top: 60px;'>✅ はじめに</h2>

	<p>本ページでは、全国の CoderDojo が制作した<strong><a href='#learn'>教材・学習コンテンツ</a></strong>や、腕試しにちょうど良い<strong><a href="#challenge">大会・コンテスト情報</a></strong>などをまとめています。また、CoderDojo を<strong><a href="#startup">立ち上げる</a></strong>方法や、CoderDojo を対象とした<strong><a href="#support">支援プログラム</a></strong>、よくある質問と回答（<strong><a href="#faq">FAQ</a></strong>）についてもまとめています。</p>

	<div class='btn-cover' style="margin: 20px auto;">
	  <a class='btn-blue' href='#learn'>
	    <i class='far fa-books'></i>
	    教材・資料を探す
	  </a>
	  <a class='btn-blue' href='#challenge'>
	    <i class='far fa-trophy-alt'></i>
	    コンテストを探す
	  </a>
	</div>

	<h3 id='coderdojo'>CoderDojo とは? ☯️</h3>
	<p>CoderDojo は、7〜17歳を対象とした非営利のプログラミング道場です。2011年にアイルランドから始まり、世界では<%= Dojo::NUM_OF_COUNTRIES %>カ国・<%= Dojo::NUM_OF_WORLD_DOJOS %>以上の道場、日本には<%= link_to "#{@dojo_count}以上", dojos_path %>の道場があります。CoderDojo は全国各地で定期的に開催されており、<%= link_to '延べ10,000人以上', stats_path %>の子ども達が毎年楽しみながら様々な作品を創っています。</p>
	<br>
	<p>各 Dojo は、チャンピオンやメンターと呼ばれる協力者によって自主的に運営されています。プログラマーやデザイナーだけでなく、学生や教員、アーティストやフリーランス、起業家や投資家などの方々が分野横断的に協力しあって、それぞれの Dojo が継続的に運営されています。もちろん、参加者自身や参加者の親が運営に協力する事例も多いです。</p>
	<%= lazy_image_tag('/kata/coderdojo-zero.webp', alt: 'CoderDojo を支える方々の写真', style: 'margin-top: 30px; margin-bottom: 40px;', min: true) %>
	
	<h3 id='welcome'>まずは何から？ 🔰</h3>
	<p>初めての方を対象としたスライド資料やインタビュー動画があります。動画では CoderDojo の雰囲気も掴めてオススメです。</p>
	<ul style='margin: 30px auto;'>
	  <li>
	    <p><a href="/#welcome">CoderDojo へようこそ!</a> (スライド)</p>
	  </li>
	  <li>
	    <p><a href="https://www.youtube.com/watch?v=VEcFnEYT6mQ">CoderDojo ってなんかのおぅ?</a> (<a href='https://www.youtube.com/watch?v=VEcFnEYT6mQ'>広島弁版</a> / <a href='https://www.youtube.com/watch?v=o81Grj0VB24'>しまくとぅば版</a> / <a href='https://www.youtube.com/watch?v=c7ROVdcyk7s'>英語版</a>)</a></p>
	  </li>
	  <li>
	    <p><a href='https://www.youtube.com/watch?v=Cg20ltQrJIA'>楽しみながらプログラミング体験</a> (沖縄テレビ放送)</p>
	  </li>
	  <li>
	    <p><a href="https://www.youtube.com/watch?v=gLDue2xb1j8">あなたが Dojo に来る理由は何ですか?</a> (YouTube)</p>
	  </li>
	</ul>

	<p>CoderDojo の雰囲気は掴めたでしょうか? もっと詳しく知るには<strong>実際に参加してみるのが近道</strong>です。<%= link_to '日本各地の道場', dojos_path %></a>や<%= link_to '近日開催の道場', events_path %>、<%= link_to 'CoderDojo Zen (地図)', zen_url %> から最寄りの道場を探してみましょう!</p>

	<h3 id='details'>もっと詳しく知りたい人へ 🧐</h3>
	<p>CoderDojo は書籍・新聞、Webメディアでも紹介されています。CoderDojo について紹介している記事や書籍を新しい順でご紹介します。興味のあるトピックがあればぜひ読んでみてください。</p>

	<h4 id='newspapers' style='margin-top: 40px;'>📰 新聞・書籍</h4>
	<ul>
	  <li>
	    <p><a href="https://takadanobaba.keizai.biz/headline/883/">教育用コンピューター「micro:bit」1500台、全国の「コーダー道場」に寄贈 - 高田馬場経済新聞</a></p>
	  </li>
	  <li>
	    <p><a href="https://www.asahi.com/edua/article/14544431">全国200カ所に広がるプログラミングの「道場」- 石垣島では小学生が立ち上げ | 朝日新聞EduA</a></p>
	  </li>
	  <li>
	    <p><a href="https://twitter.com/yasulab/status/1428184542867648517">プログラミング楽しく学ぶ　ポケモン 自由に操作 - 読売新聞</a></p>
	  </li>
	  <li>
	    <p><a href="https://takadanobaba.keizai.biz/headline/656/">プログラミングでポケモンを動かすワークショップ、全国のコーダー道場で実現 - 高田馬場経済新聞</a></p>
	  </li>
	  <li>
	    <p><a href="https://amazon.co.jp/dp/B08BWFL2B9/">情報処理 2020年8月号 (特集「プログラミング教育の最前線」 - 地域におけるプログラミング学習コミュニティ CoderDojo の果たす役割)</a></p>
	  </li>
	  <li>
	    <p><a href="https://takadanobaba.keizai.biz/headline/467/">女子小中学生とグーグル女性エンジニアのオンライン交流「コーダー道場」参加者募集 - 高田馬場経済新聞</a></p>
	  </li>
	  <li>
	    <p><a href="https://mainichi.jp/articles/20190829/k00/00m/040/088000c">プログラミング教育の地域格差が課題に。民間団体や若手起業家らに注目 - 毎日新聞</a></p>
	  </li>
	  <li>
	    <p><a href="https://www.yomiuri.co.jp/teen/junior/jnews/20190708-OYT8T50018/">無料でプログラミングが学べる道場って、どんなところ？ - 読売新聞オンライン</a></p>
	  </li>
	  <li>
	    <p><a href="https://takadanobaba.keizai.biz/headline/187/">アイルランド発プログラミング道場の創始者が高田馬場でトークイベント</a></p>
	  </li>
	  <li>
	    <p><a href="https://takadanobaba.keizai.biz/column/1/">CoderDojo Japan 特集インタビュー - 高田馬場経済新聞</a></p>
	  </li>
	  <li>
	    <p><a href="http://www.impressrd.jp/news/171004/NP">シビックテックイノベーション - インプレスR&D</a></p>
	  </li>
	  <li>
	    <p><a href="https://shunan.keizai.biz/headline/210/">光市で子ども向けプログラミング道場 県内初の「CoderDojo」- 周南経済新聞</a></p>
	  </li>
	  <li>
	    <p><a href="https://mainichi.jp/articles/20170807/kei/00s/00s/014000c">Ｌｅｔ’ｓプログラミング コーダー道場に行ってみよう - 毎日新聞</a></p>
	  </li>
	  <li>
	    <p><a href="https://chofu.keizai.biz/headline/2420/">調布でプログラミング体験イベント盛況　参加者増加も人手不足が課題 - 調布経済新聞</a></p>
	  </li>
	  <li>
	    <p><a href="http://www.sotechsha.co.jp/pc/html/1151.htm">CoderDojo Japan公式ブック - Scratch(スクラッチ)でつくる! たのしむ!　プログラミング道場 | ソーテック社</a></p>
	  </li>
	  <li>
	    <p><a href="https://www.facebook.com/groups/coderdojo.jp/permalink/1067818389998226/">20年度、小学校で必修科　論理的思考育む機会にも - 朝日新聞</a></p>
	  </li>
	  <li>
	    <p><a href="https://www.amazon.co.jp/dp/4822238814/">日経Kids+ 子どもと一緒に楽しむ! プログラミング(日経ホームマガジン)</a></p>
	  </li>
	  <li>
	    <p><a href="http://www.sotechsha.co.jp/pc/html/1151.htm">CoderDojo Japan公式ブック - Scratch(スクラッチ)でつくる! たのしむ!　プログラミング道場 | ソーテック社</a></p>
	  </li>
	  <li>
	    <p><a href="https://www.facebook.com/groups/coderdojo.jp/permalink/1067818389998226/">20年度、小学校で必修化。論理的思考育む機会にも - 朝日新聞</a></p>
	  </li>
	  <li>
	    <p><a href="http://ec.nikkeibp.co.jp/item/books/255990.html">日経Kids＋　親子で始めるプログラミング </a></p>
	  </li>
	  <li>
	    <p><a href="https://store.toyokeizai.net/magazine/toyo/20160516/">今すぐ始めるプログラミング | 週刊東洋経済 2016年5月21日号</a></p>
	  </li>
	  <li>
	    <p><a href="http://book.impress.co.jp/books/1114101123">子どもにプログラミングを学ばせるべき 6 つの理由 「21 世紀型スキル」で社会を生き抜く - インプレス</a></p>
	  </li>
	  <li>
	    <p><a href="https://www.facebook.com/note.php?note_id=321408997945053&amp;id=204862942932993">Kids are coding it for themselves - Nikkei Asian Review</a></p>
	  </li>
	</ul>

	<h4 id='press-releases' style='margin-top: 40px;'>📜 Webメディア・プレスリリース</h4>
	<ul>
	  <li>
	    <p><a href="https://prtimes.jp/main/html/rd/p/000000007.000038935.html">ポケットサイズの教育用コンピューター「micro:bit」、CoderDojo に 1500 台寄贈</a></p>
	  </li>
	  <li>
	    <p><a href="https://www.pokemon-foundation.or.jp/activity/ict_education/">ポケモン・ウィズ・ユー財団 | 活動内容 | ICT教育支援</a></p>
	  </li>
	  <li>
	    <p><a href="https://prtimes.jp/main/html/rd/p/000000003.000038935.html">プログラミングでポケモンを動かすワークショップが、全国のCoderDojoで実施可能に。</a></p>
	  </li>
	  <li>
	    <p><a href="https://prtimes.jp/main/html/rd/p/000000002.000038935.html">TFabWorksと連携し、micro:bitなどの無償レンタルプログラムを全国のCoderDojo向けに提供</a></p>
	  </li>
	  <li>
	    <p><%= link_to 'How the CoderDojo community in Japan has adapted to change', foundation_url('/2020/06/18/how-the-coderdojo-community-in-japan-has-adapted-to-change/') %></p>
	  </li>
	  <li>
	    <p><a href="https://www.watch.impress.co.jp/kodomo_it/news/1203065.html">こどもとIT - Wi-Fi付シングルボードコンピューター「Halocode」を子どもたちと一緒にいじってみた - Impress Watch</a></p>
	  </li>
	  <li>
	    <p><a href="https://persol-tech-s.co.jp/i-engineer/human/coderdojo">プログラミング未経験だった経済学部生が、CoderDojoと出会いITの奥深さに気づけた理由 - i ENGINEER</a></p>
	  </li>
	  <li>
	    <p><a href="http://myfuna.net/archives/townnews/%E5%AD%90%E3%81%A9%E3%82%82%E3%81%8C%E7%84%A1%E6%96%99%E3%81%A7%E5%AD%A6%E3%81%B9%E3%82%8B%E3%80%8Ccoderdojo%EF%BC%88%E3%82%B3%E3%83%BC%E3%83%80%E3%83%BC%E9%81%93%E5%A0%B4%EF%BC%89%E3%80%8D%E3%80%81">子どもが無料で学べる「CoderDojo（コーダー道場）」、船橋でも今月末に開催へ - MyFunaねっと</a></p>
	  </li>
	  <li>
	    <p><a href="http://www.itmedia.co.jp/news/articles/1705/29/news132.html">Raspberry Pi、子どもプログラミング道場CoderDojoと統合 - ITmedia</a></p>
	  </li>
	  <li>
	    <p><a href="http://itpro.nikkeibp.co.jp/atcl/interview/14/262522/102600287/">「教わるのではなく学び取る」、子供向けプログラミング道場「CoderDojo」が全国で急増中：ITpro</a></p>
	  </li>
	  <li>
	    <p><a href="http://ict-enews.net/zoomin/17coderdojo/">子どものための無料プログラミング道場「CoderDojo」をはじめてみませんか - ICT教育ニュース</a></p>
	  </li>
	  <li>
	    <p><a href="http://berd.benesse.jp/special/manabi/manabi_10.php">「自由」というルールを共有し、プログラミングの学習機会を提供する CoderDojo Japan - ベネッセ教育総合研究所</a><a href="http://bakemono.jp/reading/blog/web/2256/"></a></p>
	  </li>
	  <li>
	    <p><a href="https://4yuuu.com/articles/view/473532">実は日本に40もある！参加費無料の「プログラミング道場」って？ | 4yuuu!</a></p>
	  </li>
	  <li>
	    <p><a href="http://bakemono.jp/reading/blog/web/2256/">子ども向け無料プログラミング道場、CoderDojoとは？　運営者に話を聞いてみた！ | バケモノ.jp</a></p>
	  </li>
	  <li>
	    <p><a href="https://ja.wikipedia.org/wiki/%E3%82%B3%E3%83%BC%E3%83%80%E3%83%BC%E9%81%93%E5%A0%B4">コーダー道場 - Wikipedia</a></p>
	  </li>
	  <li>
	    <p><a href="https://tech.a-listers.jp/2012/05/09/coderdojo-tokyo-1-james-whelton-in-japan/">CoderDojo Tokyo #1 と創始者ジェームズ・ウェルトン氏来日のまとめ | A-Listers</a></p>
	  </li>
	</ul>
	<br>
	<p>上記の他にも、一般社団法人 CoderDojo Japan が発表したプレスリリースや公式ニュースレターもあります。詳細は <%= link_to 'news.coderdojo.jp', news_url %> をご参照ください 📰</p>

	<h2 id="learn" class="headline headline-kata">📚 学ぶ</h2>
	<%= lazy_image_tag('/kata/learn.webp', alt: 'CoderDojo 梅田の様子', min: true, style: 'margin-bottom: 30px;') %>

	<p>CoderDojo は日本各地で<%= link_to '毎年 1,000 回以上', stats_path %>開催されているため、CoderDojo で得られた知見を元に教材が作られることも多いです。</p>
	<p>CoderDojo 関係者が制作した教材を中心にまとめてみたので、参加者や運営者、メンターなどのご参考になれば嬉しいです。</p>

	<h3 id='learn-scratch'>🐱 Scratch 資料</h3>
	<ul>
	  <li>
	    <h4 id='scratch-account'><a href="https://coderdojoowari.org/news/make-scratch-account/">【動画】Scratch アカウントの作成方法</a></h4>
	    <p>by <a href="https://coderdojoowari.org/">CoderDojo 尾張</a></p>
	  </li>
	  <li>
	    <h4 id='scratch-ninja'><a href="https://www.coderdojo-hiroshima.com/wp-content/uploads/2019/01/coderdojo-kamiyacho-beginner.pdf">プログラミング入門</a> + <a href="https://scratch.mit.edu/projects/119995141/">忍者テンプレート</a></h4>
	    <p>by <a href="https://www.coderdojo-hiroshima.com/">CoderDojo 紙屋町</a></p>
	  </li>
	  <li>
	    <h4 id='scratch-collect-gems'><a href="https://coderdojo-hommachi.github.io/assets/pdf/collect_gems.pdf">Collect gems - Learn Scratch</a></h4>
	    <p>by 尾篭 @ <a href="https://coderdojo-hommachi.doorkeeper.jp/">CoderDojo 本町</a></p>
	  </li>
	  <li>
	    <h4 id='scratch-first-mission'><a href="https://github.com/kwaka1208/FirstMission">FirstMission</a> + <a href="https://scratch.mit.edu/projects/68155398/">作品例</a></h4>
	    <p>by 若林 @ <a href="http://coderdojo-nara-ikoma.github.io/">CoderDojo 奈良・生駒</a></p>
	  </li>
	  <li>
	    <h4 id='scratch-getting-started'><a href="https://speakerdeck.com/yu_san_19/lets-getting-started-scratch">Scratch を始めよう！</a></h4>
	    <p>by 曽我 @ <a href="https://www.coderdojo-konan.jp/">CoderDojo 岡山 岡南</a></p>
	  </li>
	  <li>
	    <h4 id='scratch-shooting'><a href="https://coderdojochofu.hatenablog.jp/archive/category/Scratch%E3%81%A7%E3%82%B7%E3%83%A5%E3%83%BC%E3%83%86%E3%82%A3%E3%83%B3%E3%82%B0%E3%82%B2%E3%83%BC%E3%83%A0%E3%82%92%E4%BD%9C%E3%82%8D%E3%81%86%EF%BC%81">Scratch でシューティングゲームを作ろう!</a></h4>
	    <p>by おおやけ @ <a href="https://coderdojochofu.hatenablog.jp/">CoderDojo 調布</a></p>
	  </li>
	  <li>
	    <h4 id='scratch-tsume'><a href="https://scratch.mit.edu/studios/3675208/">詰め Scratch</a></h4>
	    <p>by おおやけ @ <a href="https://coderdojochofu.hatenablog.jp/">CoderDojo 調布</a></p>
	  </li>
	  <li>
	    <h4 id='scratch-resources'><a href="http://beyondbb.jp/CDmama/materials.html">プログラミング学習のための Scratch 教材集</a></h4>
	    <p>by 太田 @ <a href="https://beyondbb.jp/CDmama/index.html">CoderDojo 市川真間</a></p>
	  </li>
	  <li>
	    <h4 id='scratch-game-manuals'><a href="https://github.com/ikaken/CoderDojoMito/tree/master/%E4%BD%93%E9%A8%93%E3%82%B3%E3%83%BC%E3%83%8A%E3%83%BC%E3%82%B2%E3%83%BC%E3%83%A0%E4%BD%9C%E6%88%90%E3%83%9E%E3%83%8B%E3%83%A5%E3%82%A2%E3%83%AB">Scratch ゲーム作成マニュアル集</a></h4>
	    <p>by 井川 @ <a href="https://coderdojo-mito.com/">CoderDojo 水戸</a></p>
	  </li>
	  <li>
	    <h4 id='scratch-drill'><a href="https://www.dropbox.com/s/po0a9m4wo6fst57/%E3%82%B9%E3%82%AF%E3%83%A9%E3%83%83%E3%83%81%E3%83%89%E3%83%AA%E3%83%AB.pdf?dl=0">スクラッチドリル</a></h4>
	    <p>by 岩田 @ <a href="https://coderdojo-tempaku.com/">CoderDojo 天白</a></p>
	  </li>
	  <li>
	    <h4 id='scratch-hackathon'><a href="https://drive.google.com/file/d/1OJ2v05hxlTUA3OhyuGs9wHsSRDjr9_Wa/view">ハッカソンの実施例</a> (<a href="https://hackmd.io/s/Bk5iOvinN">ふりかえり</a>)</h4>
	    <p>by 岩田 @ <a href="https://coderdojo-tempaku.com/">CoderDojo 天白</a></p>
	  </li>
	  <li>
	    <h4 id='scratch-pair-programming'><a href="https://www.dropbox.com/s/1zz5rl28x5qkxx2/Scratch%E8%A8%AD%E8%A8%88%E5%9B%B3.pdf?dl=0">ペアプログラミング用 Scratch 設計図</a> + <a href="https://www.dropbox.com/s/xz5hzswr10vruao/Scratch%E8%A8%AD%E8%A8%88%E5%9B%B3.jpg?dl=0">利用例</a></h4>
	    <p>by 宇津 @ <a href="https://coderdojo-nagoya.github.io/">CoderDojo 名古屋</a></p>
	  </li>
	  <li>
	    <h4 id='scratch-maze-wall'><a href="https://coderdojoome.github.io/report/report024.html">Scratch で作ろう「自動で迷路づくり」</a></h4>
	    <p>by <a href="https://coderdojoome.github.io/">CoderDojo 青梅</a></p>
	  </li>
	  <li>
	    <h4 id='scratch-maze-character'><a href="https://coderdojoome.github.io/report/report025.html">Scratch で作ろう「迷路で逃走中」</a></h4>
	    <p>by <a href="https://coderdojoome.github.io/">CoderDojo 青梅</a></p>
	  </li>
	  <li>
	    <h4 id='scratch-cs-first'><a href="https://g.co/csfirst/ja">CS First - プログラミング教育を子どもたちに</a></h4>
	    <p>by <a href='https://japan.googleblog.com/2022/03/CSFirst.html'>Google</a></p>
	  </li>
	</ul>

	<h3 id='learn-microbit'>🎮 micro:bit 資料</h3>
	<ul>
	  <li>
	    <h4 id='microbit-programming'><a href="http://beyondbb.jp/SSP/SSPNo.3microbitA.pdf">micro:bit プログラミング (Scratch 3.0 対応)</a></h4>
	    <p>by 太田 @ <a href="https://beyondbb.jp/CDmama/">CoderDojo 市川真間</a></p>
	  </li>
	  <li>
	    <h4 id='microbit-getting-started'><a href="https://docs.google.com/presentation/d/1PX3geSydvXTEh2M7vwCV_tPIHNjqoHFVtrj09xT6a6Y/edit#slide=id.p">micro:bit をはじめよう</a></h4>
	    <p>by 松浦 @ <a href="https://coderdojo-ise.jimdo.com/">CoderDojo 伊勢</a></p>
	  </li>
	  <li>
	    <h4 id='microbit-game'><a href="https://www.coderdojo-hiroshima.com/%E5%AD%A6%E7%BF%92%E3%83%92%E3%83%B3%E3%83%88/microbit%E3%81%A7%E3%82%B2%E3%83%BC%E3%83%A0%E3%82%92%E4%BD%9C%E3%82%8B">micro:bit でゲームを作る</a></h4>
	    <p>by 小川 @ <a href="https://www.coderdojo-hiroshima.com/">CoderDojo 紙屋町</a></p>
	  </li>
	  <li>
	    <h4 id='microbit-hiragana'><a href="https://www.coderdojo-hiroshima.com/%E5%AD%A6%E7%BF%92%E3%83%92%E3%83%B3%E3%83%88/microbit%E3%81%A7%E3%81%B2%E3%82%89%E3%81%8C%E3%81%AA%E3%82%92%E8%A1%A8%E7%A4%BA%E3%81%95%E3%81%9B%E3%81%A6%E3%81%BF%E3%82%88%E3%81%86">micro:bit でひらがなを表示させて見よう</a></h4>
	    <p>by ナカオク @ <a href="https://www.coderdojo-hiroshima.com/">CoderDojo 紙屋町</a></p>
	  </li>
	  <li>
	    <h4 id='microbit-ble'><a href="https://memakura.github.io/s2microbit-ble/">Smi:bit / スマイビー (Scratch 2.0 対応)</a></h4>
	    <p>by 川嶋 @ <a href="https://coderdojo-nara-ikoma.github.io/">CoderDojo 奈良・生駒</a></p>
	  </li>
	  <li>
	    <h4 id='microbit-project'><a href="https://note.mu/coding/n/n74d63b44531c">micro:bit で自由研究</a></h4>
	    <p>by E研究員 @ <a href="https://coderdojo-kohokunt.connpass.com/">CoderDojo 港北ニュータウン</a>
	  </li>
	  <li>
	    <h4 id='microbit-shooting'><a href="https://docs.google.com/presentation/d/11xtjcrIBirIjfO3lndZbmVr_kQxaG4jm_4YhOKcfHf8/edit?usp=sharing">micro:bit 入門 - シューティングゲーム作成</a></h4>
	    <p>by たのすけ @ <a href="https://coderdojokoga.connpass.com/">CoderDojo 古河</a>
	  </li>
	</ul>

	<h3 id='learn-minecraft'>🛠 マインクラフト</h3>
	<ul>
	  <li>
	    <h4 id='learn-minecraft-cup-interview'><a href="https://minecraftcup.com/news/782/">Minecraftカップ取り組み事例：CoderDojo名護</a></h4>
	    <p>by <a href="https://minecraftcup.com/">Minecraftカップ全国大会</a></p>
	  </li>
	  <li>
	    <h4 id='learn-minecraft-edu-multi-play'><a href="https://docs.google.com/presentation/d/1gys6T_X51ldAB8Dqj_6uZAByBgBoGGWdSjN3d8AzSZU/edit?usp=sharing">教育版マイクラ体験会! できることを知る・マルチプレイで遊ぶ</a></h4>
	    <p>by <a href="https://coderdojo-kodaira.github.io/">CoderDojo こだいら</a></p>
	  </li>
	  <li>
	    <h4 id='learn-minecraft-edu-use-cases'><a href='https://docs.google.com/presentation/d/1KocK4rWxDVjQr2Q6oGGREgLgVA1GS-KMEMk58_WNQ0Y/edit?usp=sharing'>教育版マインクラフト最新事情 地域での活用を探る</a> (<a href="https://www.youtube.com/watch?v=VZrYVWErZFc&t=180s">YouTubeで見る</a>)</h4>
	    <p>by あるじさん @ <a href="https://coderdojo.hanare-hibari.info/">CoderDojo ひばりヶ丘</a></p>
	  </li>
	  <li>
	    <h4 id='learn-minecraft-cup-report'><a href='https://cd-kamagaya.yukiweb.jp/program/minecraftcup-report/'>マイクラカップ参加に向けた作品制作例</a></h4>
	    <p>by ゆっきーさん @ <a href="https://cd-kamagaya.yukiweb.jp/">CoderDojo 鎌ケ谷</a></p>
	  </li>
	  <li>
	    <h4 id='learn-minecraft-at-school'><a href='https://tkby.github.io/micra.github.io/'>小学校授業でMinecraft（マインクラフト）</a></h4>
	    <p>by Yoshinori Takebayashi さん @ <a href="https://twitter.com/CoderdojoHanda">CoderDojo Handa</a></p>
	  </li>
	</ul>

	<h3 id='learn-basics'>🤖 電子工作、Web制作など</h3>
	<ul>
	  <li>
	    <h4 id='design-zoom'><a href="https://docs.google.com/presentation/d/e/2PACX-1vTuTnuBEH8X6Dyw6KrfuCkH2yeJA0_90_OkCddDAgCcChxMOfOOMReNixLVmIBkItkLKJXEG9b8hoCp/pub?loop=false">Zoomの使い方 - はじめてのWeb会議の参加方法</a></h4>
	    <p>by とがぞの</p>
	  </li>
	  <li>
	    <h4 id='basics-chart'><a href="http://tsuyoshioshima.github.io/ninjachart/">まよえるニンジャのための やりたいことさがし</a></h4>
	    <p>
	      by とがぞの @ <a href="https://coderdojo-kodaira.github.io/">CoderDojo こだいら</a> (<a href="http://coderdojo-kodaira.blog.jp/archives/59932567.html">データ</a>提供)<br>
	      by 大島 @ <a href="http://coderdojo-saitama.com/">CoderDojo さいたま</a> (ツール提供)
	    </p>
	  </li>
	  <li>
	    <h4 id='basics-website'><a href="http://www.coderdojo-hiroshima.com/My_first_website_ja.pdf">はじめてのWebサイト</a></h4>
	    <p>by 鼠屋 @ <a href="https://www.coderdojo-hiroshima.com/">CoderDojo 広島</a></p>
	  </li>
	  <li>
	    <h4 id='basics-bistro-programming'><a href="https://crssrds.jp/bistro-programming/">ビストロプログラミング</a></h4>
	    <p>by 若林 @ <a href="https://coderdojo-nara-ikoma.github.io/">CoderDojo 奈良</a></p>
	  </li>
	  <li>
	    <h4 id='basics-arduino'><a href="https://lets.makewitharduino.com/">Let's Make With Arduino!</a> + <a href="https://docs.google.com/spreadsheets/d/1XNd1BK2tiDwk3GTYJ60RzaXj_kwvB3FDpDuXZVm-MCQ/edit">部品購入先リスト</a></h4>
	    <p>
	      by 岡田バナナ @ <a href="https://coderdojo-nishinomiya.info/">CoderDojo西宮 / 梅田</a><br>
	      by 塚本 @ <a href="https://coderdojo-nara-ikoma.github.io/">CoderDojo 奈良・生駒</a></p>
	  </li>
	  <li>
	    <h4 id='basics-snap'><a href="http://153.127.198.12/aizu/aboutSnap.pdf">Snapのこと（入門テキスト）</a></h4>
	    <p>by 斎藤 ＠ <a href="https://coderdojoaizu.mystrikingly.com/">CoderDojo 会津</a></p>
	  </li>
	  <li>
	    <h4 id='basics-pitagora'><a href="http://pegpeg.jp/tool/2014/09/09/686">スクラッチでピタゴラ装置を作ろう! (指導者向け)</a></h4>
	    <p>by 安川、石原 @ <a href="https://coderdojo-tokyo.connpass.com/">CoderDojo Tokyo (下北沢)</a>
	  </li>
	  <li>
	    <h4 id='basics-resources'><%= link_to '海外の Dojo 教材リソース (英語)', foundation_url('/resources/') %></h4>
	    <p>by <%= link_to 'CoderDojo Foundation', foundation_url %></p>
	  </li>
	</ul>

	<h3 id='learn-design'>🎨 イラスト、音声素材など</h3>
	<ul>
	  <li>
	    <h4 id='design-scratch-ninja'><a href="https://github.com/spicagraph/project-ninja">project-ninja (Scratchのイラスト素材集)</a></h4>
	    <p>by spicagraph</p>
	  </li>
	  <li>
	    <h4 id='design-scratch-game'><a href="https://scratch.mit.edu/projects/372335885/">アクションゲーム向けフリーイラスト素材 (Scratch向け)</a></h4>
	    <p>by yuki384</p>
	  </li>
	  <li>
	    <h4 id='design-sound-springin'><a href="https://www.springin.org/sound-stock/">フリー音源</a> <a href='https://www.springin.org/sound-stock/guideline/'>(Scratchでも利用可)</a></h4>
	    <p>by Springin’</p>
	  </li>
	  <li>
	    <h4 id='design-sound-effect'><a href="https://soundeffect-lab.info/">フリー効果音素材</a> <a href='https://soundeffect-lab.info/agreement/'>(Scratchでも利用可)</a></h4>
	    <p>by 効果音ラボ</p>
	  </li>
	  <li>
	    <h4 id='design-irasutoya'><a href="https://www.irasutoya.com/">いらすとや</a> <a href='https://www.irasutoya.com/p/faq.html'>(Scratchでは利用不可)</a></h4>
	    <p>by いらすとや</p>
	  </li>
	</ul>

	<h3 id='learn-workshop'>👥 ワークショップ資料</h3>
	<ul>
	  <li>
	    <h4 id='workshop-pokemon'><a href="/pokemon/workshop">プログラミングでポケモンをうごかしてみよう</a></h4>
	    <p>by ポケモン・ウィズ・ユー財団</p>
	  </li>
	  <li>
	    <h4 id='workshop-mekurun'><a href="https://mekurun.com/">メクルン - スライド形式で作りながら学べる学習サイト</a></h4>
	    <p>by Mekurun</p>
	  </li>
	  <li>
	    <h4 id='workshop-hour-of-code'><a href="https://code.org/learn">Hour of Code - １時間のチュートリアルまとめ</a></h4>
	    <p>by Code.org</p>
	  </li>
	  <li>
	    <h4 id='workshop-nekonige'><a href="https://swikis.ddo.jp/abee/77">ネコから逃げろ！ゲームを使ったスクラッチワークショップ</a></h4>
	    <p>by abee</p>
	  </li>
	  <li>
	    <h4 id='workshop-raspi'><a href="https://yasslab.jp/ja/workshops/raspi/">1.5時間で学ぶ! Scratch + Raspberry Pi ワークショップ</a></h4>
	    <p>by YassLab</p>
	  </li>
	  <li>
	    <h4 id='workshop-scratch'><a href="https://scratch.mit.edu/ideas">Scratch チュートリアル</a></h4>
	    <p>by MIT Media Lab</p>
	  </li>
	</ul>

	<h2 id="challenge" class="headline headline-kata">🏆 腕試し</h2>
	<%= lazy_image_tag('/kata/challenge.webp', alt: 'DojoCon Japan の様子', min: true, style: 'margin-bottom: 30px;') %>

	<p>プログラミングはやればやるほど日に日に力がついていきます。「プログラミングに少し慣れたかな」と感じたら、腕試しのつもりで<a href='#challenge-contents'>コンテスト</a>や<a href='#challenge-grants'>支援プログラム</a>に挑戦してみてはいかがでしょうか?</p>
	<p>空手や柔道に大会があるように、プログラミング界隈にも全国の応募者が毎年「ワザ」を磨き合う場があります。海外のコンテストであれば、世界中の同世代と学び合う機会もあります 🤝✨</p>
	<p>腕試しはワザを磨く近道です。以下のリストが「次の一歩」を踏み出すご参考になれば嬉しいです! 🏃💨</p>

	<h3 id='challenge-contents'>🏅 コンテスト</h3>
	<ul>
	  <li>
	    <h4 id='coolest-projects'><a href="https://coolestprojects.org/">Coolest Projects</a></h4>
	    <p>世界中の CoderDojo 関係者の作品が集まる展示会（<a href="https://online.coolestprojects.org/gallery">Showcase Gallery</a>）です。<a href="https://online.coolestprojects.org/events/cp-2021/gallery?project%5Bcountry_code%5D=JP&amp;project%5Bcategory%5D=">日本の CoderDojo 参加者の作品</a>も展示されています。日本語の解説記事は<a href='https://coderdojo-nara-ikoma.github.io/coolest_projects_international/'>コチラ</a>から！</p>
	  </li>
	  <li>
	    <h4 id='SecHack365'><a href="https://sechack365.nict.go.jp/">SecHack365</a></h4>
	    <p>セキュリティの未来を生み出すU-25ハッカソンです。国立研究開発法人情報通信研究機構（NICT）主催。サイバーセキュリティに関するソフトウェア開発や研究、実験、発表を１年間継続する長期ハッカソンです。</p>
	  </li>
	  <li>
	    <h4 id='TechKidsGrandPrix'><a href="https://techkidsschool.jp/grandprix2018/">Tech Kids Grand Prix</a></h4>
	    <p>小学生のためのプログラミングコンテストです。『21世紀を創るのは、君たちだ。』 をスローガンに掲げ、VISION・PRODUCT・PRESENTATIONの3つで評価。ゲーム部門と自由制作部門の2つがあります。</p>
	  </li>
	  <li>
	    <h4 id='pcn-programming-contest'><a href="http://pcn.club/contest/">PCNこどもプロコン</a></h4>
	    <p>小学生〜中学生を対象にしたプログラミング作品コンテストです。ジャンルや言語・作成ツールは問わず、半年以内に完成した作品であればどれでも応募することができます。</p>
	  </li>
	  <li>
	    <h4 id='exa-kids'><a href="https://exa-kids.org/">EXA KIDS (エクサキッズ)</a></h4>
	    <p>小・中学生対象の IT 競技コンテストです。競技種目にはドローンレースやロボットバトル、セキュリティコンテストやゲームトーナメントなどがあります。</p>
	  </li>
	  <li>
	    <h4 id='technovation-girls'><a href="https://www.technovation.waffle-waffle.org/">Technovation Girls</a></h4>
	    <p>次世代の女性IT起業家の育成を目的とした、10代の女性のための国際的なテクノロジー教育プログラム。1チーム1〜5人で、約3ヶ月間の制作期間で身近な課題を解決するアプリなどを開発する、チームワーク形式のコンペです。(参考: <a href='https://note.com/redapple0414/n/nccfdbf6d77ff'>2022年度の体験記事</a>)</p>
	  </li>
	  <li>
	    <h4 id='jjpc'><a href="http://jjpc.jp/">全国小中学生プログラミング大会</a></h4>
	    <p>PC・スマートフォン・タブレットで動作するプログラムやアプリ・ゲーム・ムービーなどのソフトウェア、ロボット、 電子工作などのハードウェアであれば使用言語や作品形式は問いません。のびのびとした発想に基づく作品を募集。</p>
	  </li>
	  <li>
	    <h4 id='zsjk-procon'><a href="https://zsjk.jp/">全国選抜小学生プログラミング大会</a></h4>
	    <p>全国の新聞社と共同通信社が主催している小学生を対象としたコンテストです。個人またはチームで参加でき、チームの場合は1チーム4名までとなっています。</p>
	  </li>
	  <li>
	    <h4 id='pg-stadium'><a href="https://jcdpgstadium.jp/">プログラミングスタジアム</a></h4>
	    <p>小学生を対象とした Scratch のコンテストです。初心者向けの自由研究部門と、中上級者向けのチャレンジ部門があります。</p>
	  </li>
	  <li>
	    <h4 id='ruby-procon'><a href="https://www.ruby-procon.net/">中高生国際Rubyプログラミングコンテスト in Mitaka</a></h4>
	    <p>プログラミング言語「<a href="https://www.ruby-lang.org/ja/">Ruby</a>」に特化したプログラミングコンテストです。「ゲーム部門」と「クリエイティブ部門」などが用意されています。</p>
	  </li>
	  <li>
	    <h4 id='smalruby-koshien'><a href="https://smalruby-koshien.jp/">スモウルビー甲子園 - Smalruby Programming Koshien</a></h4>
	    <p>高校生以下を対象としたプログラミング競技会です。Rubyベースのビジュアルプログラミング言語「<a href="https://miraino-manabi.mext.go.jp/content/287">スモウルビー</a>」を使って、ゲーム攻略 AI（人工知能）プログラムを作成し、参加者たちとゲームで対戦しながら頂点を目指します。</p>
	  </li>
	  <li>
	    <h4 id='appli-koshien'><a href="https://www.applikoshien.jp/">アプリ甲子園 - TEENS APPS AWARDS</a></h4>
	    <p>中学生や高校生、高専生を対象としたスマートフォンアプリ・Webサービス開発コンテストです。作品テーマは自由で、クリエイティブな力を発揮できる大会です。</p>
	  </li>
	  <li>
	    <h4 id='pg-battle'><a href="https://products.sint.co.jp/pg_battle">PG Battle - 企業・学校対抗プログラミングバトル</a></h4>
	    <p>3人でチームを組み、1人4問ずつ解き、3人の合計点で争うオンラインプログラミング大会。誰でも無料で参加できるオープンな大会です。</p>
	  </li>
	  <li>
	    <h4 id='world-robot-olympiad'><a href="https://www.wroj.org">WRO (World Robot Olympiad)</a></h4>
	    <p>世界中の子ども達が各々ロボットを製作し、プログラムにより自動制御する技術を競う、自立型ロボットによる国際的なロボットコンテストです。</p>
	  </li>
	  <li>
	    <h4 id='for-inspiration-and-recognition-of-science-and-technology'><a href="https://firstjapan.jp">FIRST (For Inspiration and Recognition of Science and Technology)</a></h4>
	    <p>LEGOなどを使った国際的なロボットコンテストです。6〜8歳の枠、9〜16歳の枠、15〜18歳の枠の３つがあります。</p>
	  </li>
	  <li>
	    <h4 id='newview-awards'><a href="https://newview.design/awards/">NEWVIEW AWARDS</a></h4>
	    <p>VR 作品や AR 作品を対象とした国際的コンテストです。「<a href="https://styly.cc">STYLY</a>」を使って制作・公開された VR/AR コンテンツ作品が対象となります。</p>
	  </li>
	  <li>
	    <h4 id='cesa-u18'><a href="https://u18.awards.cesa.or.jp/">日本ゲーム大賞 U18部門</a></h4>
	    <p>チームまたは個人で参加し、制作したゲームと、そのプレゼンテーションを競うコンテストです。予選を勝ち抜いたチームは、翌年の東京ゲームショウで行われる決勝大会および表彰式に参加できます。</p>
	  </li>
	  <li>
	    <h4 id='j-mediaarts-u18'><a href="https://j-mediaarts.jp/">文化庁メディア芸術祭 (U-18 賞)</a></h4>
	    <p><a href="https://www.bunka.go.jp/">文化庁</a>が主催するコンテストです。アート・エンターテインメント・アニメーション・マンガの４つの部門があり、それぞれの部門に U-18 賞があります。</p>
	  </li>
	  <li>
	    <h4 id='google-code-in'><a href="https://developers.google.com/open-source/gci/">Google Code-in (英語)</a></h4>
	    <p>18歳以下を対象とした、学生とオープンソースプロジェクトを繋ぐプログラムです。18歳以上向けの <a href="https://developers.google.com/open-source/gsoc/">Google Summer of Code</a> に年齢制限をかけたプログラムです。(参考: <a href="https://ja.wikipedia.org/wiki/Google_Summer_of_Code">Google Summer of Code - Wikipedia</a>)</p>
	  </li>
	  <li>
	    <h4 id='do-your-bit'><a href="https://microbit.org/ja/projects/do-your-bit/">do your :bit (一部英語)</a></h4>
	    <p>micro:bit 財団が主催する作品コンテストです。応募方法だけでなく、micro:bit を使った作品例や教材テキスト、ビデオ動画（英語）なども紹介されています。</p>
	  </li>
	  <li>
	    <h4 id='u22-procon'><a href="https://u22procon.com/">U-22 プログラミングコンテスト</a></h4>
	    <p>22歳以下を対象とした、自らのアイデアと技術で新しい未来を拓く作品提出型コンテストです。最高賞の受賞者は、優勝賞金に加えて、下記「<a href="#ipa-mitou">未踏事業</a>」への推薦枠も使えるようになります。</p>
	  </li>
	</ul>

	<h3 id='challenge-grants'>🎫 支援プログラム</h3>
	<ul>
	  <li>
	    <h4 id='kuma-foundation'><a href="https://kuma-foundation.org/">クマ財団</a></h4>
	    <p>クリエイターを目指す25歳以下の学生の活動支援・助成をする、返済義務を負わない「給付型奨学金」です。120万円の年間給付金が支援されます。</p>
	  </li>
	  <li>
	    <h4 id='shin-foundation'><a href="https://www.shinfdn.org/">山田進太郎 D&I 財団</a></h4>
	    <p>誰もが自身の能力を発揮し活躍できる社会の実現へ寄与するために、高校入学時点でSTEM (理系) を選択する女子学生への奨学金プログラムです。</p>
	  </li>
	  <li>
	    <h4 id='masason-foundation'><a href="https://masason-foundation.org/">孫正義育英財団</a></h4>
	    <p>25歳以下を対象とした、分野を問わず自らの才能を存分に開花させて志を実現するために、特定の学問専攻・研究・事業展開などを志している方向けの支援プログラムです。</p>
	  </li>
	  <li>
	    <h4 id='recruit-foundation'><a href="https://www.recruit-foundation.org/">江副記念リクルート財団</a></h4>
	    <p>25歳未満を対象とした、音楽·スポーツ·アート·学術の4分野で、「世界に挑戦し、ずば抜けた活躍を目指して」研鑽を積む日本の若者向け支援プログラムです。</p>
	  </li>
	  <li>
	    <h4 id='tobitate-japan'><a href="http://www.tobitate.mext.go.jp/hs/program/tech/index.html">トビタテ！留学JAPAN</a></h4>
	    <p>高校生・高専生・大学生を対象とした文科省主催の留学支援プログラムです。返済不要の奨学金や研修など通して、好きなことで留学できるのが特長です。詳細は<%= link_to 'コチラ', doc_path('tobitate-japan') %>をご参照ください。</p>
	  </li>
	  <li>
	    <h4 id='CyberSakura'><a href="https://www.cybersakura.jp/">CyberSakura</a></h4>
	    <p>中学〜高校生のチームを対象としたサイバーセキュリティ教育プログラムです。参加者は、セキュリティの脆弱性を解消する実践的なトレーニングなどを受けられます。</p>
	  </li>
	  <li>
	    <h4 id='cyboze-youth'><a href="https://labs.cybozu.co.jp/youth/requirements.html">サイボウズ・ラボユース</a></h4>
	    <p>個人のソフトウェア研究開発プロジェクトを応援する制度です。ラボユース生に採択された場合、サイボウズ・ラボ社員によるメンタリングや、最大103万円の奨励金などが受けられます。</p>
	  </li>
	  <li>
	    <h4 id='security-camp'><a href="http://www.ipa.go.jp/jinzai/camp/index.html">セキュリティ・キャンプ</a></h4>
	    <p>IPAが主催する、合宿形式で実践的な技術を習得するプログラムです。22歳以下の学生・生徒が対象。参加費、交通費すべて無料。</p>
	  </li>
	  <li>
	    <h4 id='mitoujr'><a href="https://jr.mitou.org/">未踏ジュニア</a></h4>
	    <p>17歳以下を対象とした小中高生クリエータ支援プログラムです。作りたいモノを作りながら、各業界で活躍するメンターからの定期的なフィードバックや、最大50万円の開発支援などが受けられます。</p>
	  </li>
	  <li>
	    <h4 id='ipa-mitou'><a href="https://www.ipa.go.jp/jinzai/mitou/portal_index.html">未踏事業</a></h4>
	    <p>25歳未満を対象とした人材発掘・育成事業プログラムです。独自の開発プロジェクトに対して、各業界で活躍するメンターからの定期的なフィードバックと約270万円の支援が行われます。(詳細: <a href="https://medium.com/@ukkaripon/%E6%9C%AA%E8%B8%8F%E3%81%AE%E9%AD%85%E5%8A%9B%E3%82%92%E7%9F%A5%E3%82%8D%E3%81%86-%E5%B0%8F%E4%B8%AD%E9%AB%98%E7%94%9F%E5%90%91%E3%81%91%E6%9C%AA%E8%B8%8F%E8%AA%AC%E6%98%8E%E4%BC%9A-%E3%82%92%E7%B5%82%E3%81%88%E3%81%A6-d67e88dfbcb2#.74e0d3bjz">未踏の魅力を知ろう：小中高生向け未踏説明会まとめ</a>)</p>
	  </li>
	  <li>
	    <h4 id='ipa-mitou-target'><a href="https://www.ipa.go.jp/jinzai/target/index.html">未踏ターゲット事業</a></h4>
	    <p>中長期的視点で革新的技術を活用しイノベーションを起こしうる、先進分野のIT人材の発掘・育成を目的としたプログラムです。年度ごとにターゲット分野を定め、その分野に取り組む人材からのプロジェクト提案に対して約360万円の支援が行われます（年齢制限はありません）。</p>
	  </li>
	  <li>
	    <h4 id='ipa-mitou-advanced'><a href="https://www.ipa.go.jp/jinzai/advanced/index.html">未踏アドバンスド事業</a></h4>
	    <p>未踏性、市場性、事業性、開発実現性を備えたITを活用した革新的なアイディア・プロトタイプを有し、ビジネスや社会課題の解決につなげたいと考えているIT人材の支援プログラムです。１つのプロジェクトに対して約1,000万円の支援が行われます（年齢制限はありません）。</p>
	  </li>
	</ul>

	<h2 id='startup' class="headline headline-kata">☯️ 立ち上げる</h2>
	<%= lazy_image_tag('/kata/startup.webp', alt: 'CoderDojo 調布の様子', min: true, style: 'margin-bottom: 30px;') %>

	<p>CoderDojo の参加者が自由に作品を創れるように、<strong>CoderDojo という「場」そのものを創ることもできます。</strong></p>
	<p>とはいえ誰でも今すぐ名乗れるわけではありません。<a href="https://www.j-platpat.inpit.go.jp/c1800/TR/JP-1357811-20170505/5C263F4C39C728E3508F107B2F2A6E9A167FE92DE098F8B2D84E210E18FDA614/49/ja">「CoderDojo」という国際商標</a>を使うためのルールを確認し、認可を得る必要があります。例えば CoderDojo では性別や人種を理由に参加拒否したり、参加者から料金を徴収することができません。もし会場費が掛かる場合であっても、募金やスポンサーなどで費用を工面する必要があります。</p>
	<p>本項では CoderDojo の立ち上げに当たって、皆さんが感じる不安や懸念をなるべく払拭できるように、立ち上げまでの流れや、資金を工面する方法、申請に必要な情報、承認後に得られる<a href="#support">法人からの支援</a>などを説明していきます。</p>

	<h3 id='startup-first-step'>🐾 立ち上げの最初の一歩</h3>
	<p>最初に CoderDojo の基本となるルール「CoderDojo 憲章」の内容を確認しましょう!</p>
	<ul>
	  <li><strong><%= link_to 'CoderDojo 憲章を見る', charter_path %></strong></li>
	</ul>
	<br>
	<p>CoderDojo 憲章を確認し、ご同意していただけるようであれば、下記の運営者向け資料に目を通して、より具体的なイメージを掴んでいきます。</p>
	<ul>
	  <li>
	    <p>
	      <strong><a href="https://bit.ly/coderdojo-starter-kit-for-champions">Dojo 運営・企画資料 - はじめて CoderDojo を立ち上げる方のために</a></strong><br>
	      （制作: <a href="https://coderdojo-kodaira.github.io/">CoderDojo Kodaira</a>）
	    </p>
	  </li>
	  <li>
	    <p>
	      <strong><%= link_to '資金を募るときの活動事例', doc_path('fundraising-methods') %></strong></a> / <strong><%= link_to '資金を募るときのガイドライン', doc_path('fundraising-guidelines') %></strong></a><br>
	      （会場費などの実費を工面する場面でお役立てください）
	    </p>
	  </li>
	</ul>
	<br>
	<p>具体的なイメージが掴めたら、準備・申請の手続きを進めていきましょう!</p>

	<h3 id='startup-flowchart'>☯️ Dojo の設立・初回開催までの流れ<span style="font-size: 20px; font-weight: 400;">（制作: <a href="https://coderdojo-kodaira.github.io/">CoderDojo Kodaira</a>）</span></h3>
	<%= lazy_image_tag('/kata/startup-flowchart.webp', alt: 'CoderDojo の立ち上げから開催までのフローチャート', style: "margin-bottom: 50px;", min: true) %>

	<h3 id='startup-create-account'>🆕 アカウント登録から、申請までの流れ</h3>
	<p>CoderDojo の申請には、大きく分けて次の3つのステップがあります。</p>
	<ol style="margin: 30px auto;">
	  <li>
	    <p>Raspberry Pi アカウントを作成する</p>
	  </li>
	  <li>
	    <p>Champion (代表者) 情報を登録する</p>
	  </li>
	  <li>立ち上げる CoderDojo の情報を入力し、申請する</li>
	</ol>

	<p>本セクションでは「アカウントはまだ持っていない」という状態から、CoderDojo 申請までの流れをまとめています。既にアカウントをお持ちの場合、以下の 2. から読み進めてください。</p>
	<br>
	<ol>
	  <li>
	    <p>まずは CoderDojo を申請するために、Raspberry Pi アカウント (※) を作成します</p>
	    <p><strong>・</strong><a href="https://my.raspberrypi.org/signup">アカウント登録フォーム</a><br>
	      　13歳以上の場合は「13 and over」をクリックしてください。<br>
	      <br>
	      <small>※
	      <a href='https://coderdojo.com/wp-content/cache/all/2017/06/01/coderdojo-%e3%81%a8-raspberry-pi%e3%80%81%e4%b8%a1%e7%b5%84%e7%b9%94%e3%81%8c%e6%8f%90%e6%90%ba%e3%81%b8//index.html'>CoderDojo と Raspberry Pi の合併</a>に伴い、現在は１つのシステムに統合されています。概要は <a href="https://techcrunch.com/2017/05/26/raspberry-pi-foundation-and-coderdojo-to-code-club-together/">TechCrunch の記事（英語）</a>をご参照ください。</small></p>
	    <br>
	  </li>
	  <li>
	    <p>アカウント作成後、作成したアカウントで <%= link_to 'CoderDojo Zen にログイン', zen_url('/login') %>してください (ログイン済みの場合は不要です)</p>
	    <br>
	  </li>
	  <li>
	    <p>ログイン後、画面上部にある「<%= link_to '道場を始める (Create a Dojo)', zen_url('/dashboard/start-dojo') %>」ボタンをクリックし、必要な情報を入力していきます。<br>
	      <small><strong>✔︎ ページ最下部から言語を切り替えられます。</strong>日本語や英語にも対応しているので、お好きな言語に切り替えてください。</small>
	    </p>
	    <br>
	  </li>
	  <li>
	    <p>入力後、<%= link_to 'CoderDojo 憲章', zen_url('/charter') %>に同意するかどうかを尋ねられます。内容をよくご確認していただき、問題なければ同意して次に進んでください。</p>
	    <br>
	  </li>
	  <li>
	    <p>同意すると、Dojo 立ち上げ時のチェック項目が表示されます。１つずつ確認しながら進めてください (<a href="/img/how-to-start-a-dojo.png">参考画面</a>)</p>
	    <p><small><strong>✔︎ </strong>チェック項目には、連絡先を設定したか、ボランティアに当てはあるか、安全性を考慮しているかなどがあります。申請時にすべての情報を完璧に揃える必要はありません! 運営に役立つチェックリストとしてご活用ください 📑</small></p>
	    <br>
	  </li>
	  <li>
	    <p>最後に、登録する道場名などの情報を入力していきます (<a href="/img/how-to-name-a-dojo.png">参考画面</a>)</p>
	    <p><small>️<strong>✔︎ </strong> 「道場名」には <code>地域名</code> または <code>地域名 @ スポンサー名</code> を入力できます。日本語でも OK で、例えば <code>諏訪湖</code> や <code>中央林間</code>、<code>五反田 @ freee</code> と入力すると<a href='https://zen.coderdojo.com/find'>道場検索システム (CoderDojo Zen)</a> からも日本語で表示されるようになります。なお、CoderDojo であることは自明のため、<strong>「CoderDojo」という接頭語は不要</strong>です。詳しくは「<strong><%= link_to 'CoderDojo 命名ガイドライン', doc_path('naming-guidelines') %></strong>」をご参照ください。</small></p>
	    <br>
	  </li>
	  <li>
	    <p>以上で CoderDojo の申請手続きは完了です! 👏</p>
	    <p><small>️<strong>✔︎ </strong> 後日、CoderDojo Foundation からメールが届きます (<a href="https://esa-pages.io/p/sharing/7542/posts/140/2963352d1fa7db71f1e6.html">メールの例</a>)。無事に承認されると <%= link_to '道場検索システム (CoderDojo Zen)', zen_url %> でも表示されるようになります。詳細は「<strong><%= link_to 'CoderDojo が承認されているかの確認方法', doc_path('how-to-check-dojo-status') %></strong>」をご参照ください。</small></p>
	    <br>
	  </li>
	</ol>
	<p>もし分からないことがあれば、<a href="https://www.facebook.com/groups/coderdojo.jp/">Facebook Group</a> やお近くの Dojo 運営者にご相談ください ☯️ 🏃💨 実際に申請したことのある経験者（各 Dojo の代表者）に聞いてみるのもオススメです 😉</p>
	<br>
	<p><small><strong>✍️ NOTE:</strong> 申請が無事受理されると、毎年11月〜12月ごろに年度調査アンケートのメール（英語）が届くようになります。未回答の道場には後日<a href="https://www.facebook.com/groups/coderdojo.jp/permalink/2018794594900596/">「現在活動中ですか?」という確認メール</a>が届きます。このメールも未回答だと「活動停止中」と判断されるのでご注意ください。</small></p>
	<br>
	<p><strong>お疲れ様でした!</strong> 👏✨ 以上で一連の手続きは終わりになります。Dojo として承認されたら、次の項目「<strong><a href="/kata#support">支援</a></strong>」でまとめている各種プログラムに申請することができます。皆さんの CoderDojo 運営の一助になれば嬉しいです! 😸</p>


	<h2 id='support' class="headline headline-kata">🤝 支援・資料</h2>
	<%= lazy_image_tag('/kata/support.webp', alt: 'CoderDojo in Minecraft', min: true, style: 'margin-bottom: 30px') %>

	<p><a href="/kata#startup">CoderDojo を立ち上げ</a>、承認された Dojo がスムーズに運営できるように、様々な支援・資料が用意されています。CoderDojo 運営者を対象とした<a href='#support-programs'>パートナー法人による支援</a>や、CoderDojo 関係者が作成した<a href='#support-docs'>運営者向け資料</a>が皆さんの Dojo 運営に役立てば嬉しいです 😌💖</p>

	<div class='btn-cover' style="margin-top: 20px;">
	  <a class='btn-blue' href='#support-programs'>
	    <i class='far fa-gift'></i>
	    法人による支援を見る
	  </a>
	  <a class='btn-blue' href='#support-docs'>
	    <i class='far fa-yin-yang'></i>
	    運営者向け資料を見る
	  </a>
	</div>

	<h3 id='support-programs' style='padding-top: 80px;'>🎁 パートナー法人からの支援</h3>
	<ul>
	  <li>
	    <h4 id='coderdojo-globalslack'>CoderDojo Global Slack (提供: <%= link_to 'CoderDojo Foundation', foundation_url %>)</h4>
	    <p>世界中の Dojo 関係者が集まる連絡網 (Slack) があります。英語でのコミュニケーションとなりますが、世界中の Dojo と情報交換できる貴重な場ですので、よければ<b><%= link_to 'コチラ', foundation_url('/coderdojo-global-slack/') %></b></a>から申請してみてください。</p>
	    <br>
	  </li>
	  <li>
	    <h4 id='support-online-sessions'>オンライン開催用ビデオ会議 (提供: <%= link_to 'CoderDojo Foundation', foundation_url %>)</h4>
	    <p>CoderDojo 承認時にもらえる「道場名@coderdojo.com」というメールアドレスでビデオ会議サービスの <a href="https://apps.google.com/intl/ja/meet/">Google Meet</a> を使うと、時間制限などが一部解除された状態でご利用いただけます。</p>
	    <br>
	  </li>
	  <li>
	    <h4 id='coderdojo-japan-champions'>CoderDojo Japan Champions (提供: <a href="https://takadanobaba.keizai.biz/column/1/">CoderDojo Japan</a>)</h4>
	    <p>日本全国の Dojo 代表者限定の非公開 Facebook グループもあります。このグループでは運営に関する相談や、運営者向けの非公開情報などを共有しています。Dojo が承認されたら<a href="https://www.facebook.com/groups/coderdojo.jp.champions/"><strong>コチラ</strong></a>からお気軽に申請してください。</p>
	    <br>
	  </li>
	  <li>
	    <h4 id='coderdojo-promotion'>coderdojo.jp と近日開催の道場への掲載 (提供: <%= link_to 'CoderDojo Japan', root_path %>)</h4>
	    <p>希望する Dojo は、いつでも <%= link_to 'coderdojo.jp に掲載', dojos_path  %>することができます。また、<a href="https://www.doorkeeper.jp/">Doorkeeper</a> や <a href="https://connpass.com/">connpass</a> でイベントを管理・作成している場合は、<%= link_to '近日開催の道場', events_path %>からイベントが自動的に周知されるようになります。準備ができたら<b><%= link_to 'コチラ', signup_path %></b>から申請してください! 😸</p>
	    <br>
	  </li>
	  <li>
	    <h4 id='doorkeeper-sponsorship'>Doorkeeper スポンサーシップ (提供: <a href="https://yasslab.jp/ja/">YassLab</a> & <a href="https://www.doorkeeper.jp/">Doorkeeper</a>)</h4>
	    <p>希望する Dojo は、広告無しで使えるイベント管理サービス「<a href="https://www.doorkeeper.jp/">Doorkeeper</a>」を無償でご利用いただけます。ご希望の Dojo は、YassLab 社が提供する <a href="https://yasslab.jp/ja/doorkeeper/"><strong>Doorkeeper スポンサーシップ</strong></a>からお気軽に申請してください。(<a href='https://coderdojo-japan.doorkeeper.jp/events/91507'>イベント例</a>)</p>
	    <br>
	  </li>
	  <li>
	    <h4 id='sakura-internet'>さくらのクラウド (提供: <a href="https://www.sakura.ad.jp/">さくらインターネット</a>)</h4>
	    <p>希望する Dojo は、さくらインターネットが提供するクラウドサーバー (<a href="http://cloud.sakura.ad.jp/">さくらのクラウド</a>) を利用することができます。サーバーを得るための手順については、CoderDojo Japan が提供する <a href="https://github.com/coderdojo-japan/dojopaas"><strong>DojoPaaS</strong></a> をご参照ください。</p>
	    <br>
	  </li>
	  <li>
	    <h4 id='progate'>Progate 法人プラン (提供: <a href="https://prog-8.com/">Progate</a>)</h4>
	    <p>希望する Dojo は、プログラミング学習サービス「Progate」の<a href="https://prtimes.jp/main/html/rd/p/000000045.000015015.html">法人プラン</a>が利用できます。利用方法については、全国の Dojo 代表者が参加する <a href="https://www.facebook.com/groups/coderdojo.jp.champions/permalink/2602207313204212/"><strong>Champions グループの投稿</strong></a>をご参照ください。</p>
	    <br>
	  </li>
	  <li>
	    <h4 id='hackforplay'>HackforPlay 法人プラン (提供: <a href="http://hackforplay.xyz/">HackforPlay</a>)</h4>
	    <p>希望する Dojo は、ゲームを作りながらプログラミングが学べるWebサービス「HackforPlay」の<a href="https://www.hackforplay.xyz/pages/post/enterprise">法人プラン</a>を利用できます。利用方法については、全国の Dojo 代表者が参加する <a href="https://www.facebook.com/groups/coderdojo.jp.champions/permalink/2801692616589013/"><strong>Champions グループの投稿</strong></a>をご参照ください。</p>
	    <br>
	  </li>
	  <li>
	    <h4 id='esa'>ドキュメント共有サービス (提供: <a href="https://esa.io/">esa.io</a>)</h4>
	    <p>自律的なチームのためのドキュメント共有サービス「<a href="https://esa.io/">esa.io</a>」が利用できます。「情報を育てる」がコンセプトのサービスで、メンターや参加者と共有したい情報を貯めていきたいときに便利です。詳細は<a href="https://docs.esa.io/posts/239"><strong>コチラ</strong></a>から! (\( ⁰⊖⁰)/)</p>
	    <br>
	  </li>
	  <li>
	    <h4 id='tfabworks'>TFabWorks製品の無償レンタル (提供: <a href="https://tfabworks.com/">TFabWorks</a>)</h4>
	    <p>希望する Dojo は、TFabWorks 製品を中心とした micro:bit キットの無償レンタルプログラムに申請できます。ご希望の道場は、TFabWorks 社が提供する<a href="https://tfabworks.com/coderdojo-rental/"><strong>コチラ</strong></a>からお申し込みください。</p>
	    <br>
	  </li>
	  <li>
	    <h4 id='grips'>教育用ロボットアームの無償レンタル (提供: <a href="https://grips.co.jp/">GRIPS</a>)</h4>
	    <p>希望する Dojo は、プログラミングできる教育用ロボットアーム「Dobot Magician Lite」がレンタルできます。同プログラムの詳細および申込フォームについては<strong><a href="https://news.coderdojo.jp/2021/04/28/dobot-rental-program/">コチラ</a></strong>をご参照ください。</p>
	    <br>
	  </li>
	  <li>
	    <h4 id='pokemon'>プログラミングでポケモンをうごかしてみよう (提供: <a href="https://news.coderdojo.jp/2021/04/23/programming-with-pokemon/">ポケモン</a>)</h4>
	    <p>希望する Dojo は、所定の手続きを経た上で、ワークショッププログラム「プログラミングでポケモンをうごかしてみよう」を実施できます。詳細は <strong><a href="https://www.facebook.com/groups/coderdojo.jp.champions/posts/3845580288866902/">Champions グループの投稿</a></strong>をご参照ください。</p>
	    <br>
	  </li>
	  <li>
	    <h4 id='diver-learnings'>Ruby・Python・Java・機械学習などの学習コンテンツ (提供: <a href="https://diveintocode.jp/">DIVE INTO CODE</a>)</h4>
	    <p>希望する Dojo は、所定の手続きを経た上で、様々なITスキルを学習者自身のペースで学べるサービス「DIVER Learnings」をご利用できます。詳細は <strong><a href="https://www.facebook.com/groups/coderdojo.jp.champions/permalink/4599711856787071/">Champions グループの投稿</a></strong>をご参照ください。</p>
	    <br>
	  </li>
	  <li>
	    <h4 id='minecraft-cup'>教育版マインクラフトのライセンス貸出 (提供: <a href="https://minecraftcup.com/">Minecraftカップ</a>)</h4>
	    <p>希望する Dojo は、所定の手続きを経た上で、教育版マインクラフトのライセンス貸出プログラムに申請できるようになりました。詳細は <strong><a href="https://news.coderdojo.jp/2022/05/31/partnership-with-minecraftcup/">news.coderdojo.jp のお知らせ記事</a></strong>をご参照ください。</p>
	    <br>
	  </li>
	</ul>
	<br>
	<p>一般社団法人 CoderDojo Japan では様々な企業・団体との連携を承っています。全国の CoderDojo との協力・提携に興味ありましたら、下記ページをご参照してください。</p>
	<p><strong><%= link_to '🤝 パートナーシップのご案内 - CoderDojo Japan', doc_path('about-partnership') %></strong></p>

	<h3 id='support-docs' style='padding-top: 80px;'>📚 Dojo 運営者向け資料まとめ</h3>
	<p><a href='#support-programs'>法人からの支援</a>だけでなく、CoderDojo コミュニティが CoderDojo コミュニティのために制作した資料もあります。皆さんの Dojo 運営にお役立てください 😉</p>
	<br>
	<ul>
	  <li>
	    <h4 id='doc-dojo-startup'><a href="https://bit.ly/coderdojo-starter-kit-for-champions">Dojo 運営・企画資料 - はじめて CoderDojo を立ち上げる方のために</a></h4>
	    <p>by <a href="https://coderdojo-kodaira.github.io/">CoderDojo Kodaira</a></p>
	  </li>
	  <li>
	    <h4 id='doc-hibarigaoka-example'><a href="https://www.slideshare.net/mniizuma/ss-123239560">CoderDojo ひばりヶ丘の活動事例</a></h4>
	    <p>by <a href="https://coderdojo.hanare-hibari.info/">CoderDojo ひばりヶ丘</a></p>
	  </li>
	  <li>
	    <h4 id='doc-mizonokuchi-example'><a href="https://www.papacoder.net/coderdojo-how-to-operate/">【CoderDojo溝口】道場運営の裏側全部見せます</a></h4>
	    <p>by <a href="https://coderdojo-mizonokuchi.connpass.com/">CoderDojo 溝口</a></p>
	  </li>
	  <li>
	    <h4 id='doc-owari-example'><a href="https://coderdojoowari.org/news/how-to-start-owari">CoderDojo 尾張の作り方</a></h4>
	    <p>by <a href="https://coderdojoowari.org/">CoderDojo 尾張</a></p>
	  </li>
	  <li>
	    <h4 id='doc-online-sessions'><a href="https://docs.google.com/document/d/1ufOVvxD8wLBvDixgE-33Ltroeae8cQ2DlsEsKUkaK00/edit">オンライン道場の開催方法</a></h4>
	    <p>by <a href="https://coderdojoowari.org/">CoderDojo 尾張</a></p>
	  </li>
	  <li>
	    <h4 id='doc-private-dojo'><a href="https://education.microsoft.com/Story/Lesson?token=1Ofpv">Private CoderDojo を学校内に立ち上げる方法</a></h4>
	    <p>by <a href="https://sites.google.com/view/coderdojomusamura/">CoderDojo 武蔵村山</a></p>
	  </li>
	  <li>
	    <h4 id='doc-fundrasing-methods'><%= link_to '資金を募るときの活動事例', doc_path('fundraising-methods') %></h4>
	    <p>by <%= link_to 'CoderDojo Japan', root_path %></p>
	  </li>
	  <li>
	    <h4 id='doc-fundraising-guidelines'><%= link_to '資金を募るときのガイドライン', doc_path('fundraising-guidelines') %></h4>
	    <p>by <%= link_to 'CoderDojo Japan', root_path %></p>
	  </li>
	  <li>
	    <h4 id='doc-for-contribution'><a href="https://www.slideshare.net/y3sei/dojoconjapan2018workshopcontribute-by-hikari">自分にできる貢献の仕方を見つけよう</a></h4>
	    <p>by <a href="https://coderdojo-hikari.com">CoderDojo 光</a></p>
	  </li>
	  <li>
	    <h4 id='doc-for-mentors-in-kichijoji'><a href="https://kichijojijp.wixsite.com/coderdojo/for-menter">メンターをする人へ</a></h4>
	    <p>by <a href="https://kichijojijp.wixsite.com/coderdojo">CoderDojo 吉祥寺</a></p>
	  </li>
	  <li>
	    <h4 id='doc-for-mentors-in-nishinomiya'><a href="https://www.slideshare.net/tomoyukisugita/dojocon-japan2018">メンターの心得</a></h4>
	    <p>by <a href="http://coderdojo-nishinomiya.info/">CoderDojo 西宮/梅田</a></p>
	  </li>
	  <li>
	    <h4 id='doc-mentor-agreement-example'><a href="https://github.com/coderdojo-nishinomiya-umeda/document/blob/master/MentorAgreement.md">メンター同意書の作成例</a></h4>
	    <p>by <a href="http://coderdojo-nishinomiya.info/">CoderDojo 西宮/梅田</a></p>
	  </li>
	  <li>
	    <h4 id='doc-mentoring-without-technical-skills'><a href="https://www.slideshare.net/taniokah/mentoring-without-technical-skills-124569781">Mentoring without Technical Skills (日本語訳)</a></h4>
	    <p>by <a href="https://cdtokushima.github.io/open/">CoderDojo 徳島</a></p>
	  </li>
	  <li>
	    <h4 id='doc-for-mentors-in-owari'><a href="https://docs.google.com/presentation/d/1H4zLDRIP28S7tkoARKo2qoPybNrLViGsK8VYsAXDM7g/edit#slide=id.p">メンター・サポーター事前打ち合わせ</a></h4>
	    <p>by <a href="https://coderdojoowari.org/">CoderDojo 尾張</a></p>
	  </li>
	  <li>
	    <h4 id='doc-for-mentors-in-ise'><a href="https://drive.google.com/file/d/0B0iP2Y_R2PEEZHcwQjNmSjR3SUk/view">CoderDojo メンター用資料</a></h4>
	    <p>by <a href="https://coderdojo-ise.jimdo.com/">CoderDojo 伊勢</a></p>
	  </li>
	  <li>
	    <h4 id='doc-zen-signup'><a href="https://coderdojo-gifu.org/how-to-register">Zen のアカウント作成 & 参加申し込み方法</a></h4>
	    <p>by <a href="https://coderdojo-gifu.org/">CoderDojo 岐阜</a></p>
	  </li>
	  <li>
	    <h4 id='doc-for-emergency'><a href="https://coderdojoowari.org/about/emergency">台風・災害・緊急の時</a></h4>
	    <p>by <a href="https://coderdojoowari.org/">CoderDojo 尾張</a></p>
	  </li>
	  <li>
	    <h4 id='doc-terms-example-in-owari'><a href="https://docs.google.com/document/d/1_BHBxqb_uK1bHV-_ZA7nx9wADmKV8rsNWebkV3QUNOQ/edit#heading=h.liei7p1jhrxs">CoderDojo Owari 規約</a></h4>
	    <p>by <a href="https://coderdojoowari.org/">CoderDojo 尾張</a></p>
	  </li>
	  <li>
	    <h4 id='doc-terms-example-in-kodaira'><a href="https://drive.google.com/file/d/0B4RWVH6FrM8aUl9zdldWXzJBWGM/view">コーダー道場こだいら 会則</a></h4>
	    <p>by <a href="https://coderdojo-kodaira.github.io/">CoderDojo Kodaira</a></p>
	  </li>
	  <li>
	    <h4 id='doc-dojo-to-dojo'><a href="https://www.slideshare.net/togazo/decadojo7may2017">DojoとDojo、そして地域！みんなつながる合同イベントのすすめ</a></h4>
	    <p>by <a href="https://coderdojo-kodaira.github.io/">CoderDojo Kodaira</a></p>
	  </li>
	  <li>
	    <h4 id='doc-create-a-dojo'><%= link_to 'ボランティアのための安全保護', 'https://projects.raspberrypi.org/ja-JP/projects/safeguarding-module/' %></h4>
	    <p>by <%= link_to 'Raspberry Pi Foundation', 'https://www.raspberrypi.org/coderdojo/' %></p>
	  </li>
	  <li>
	    <h4 id='doc-workshop-example'><a href="https://bit.ly/coderdojo-facilitators-guide">CoderDojo 初参加者向けワークショップ (スライド資料)</a></h4>
	    <p>by <%= link_to 'CoderDojo Foundation', foundation_url %> & <a href="https://dojocon2019.coderdojo.jp/workshop/1/">DojoCon Japan 実行委員会</a></p>
	  </li>
	  <li>
	    <h4 id='doc-recommended-practice'><%= link_to '推奨活動ガイドライン', doc_path('recommended-practice') %></h4>
	    <p>by <%= link_to 'CoderDojo Foundation', foundation_url %> & <%= link_to 'CoderDojo Japan', root_path %></p>
	  </li>
	  <li>
	    <h4 id='doc-nameing-guidelines'><%= link_to 'CoderDojo 命名ガイドライン', doc_path('naming-guidelines') %></h4>
	    <p>by <%= link_to 'CoderDojo Foundation', foundation_url %> & <%= link_to 'CoderDojo Japan', root_path %></p>
	  </li>
	  <li>
	    <h4 id='doc-regional-license'><%= link_to 'CoderDojo 地域ライセンス契約書 (日英併記)', doc_path('regional-license') %></h4>
	    <p>by <%= link_to 'CoderDojo Foundation', foundation_url %> & <%= link_to 'CoderDojo Japan', root_path %></p>
	  </li>
	  <li>
	    <h4 id='doc-create-a-dojo'><%= link_to '地元でCoderDojoを始める', foundation_url('/ja-JP/start-a-dojo/') %></h4>
	    <p>by <%= link_to 'CoderDojo Foundation', foundation_url %></p>
	  </li>
	</ul>
	<br>

	<h3 id='references'>🌐 他、関連リソース</h3>
	<p>CoderDojo は国際的なコミュニティで、海外でも大きな輪が広がっています。ぜひ国内外の CoderDojo と繋がってみてください。</p>
	<br>
	<h4>英語リソース <span style="font-weight: normal; font-size: 14px;">(運営: CoderDojo Foundation)</span></h4>
	<ul>
	  <li>
	    <p><%= link_to 'Webサイト', foundation_url('/') %> (coderdojo.com)</p>
	  </li>
	  <li>
	    <p><%= link_to '世界の道場', zen_url %> (CoderDojo Zen)</p>
	  </li>
	  <li>
	    <p><a href="https://twitter.com/CoderDojo">Twitter アカウント</a> (@CoderDojo)</p>
	  </li>
	  <li>
	    <p><%= link_to 'CoderDojo Global Slack', foundation_url('/coderdojo-global-slack/') %> (チャットツール)</p>
	  </li>
	  <li>
	    <p><a href="https://github.com/coderdojo">GitHub Organization</a> (ソースコード共有用)</p>
	  </li>
	</ul>
	<br>
	<h4>日本語リソース <span style="font-weight: normal; font-size: 14px;">(運営: CoderDojo Japan)</span></h4>
	<ul>
	  <li>
	    <p><%= link_to 'DojoCast', podcasts_path %> (Podcast)</p>
	  </li>
	  <li>
	    <p><%= link_to 'DojoLetter', news_path %> (Newsletter)</p>
	  </li>
	  <li>
	    <p><%= link_to 'DojoChannel', 'https://www.youtube.com/CoderDojoJapan' %> (YouTube)</p>
	  </li>
	  <li>
	    <p><%= link_to 'CoderDojo Japan', 'https://twitter.com/CoderDojoJapan' %> (Twitter)</p>
	  </li>
	  <li>
	    <p><%= link_to 'CoderDojo Japan', 'https://www.facebook.com/groups/coderdojo.jp' %> (Facebook)</p>
	  </li>
	  <li>
	    <p><%= link_to 'CoderDojo Japan', 'http://github.com/coderdojo-japan' %> (GitHub)</p>
	  </li>
	</ul>

	<h2 id='faq' class="headline headline-kata">📑 FAQ</h2>
	<%= lazy_image_tag('/kata/faq.webp', alt: '統計情報：参加者数の推移', min: true, style: 'margin-bottom: 30px;') %>

	<p>よくある質問を本項にまとめています。ご参考になれば幸いです 😸</p>
	<br>
	<ul>
	  <li>
	    <h4 id='q-dojo-stats'>Q. 日本の CoderDojo の統計データってありますか?</h4>
	    <p>全国の CoderDojo 数の推移については下記ページをご参照ください。</p>
	    <p><b><%= link_to '📊 統計情報 - CoderDojo Japan', stats_path %></b></p>
	    <br>
	  </li>
	  <li>
	    <h4 id='q-dojo-signup'>Q. coderdojo.jp に掲載するにはどうすればよいですか?</h4>
	    <p><a href="#startup">Dojo の立ち上げ</a>が完了したら、下記フォームから申請してください。</p>
	    <p><b><%= link_to '📮 CoderDojo Japan への Dojo 掲載申請フォーム', signup_path %></b></p>
	    <br>
	  </li>
	  <li>
	    <h4 id='q-dojo-events'>Q. 「近日開催の道場」に connpass のイベントが表示されません</h4>
	    <p><%= link_to '近日開催の道場', events_path %>で表示するためには <a href="https://connpass.com/about/api/">connpass のグループID</a>が必要となり、グループIDの検出には１回以上のイベント作成が必要です。イベント作成後、<a href="https://coderdojo.jp/#contact">お問い合わせ</a>いただけると幸いです。（<a href="https://github.com/coderdojo-japan/coderdojo.jp/commit/12b3ac1bb3b59f0d5e1a518d0cde432b8bd823dc">対応例</a>）</p>
	    <br>
	  </li>
	  <li>
	    <h4 id='q-dojo-update'>Q. coderdojo.jp の道場情報を更新するにはどうすればよいですか?</h4>
	    <p>GitHub の README にしたがって更新をお願いいたします 😉</p>
	    <p><b><a href="https://github.com/coderdojo-japan/coderdojo.jp#readme">🛠 README (1. Dojo 情報やドキュメントの修正) - GitHub</a></b></p>
	    <br>
	  </li>
	  <li>
	    <h4 id='q-dojo-brand'>Q. 「コーダードウジョウ」の正しい表記を教えてください</h4>
	    <p>「CoderDojo」が正しい表記になります。詳細は下記ページをご参照ください。</p>
	    <p><b><%= link_to '📜 CoderDojo ブランドガイドライン', doc_path('brand-guidelines') %></b></p>
	    <br>
	  </li>
	  <li>
	    <h4 id='q-dojo-logos'>Q. CoderDojo のロゴ画像はどこで手に入りますか?</h4>
	    <p>下記サイトにロゴ画像、利用ガイドラインが記載されています。</p>
	    <p><b><%= link_to '📜 CoderDojo ブランドガイドライン', doc_path('brand-guidelines') %></b></p>
	    <br>
	  </li>
	  <li>
	    <h4 id='q-dojo-students'>Q. CoderDojo は学生でも立ち上げることができますか?</h4>
	    <p>はい、19歳以上の方であれば誰でも申請できます。また、14歳以上18歳以下の場合においても、一緒に運営してくれる大人または保護者がいれば、その情報を入力することで CoderDojo の申請をすることができます。</p>
	    <p>ただし、必ず承認されるわけではないので、あらかじめご了承していただけると幸いです。また、Slack などの各種サービスには<a href="https://slack.com/intl/ja-jp/terms-of-service/user">年齢制限がある</a>ため、利用規約の条件を満たしているかどうかにもご注意ください。</p>
	    <p><b><%= link_to '☯️ Start a Dojo (地元で CoderDojo を始める)', foundation_url('/start-a-dojo/') %></b></p>
	    <p><b><a href="https://speakerdeck.com/yu_san_19/why-dont-you-enjoy-the-youth-champion-at-dojocon-japan-2018">📑 Why don't you enjoy the youth champion? (日本の事例)</a></b></p>
	    <br>
	  </li>
	  <li>
	    <h4 id='q-dojo-confirm'>Q. 立ち上げた道場が承認されたかどうか確認する方法はありますか?</h4>
	    <p>はい、あります。CoderDojo Zen の「<strong><%= link_to '参加するDojoを探す', zen_url %></strong>」機能で、立ち上げた Dojo 名を検索してみてください。承認されていれば地図上に表示されます。表示されない場合は、まだ承認されていないか、もしくは Dojo の現在の状態が「アクティブ」になっていないはずです。</p>
	    <p><b><%= link_to '📜 CoderDojo の現在の状態を 「アクティブ」に変更する', doc_path('how-to-change-dojo-status') %></b></p>
	    <br>
	  </li>
	  <li>
	    <h4 id='q-dojo-suspend'>Q. Dojo の継続的な活動が難しくなりそうです。どうすればよいですか?</h4>
	    <p>CoderDojo 運営者向けのガイドラインを用意しました! ご参考にしていただけると幸いです。</p>
	    <p><b><%= link_to '📜 CoderDojo の運営が難しくなったときのガイドライン', doc_path('how-to-suspend-your-dojo') %></b></p>
	    <br>
	  </li>
	  <li>
	    <h4 id='q-dojo-rename'>Q. Dojo の名称を変更したいです。どうすればよいですか?</h4>
	    <p>CoderDojo 運営者向けのガイドラインを用意しました! ご参考にしていただけると幸いです。</p>
	    <p><b><%= link_to '📜 CoderDojo の名称を変更するときのガイドライン', doc_path('how-to-change-dojo-name') %></b></p>
	    <br>
	  </li>
	  <li>
	    <h4 id='q-dojo-partnership'>Q. CoderDojo Japan との連携を検討してます。どうすればよいですか?</h4>
	    <p>パートナーシップを検討されている法人/行政向けに下記のご案内をしております。下記ページより詳細をご参照していただけると嬉しいです。</p>
	    <p><b><%= link_to '📜 パートナーシップのご案内 - CoderDojo Japan', partnership_path %></b> (法人向け)</p>
	    <p><b><%= link_to '📜 子どものためのプログラミング道場「CoderDojo」とは', doc_path('about-coderdojo') %></b> (行政向け)</p>
	    <br>
	  </li>
	  <li>
	    <h4 id='q-kata-abroad'>Q. 海外の CoderDojo に参加してみることはできますか?</h4>
	    <p>CoderDojo コミュニティには地域ごとに <a href='/about-coderdojo-japan'>CoderDojo Japan</a> のような公式法人（Regional Body）があります。公式法人がある地域は CoderDojo が比較的活発な地域となっていますので、下記ページから興味ある地域の公式法人にコンタクトしてみると良いかもしれません。</p>
	    <p><b><a href="https://coderdojo.com/regional-bodies/">☯️ CoderDojo Regional Bodies - CoderDojo</a></b></p>
	    <br>
	  </li>
	  <li>
	    <h4 id='q-kata-edit'>Q. このページを編集したいときはどうすればよいでしょうか?</h4>
	    <p>GitHub の README にある手順にしたがって編集が可能です 📝</p>
	    <p><b><a href="https://github.com/coderdojo-japan/coderdojo.jp#coderdojo-japan">🛠 README (2. CoderDojo Kata の執筆・編集) - GitHub</a></b></p>
	  </li>
	</ul>
	<br>

	<h3 id='license'>✅ ライセンス</h3>
	<p>本ページの内容は「<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.ja">表示 - 非営利 - 継承 4.0 国際 (CC BY-NC-SA 4.0)</a>」のもとで自由に共有・翻案することができます。詳細は <a href='https://github.com/coderdojo-japan/coderdojo.jp#5-license'>GitHub の README</a>をご参照ください。</p>
	<p>本ページのリンク先のコンテンツについては、各コンテンツの著作権およびライセンスに従ってください。</p>
	<br>
	<hr>
	<p style="color: grey; padding-bottom: 50px; font-size: 90%;" align="right">更新履歴は <a href="https://github.com/coderdojo-japan/coderdojo.jp/commits/main/app/views/docs/kata.html.erb">GitHub</a> から確認できます。</p>
      </div>
    </div>
  </div>
</section>
