%li.dojo
  %header
    = link_to lazy_image_tag(dojo.logo, alt: "CoderDojo #{dojo.name}", class: 'dojo-picture'), dojo.url,
              target: "_blank", rel: "external noopener"
    %span.dojo-name
      = link_to "#{dojo.name} (#{dojo.prefecture.name})", dojo.url, target: "_blank", rel: "external noopener"
      - if not dojo.counter == 1
        %span.dojo-counter{'data-original-title' => '道場数',
                           'data-placement'      => 'bottom',
                           'data-toggle'         => 'tooltip'}= dojo.counter
  %ul.tags
    - dojo.tags.each do |tag|
      %li= tag
  %p.dojo-description
    = dojo.description
    - if dojo.is_private
      = link_to 'Private', doc_path('private-dojo'), class: 'dojo-private'
