%li.dojo
  %header
    %a{:href => "#{dojo.url}"}
      %span.dojo-picture{style: "background-image: url(#{dojo.logo});"}
    %a{:href => "#{dojo.url}"}
      %span.dojo-name
        = "#{dojo.name} (#{dojo.prefecture.name}) "
        - if not dojo.counter == 1
          %span.dojo-counter= "#{dojo.counter}"
  %ul.tags
    - dojo.tags.each do |tag|
      %li= tag
  %p.dojo-desciption
    = dojo.description
    - if dojo.is_private
      %a.dojo-private{href: '/docs/private-dojo'} Private
