<div id="accordion" class="panel-group" aria-multiselectable="true" role="tablist">
  <% if @prefectures_and_dojos.present? %>
    <% @prefectures_and_dojos.each_with_index do |(prefecture, data), index| %>

      <div class="panel panel-default">
        <div class="panel-heading" id="heading<%= index %>" role="tab">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse<%= index %>" role="button">
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
              <%= prefecture %> - <%= data[:label] %>
            </a>
          </h4>
        </div>
        <div class="panel-collapse collapse" id="collapse<%= index %>" role="tabpanel">
          <div class="panel-body grayscale-bg dojo-flex">
            <%= render partial: 'shared/dojo', collection: data[:dojos] %>
          </div>
        </div>
      </div>

    <% end %>
  <% end %>
</div>

<script>
  $(document).ready(function() {
    $('.collapse').on('shown.bs.collapse', function() {
      $(this)
        .parent()
        .find(".fa-chevron-right")
        .removeClass("fa-chevron-right")
        .addClass("fa-chevron-down");
    });
    $('.collapse').on('hidden.bs.collapse', function() {
      $(this)
        .parent()
        .find(".fa-chevron-down")
        .removeClass("fa-chevron-down")
        .addClass("fa-chevron-right");
    });
  });
</script>