%li.dojo.dojo-sp
  %header
    = link_to lazy_image_tag(dojo.logo, alt: "CoderDojo #{dojo.name}", class: 'dojo-picture-sp'), dojo.url,
              target: "_blank", rel: "external noopener"
    %p.dojo-sp-info
      %span.dojo-name.dojo-name-sp
        = link_to "#{dojo.name} (#{dojo.prefecture.name})", dojo.url, target: "_blank", rel: "external noopener"
        - if not dojo.counter == 1
          %span.dojo-counter{'data-toggle' => 'tooltip', 'data-placement' => 'bottom',
                               'data-original-title' => '道場数'}= dojo.counter
      %span.dojo-description
        = dojo.description
        - if dojo.is_private
          = link_to 'Private', doc_path('private-dojo'), class: 'dojo-private'
  %ul.tags
    - dojo.tags.each do |tag|
      %li= tag
