%nav.navbar.navbar-default.navbar-fixed-top#header
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ "type" => "button", "data-toggle" => "collapse",
                                      "data-target" => "#header-nav-toggle", "aria-expanded" => "false" }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-header-logos
        = link_to lazy_image_tag('/img/header-logo.png',  alt: 'CoderDojo logo',  min: true), '/', id: "header-logo"
        = link_to lazy_image_tag('/img/header-brand.png', alt: 'CoderDojo brand', min: true), '/', id: "header-brand"
    #bs-example-navbar-collapse-1.collapse#header-nav-toggle.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li= link_to '全国の道場',     '/#dojos'
        %li= link_to '近日開催の道場', '/events'
        %li= link_to 'パートナー法人', '/#partners'
        %li= link_to '統計情報',       '/stats'
        %li= link_to 'News',           '/#news'
        %li.navbar-dd-p
          = link_to 'Kata',            '/kata'
          %span.navbar-dd-l
          %ul.navbar-dd
            %li= link_to 'はじめに',   '/kata#README'
            %li= link_to '学ぶ',       '/kata#learn'
            %li= link_to '腕試し',     '/kata#challenge'
            %li= link_to '立ち上げる', '/kata#startup'
            %li= link_to '支援・資料', '/kata#support'
            %li= link_to 'FAQ',        '/kata#faq'
            %li= link_to 'English',    '/english', hreflang: 'en'

        / DocSearch: https://github.com/algolia/docsearch-configs/blob/master/configs/coderdojo.json
        %li.search-li
          %label.search-label{for: 'search'}
            %img.search-icon{alt: '検索', src: '/img/search.svg'}
          = check_box_tag :search, "検索アイコン", false, class: 'search-checkbox', onclick: 'focusSearchBox()'
          %div.search
            %input#searchbox{placeholder: "資料を検索", type: "text"}
            #hits
            #pagination
        %li= link_to 'お問い合わせ',   '/#contact'

:javascript
  function focusSearchBox() {
    document.getElementById("searchbox").focus();
  };

  document.addEventListener('click', (e) => {
    if(e.target.closest('#header-nav-toggle') || !e.target.closest('#header-nav-toggle')) {
      const element = document.getElementById('header-nav-toggle')
      element.classList.remove('in');
    }
  })
