%nav.navbar.navbar-default.navbar-fixed-top#header
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ "type" => "button", "data-toggle" => "collapse",
                                      "data-target" => "#header-nav-toggle", "aria-expanded" => "false" }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-header-logos
        = link_to lazy_image_tag('/img/header-logo.png',  alt: 'CoderDojo logo',  min: true), '/', id: "header-logo"
        = link_to lazy_image_tag('/img/header-brand.png', alt: 'CoderDojo brand', min: true), '/', id: "header-brand"
    #bs-example-navbar-collapse-1.collapse#header-nav-toggle.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'å…¨å›½ã®é“å ´',     '/#dojos'
        %li= link_to 'ãƒ‘ãƒ¼ãƒˆãƒŠãƒ¼æ³•äºº', '/#partners'
        %li.navbar-dd-p
          = link_to 'æœ€è¿‘ã®æ´»å‹•',      '/#timeline'
          %span.navbar-dd-l
          %ul.navbar-dd
            %li= link_to 'â˜¯ï¸ SNS',     '/#timeline'
            %li= link_to 'ðŸ“° News',    'https://news.coderdojo.jp/'
            %li= link_to 'ðŸ“» Podcast', '/podcasts'
            %li= link_to 'ðŸ“º YouTube', '/youtube'
            %li= link_to 'ðŸ“š ãã®ä»–',  '/#kata'
        %li.navbar-dd-p
          = link_to 'é“å ´ã‚’æŽ¢ã™',      '/#dojos'
          %span.navbar-dd-l
          %ul.navbar-dd
            %li= link_to 'â˜¯ï¸  ä¸€è¦§ã‹ã‚‰',   '/#dojos'
            %li= link_to 'ðŸ“… æ—¥ä»˜ã‹ã‚‰',   '/events'
            %li= link_to 'ðŸ—¾ åœ°å›³ã‹ã‚‰',   'https://map.coderdojo.jp/'
        %li.navbar-dd-p
          = link_to 'è³‡æ–™ã‚’æŽ¢ã™',      '/kata'
          %span.navbar-dd-l
          %ul.navbar-dd
            %li= link_to 'ã¯ã˜ã‚ã«',     '/kata#README'
            %li= link_to 'å­¦ã¶',         '/kata#learn'
            %li= link_to 'è…•è©¦ã—',       '/kata#challenge'
            %li= link_to 'ç«‹ã¡ä¸Šã’ã‚‹',   '/kata#startup'
            %li= link_to 'é‹å–¶å‘ã‘æ”¯æ´', '/kata#support'
            %li= link_to 'æ³•äººå‘ã‘è³‡æ–™', '/partnership'
            %li= link_to 'çµ±è¨ˆæƒ…å ±',     '/stats'
            %li= link_to 'è³‡æ–™é›†',       '/docs'
            %li= link_to 'ãŠå•ã„åˆã‚ã›', '/#contact'
            %li= link_to 'English',      '/english', hreflang: 'en'

        / DocSearch: https://github.com/algolia/docsearch-configs/blob/master/configs/coderdojo.json
        %li.search-li
          %label.search-label{for: 'search'}
            %img.search-icon{alt: 'æ¤œç´¢ã‚¢ã‚¤ã‚³ãƒ³', src: '/img/search.svg'}
            æ¤œç´¢ã§æŽ¢ã™
          = check_box_tag :search, "æ¤œç´¢ã‚¢ã‚¤ã‚³ãƒ³", false, class: 'search-checkbox', onclick: 'focusSearchBox()'
          %div.search
            %input#searchbox{placeholder: "ä¾‹: ã‚³ãƒ³ãƒ†ã‚¹ãƒˆã€æ•™æ", type: "text"}
            #hits
            #pagination


:javascript
  function focusSearchBox() {
    document.getElementById("searchbox").focus();
  };

  document.addEventListener('click', (e) => {
    if(e.target.closest('#header-nav-toggle') || !e.target.closest('#header-nav-toggle')) {
      const element = document.getElementById('header-nav-toggle')
      element.classList.remove('in');
    }
  })
