:javascript
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });

%ul
  %li{style: 'margin: 20px auto;'}= link_to lazy_image_tag('/partners/case-shinjuku.png', alt: 'CASE Shinjuku', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'オフィスの提供'), '/podcasts/8', target: "_blank", rel: "noopener"
  %li{style: 'margin: 20px auto;'}= link_to lazy_image_tag('/partners/yasslab.webp', alt: 'YassLab 株式会社', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'Webサイトの運営および開発支援'), 'https://github.com/coderdojo-japan/coderdojo.jp#history', target: "_blank", rel: "external noopener"

  %li{style: 'margin: 20px auto;'}= link_to lazy_image_tag('/partners/osscafe.png', alt: "下北沢オープンソースCafe", data: { toggle: 'tooltip', placement: 'bottom' }, title: 'ドメイン代の支援'), 'https://osscafe.business.site/', target: "_blank", rel: "external noopener"
  %li{style: 'margin: 20px auto;'}= link_to lazy_image_tag('/partners/mitoujr.webp', alt: '未踏ジュニア', data: { toggle: 'tooltip', placement: 'bottom' }, title: '活動資金の継続的な支援'), '/podcasts/11', target: "_blank", rel: "noopener"

  %li{style: 'margin: 20px auto;'}= link_to lazy_image_tag('/partners/ht79.png', alt: 'NPO法人のためのIT支援事務所 ht', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'Newsサーバー代の支援'), 'https://ht79.info/', target: "_blank", rel: "external noopener"
  %li{style: 'margin: 20px auto;'}= link_to lazy_image_tag('/partners/esa.webp', alt: 'esa LLC', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'ドキュメント共有サービスの提供'), 'https://docs.esa.io/posts/239', target: "_blank", rel: "external noopener"

  %li{style: 'margin: 20px auto;'}= link_to lazy_image_tag('/partners/sakura-internet.png', alt: 'さくらインターネット', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'サーバー環境（クラウド）の提供'), 'https://www.sakura.ad.jp/information/pressreleases/2017/07/20/90191/', target: "_blank", rel: "external noopener"
  %li{style: 'margin: 20px auto;'}= link_to lazy_image_tag('/partners/hay-kaikei.png', alt: 'Hay未来の税理士法人', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'CoderDojo Japan の会計支援'), 'http://www.hay-kaikei.com/', target: "_blank", rel: "external noopener"

  %li{style: 'margin: 20px auto 30px;'}= link_to lazy_image_tag('/partners/techsoup-japan.png', alt: 'TechSoup Japan', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'G Suite などの寄贈申請の支援'), 'https://news.coderdojo.jp/2019/03/03/google-for-nonprofits-via-techsoup-japan/', target: "_blank", rel: "noopener"
  %li{style: 'margin: 20px auto 30px;'}= link_to lazy_image_tag('/partners/progate.png', alt: 'Progate', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'プログラミング学習環境の支援'), 'https://news.coderdojo.jp/2018/10/29/プログラミング学習のprogate、全国のcoderdojoへ法人プラン/', target: "_blank", rel: "noopener"

  %li{style: 'margin: 20px auto 30px;'}= link_to lazy_image_tag('/partners/algolia.png', alt: 'Algolia', data: { toggle: 'tooltip', placement: 'bottom' }, title: '検索エンジン DocSearch の提供'), 'https://community.algolia.com/docsearch/', target: "_blank", rel: "external noopener"
  %li{style: 'margin: 20px auto 30px;'}= link_to lazy_image_tag('/partners/github.png', alt: 'GitHub', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'GitHub for Nonprofit の提供'), 'https://news.coderdojo.jp/2019/08/29/github-for-nonprofit/', target: "_blank", rel: "noopener"

  %li{style: 'margin: 20px auto 30px;'}= link_to lazy_image_tag('/partners/hackforplay.webp', alt: 'HackforPlay', data: { toggle: 'tooltip', placement: 'bottom' }, title: '法人向け HackforPlay の提供'), 'https://news.coderdojo.jp/2020/04/06/hackforplay-for-team/', target: "_blank", rel: "noopener"
  %li{style: 'margin: 20px auto 30px;'}= link_to lazy_image_tag('/partners/google.png', alt: 'Google', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'Benevity を通した活動資金の支援'), 'https://news.coderdojo.jp/2019/11/13/google-and-coderdojo-join-forces-in-japan/', target: "_blank", rel: "noopener"

  %li{style: 'margin: 20px auto;'}= link_to lazy_image_tag('/partners/tfabworks.png', alt: 'TFabWorks', data: { toggle: 'tooltip', placement: 'bottom' }, title: '無償レンタルプログラムの提供'), 'https://news.coderdojo.jp/2020/11/26/tfabworks-microbit-rental-program/', target: "_blank", rel: "noopener"
  %li{style: 'margin: 20px auto;'}= link_to lazy_image_tag('/partners/grips.png', alt: 'GRIPS', data: { toggle: 'tooltip', placement: 'bottom' }, title: '教育用ロボットアームの提供'), 'https://news.coderdojo.jp/2021/04/28/dobot-rental-program/', target: "_blank", rel: "noopener"

  %li{style: 'margin: 35px auto 25px;'}= link_to lazy_image_tag('/partners/pokemon-foundation.png', alt: 'プログラミングでポケモンをうごかしてみよう', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'ワークショッププログラムの提供'), 'https://news.coderdojo.jp/2021/04/23/programming-with-pokemon/', target: "_blank", rel: "noopener"
  %li{style: 'margin: 35px auto 25px;'}= link_to lazy_image_tag('/partners/dpro.png', alt: 'DPro (ディープロ)', data: { toggle: 'tooltip', placement: 'bottom' }, title: '学習コンテンツの提供'), 'https://news.coderdojo.jp/2021/12/27/diver-learnings-for-coderdojo/', target: "_blank", rel: "noopener"

  %li{style: 'margin: 20px auto 30px;'}= link_to lazy_image_tag('/partners/toio.webp', alt: 'toio（トイオ）', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'ロボットトイ「toio」の提供'), 'https://news.coderdojo.jp/2022/03/17/toio-sony-interactive-entertainment/', target: "_blank", rel: "noopener"
  %li{style: 'margin: 20px auto 30px;'}= link_to lazy_image_tag('/partners/microbit.png', alt: 'micro:bit（マイクロビット）', data: { toggle: 'tooltip', placement: 'bottom' }, title: '教育用マイコンボードの提供'), 'https://news.coderdojo.jp/2022/05/16/1500-microbits-to-coderdojo/', target: "_blank", rel: "noopener"

  %li{style: 'margin: 30px auto 20px;'}= link_to lazy_image_tag('/partners/minecraftcup.png', alt: 'Minecraftカップ全国大会', data: { toggle: 'tooltip', placement: 'bottom' }, title: '教育版マイクラのライセンス貸出'), 'https://news.coderdojo.jp/2022/05/31/partnership-with-minecraftcup/', target: "_blank", rel: "noopener"
  %li{style: 'margin: 30px auto 20px;'}= link_to lazy_image_tag('/partners/geolonia.png', alt: 'Geolonia', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'DojoMap への地図データ提供'), 'https://news.coderdojo.jp/2022/12/01/dojomap-and-geolonia/', target: "_blank", rel: "noopener"

  // %li{style: 'margin: 30px auto 25px;'}= link_to lazy_image_tag('/partners/docker.png', alt: 'Docker Inc.', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'Docker によるチーム開発の支援'), 'https://news.coderdojo.jp/2022/12/03/docker-sponsored-open-source-program/', target: "_blank", rel: "noopener"
  // %li{style: 'margin: 30px auto 25px;'}= link_to lazy_image_tag('/partners/mitsue-links.png', alt: 'ミツエーリンクス', data: { toggle: 'tooltip', placement: 'bottom' }, title: '活動資金に対する支援'), 'https://news.coderdojo.jp/2023/01/01/partnership-with-mitsue-links/', target: "_blank", rel: "noopener"

  %li{style: 'margin: 30px auto 30px;'}= link_to lazy_image_tag('/partners/prtimes.png', alt: 'PR TIMES', data: { toggle: 'tooltip', placement: 'bottom' }, title: '非営利活動の情報発信の支援'), 'https://news.coderdojo.jp/2023/04/06/sponsored-by-prtimes/', target: "_blank", rel: "noopener"
  %li{style: 'margin: 30px auto 25px;'}= link_to lazy_image_tag('/partners/box.webp', alt: 'Box Japan', data: { toggle: 'tooltip', placement: 'bottom' }, title: '128台のノート PC 寄贈'), 'https://news.coderdojo.jp/2024/12/25/box-japan-to-coderdojo/', target: "_blank", rel: "noopener"

  %li{style: 'margin: 10px auto 30px;'}= link_to lazy_image_tag('/partners/aqoocan.webp', alt: 'アクウカン - 所沢市のコワーキングスペース＆工作室', data: { toggle: 'tooltip', placement: 'bottom' }, title: '75台の『ニャイス！コード』寄贈'), 'https://news.coderdojo.jp/2025/02/14/coderdojo-de-nyaicecode/', target: "_blank", rel: "noopener"
  %li{style: 'margin: 10px auto 30px;'}= link_to lazy_image_tag('/partners/jcdpgstadium.webp', alt: 'プログラミングスタジアム', data: { toggle: 'tooltip', placement: 'bottom' }, title: '地域の Dojo の周知支援'), 'https://jcdpgstadium.jp/', target: "_blank", rel: "noopener"

  /%li= link_to lazy_image_tag('/partners/scrivito.png', alt: 'Scrivito', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'Cloud-Based CMS の提供'), 'https://scrivito.com/', target: "_blank", rel: "external noopener"
  /%li= link_to lazy_image_tag('/partners/cygames.webp', alt: 'Cygames', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'PC寄贈に関する支援'), 'https://news.coderdojo.jp/2018/11/28/from-cygames-to-all-dojos-in-japan/', target: "_blank", rel: "noopener"

  /%li= link_to lazy_image_tag('/partners/facebook.png', alt: 'Facebook Japan', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'Facebookページの運用支援'), 'http://news.coderdojo.jp/2018/10/12/press-support-facebook-coupon/', target: "_blank", rel: "noopener"
  /%li= link_to lazy_image_tag('/partners/wro.png', alt: 'WRO Japan', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'ロボットキットの提供'), 'https://news.coderdojo.jp/2019/12/21/wro-japan-and-coderdojo-japan/', target: "_blank", rel: "noopener"

  /%li= link_to lazy_image_tag('/partners/topsic.png', alt: 'TOPSIC', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'プログラミング学習環境の支援'), 'https://news.coderdojo.jp/2019/07/30/play-and-learn-with-programming-contest/', target: "_blank", rel: "noopener"
  /%li= link_to lazy_image_tag('/partners/code-for-everyone.webp', alt: 'みんなのコード', data: { toggle: 'tooltip', placement: 'bottom' }, title: '学校との連携支援'), 'https://news.coderdojo.jp/2019/02/04/from-minnnanocode-to-coderdojo-japan/', target: "_blank", rel: "noopener"
