  <ol class="snsb" style="margin-left: 0px;">
    <li>
      <div class="fb-like" data-href="<%= @obj.binary_url %>" data-layout="button_count"
	   data-action="like" data-show-faces="true" data-share="true"></div></li>
    <li><a href="https://twitter.com/share" class="twitter-share-button"
	   data-url="<%= @obj.binary_url %>" data-text="<%= @obj.display_title %>"
	   data-lang="ja" data-hashtags="CoderDojo" data-via="CoderDojoJapan" width="100">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
    <li><a href="http://b.hatena.ne.jp/entry/<%= @obj.binary_url %>"
	   class="hatena-bookmark-button"
	   data-hatena-bookmark-title="<%= @obj.display_title %>"
	   data-hatena-bookmark-layout="standard-balloon"
	   data-hatena-bookmark-lang="ja"
	   title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script></li>
    <li><div class="g-plusone" data-size="medium" data-lang="ja"></div>
      <script type="text/javascript">
	(function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	})();
      </script>
    </li>
  </ol>
