#top.title.text-center
  %i.cd.cd-logo
  %h1 CoderDojo Japan
  %p 子どものためのプログラミング道場
  %br
%section.cover
  = image_tag "coderdojo-japan_cover.jpg", class: "cursor-default"
%section.introduction.text-center.list
  %p
    CoderDojo は7〜17歳の子どもを対象にしたプログラミング道場です。2011年にアイルランドで始まり、世界では#{Dojo::NUM_OF_COUNTRIES}カ国・#{Dojo::NUM_OF_WHOLE_DOJOS}の道場、日本では全国に
    %b>= @dojo_count
    以上の道場があります。
  %p CoderDojo で学べる内容は道場ごとに異なります。例えば、次の内容を学べる道場があります。
  %ul
    %li Scratch, Hour of Code
    %li HTML, CSS, JavaScript
    %li PHP, Python, Ruby, Unity
    %li Arduino, Raspberry Pi など
  %br
  %p 道場ごとに内容も規模も異なりますが、どの道場でも主体的に学ぶ姿勢はとても大切です。
  %p#guidance
    道場の特徴については、次のガイダンスを参考にしてください。
  .text-center
    .home-point-slides
      %iframe{:allowfullscreen => "true", :mozallowfullscreen => "true", :webkitallowfullscreen => "true", :frameborder => "0", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://docs.google.com/presentation/d/e/2PACX-1vTukDtBzvD62d9rNLBY1kXp8arXJBnB-Lq6YWSW5oZXoeokGLscob1HNYzmD7mIIxhkoQyCJVoFAFvh/embed?start=false&loop=false", :width => "595", :height => "350"}
    %div{:style => "margin-bottom:5px; color: grey;"}
      スライドが見えない場合は
      %a{:href => "https://docs.google.com/presentation/d/e/2PACX-1vTukDtBzvD62d9rNLBY1kXp8arXJBnB-Lq6YWSW5oZXoeokGLscob1HNYzmD7mIIxhkoQyCJVoFAFvh/pub?start=false&loop=false", :target => "_blank", :title => "CoderDojoガイダンス（最新版）"}<>
        コチラ
  %p{:style => "margin-top:10px;"} さらに詳しい様子については、次の記事や動画をご参照ください。
  %ul{:style => "margin-bottom:30px;"}
    %li
      %a{:href => "https://www.youtube.com/watch?v=VEcFnEYT6mQ"} CoderDojoってなんかのおぅ？
      (YouTube)
    %li
      %a{:href => "http://bakemono.jp/reading/blog/web/2256/"} CoderDojoとは? 運営者に話を聞いてみた!
      (バケモノ.jp)
    %li
      %a{:href => "http://ict-enews.net/zoomin/17coderdojo/"} CoderDojoをはじめてみませんか
      (ICT教育ニュース)
  .home-point-video
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/gLDue2xb1j8?rel=0", :width => "560"}
  %p
    %a{:href => "http://www.coderdojo-kashiwa.com/"} CoderDojo Kashiwa
    が制作した動画です。道場の雰囲気が伝われば幸いです ;)
  %ol{:style => "list-style: none; margin-top: 30px;"}
    %li{:style => "display: inline-block; line-height: 11px; margin-left: -35px;"}
      .fb-like{"data-action" => "like", "data-href" => "#{full_url(yield(:url))}", "data-layout" => "button_count", "data-share" => "true", "data-show-faces" => "true"}
    %li{:style => "display: inline-block;"}
      %a.twitter-share-button{"data-hashtags" => "CoderDojo", "data-lang" => "ja", "data-text" => "#{full_title(yield(:title))}", "data-url" => "#{full_url(yield(:url))}", "data-via" => "CoderDojoJapan", :href => "https://twitter.com/share", :width => "100"} Tweet
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    %li{:style => "display: inline-block;"}
      %a.hatena-bookmark-button{"data-hatena-bookmark-lang" => "ja", "data-hatena-bookmark-layout" => "standard-balloon", "data-hatena-bookmark-title" => "#{full_title(yield(:title))}", :href => "http://b.hatena.ne.jp/entry/s/coderdojo.jp/", :title => "このエントリーをはてなブックマークに追加"}
        %img{:alt => "このエントリーをはてなブックマークに追加", :height => "20", :src => "https://b.st-hatena.com/images/entry-button/button-only@2x.png", :style => "border: none;", :width => "20"}/
      %script{:async => "async", :charset => "utf-8", :src => "https://b.st-hatena.com/js/bookmark_button.js", :type => "text/javascript"}
    %li{:style => "display: inline-block;"}
      .g-plusone{"data-lang" => "ja", "data-size" => "medium"}
      :javascript
        (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        	})();

/
  %section#events.detail-introduction.text-center
  %h2 直近のイベント
  %ol.bxslider{:style => "list-style: none; margin-left: -40px; margin-top: 30px;"}
    %li
      = link_to image_tag("decadojo_cover.png", alt: "DecaDojo", class: "cursor-pointer", style: "margin-bottom: 15px;"), "https://coderdojo-tachikawa.connpass.com/event/81311/"

  %p
    4月7日 (土) に
    %a{:href => "https://coderdojo-tachikawa.connpass.com/event/81311/"} でかドージョー in 多摩地域
    が開催されます! ぜひご参加ください ;)

%section#dojos.dojos.text-center.grayscale-bg
  %br
  %h2 全国の道場
  %br
  = render partial: 'shared/dojos', locals: { regions_and_dojos: @regions_and_dojos }
%section.text-center
  %br
  %h2.text-center
    %a{:href => "https://twitter.com/search?q=dojocon%20OR%20coderdojo%20OR%20%E3%82%B3%E3%83%BC%E3%83%80%E3%83%BC%E9%81%93%E5%A0%B4%20OR%20%22Coder%20Dojo%22%20OR%20%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0%E9%81%93%E5%A0%B4%20lang%3Aja"} 最近の話題
  %br
  %a.twitter-timeline{"data-chrome" => "noheader nofooter noborders", "data-dnt" => "true", "data-partner" => "tweetdeck", "data-tweet-limit" => "5", "data-widget-id" => "838640822396465153", :href => "https://twitter.com/search?q=dojocon%20OR%20coderdojo%20OR%20%E3%82%B3%E3%83%BC%E3%83%80%E3%83%BC%E9%81%93%E5%A0%B4%20OR%20%22Coder%20Dojo%22%20lang%3Aja"} CoderDojoに関するつぶやき
  :javascript
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
.text-center.grayscale-bg
  %section.detail-introduction.list
    %br
    %h2 もっと詳しく知りたい
    %br
    %p 下記ウェブサイトから、CoderDojo の詳細や最新の情報にアクセスできます。
    %ul
      %li
        %a{:href => "/kata"} CoderDojo Kata (Wiki)
      %li
        %a{:href => "https://www.facebook.com/groups/coderdojo.jp"} CoderDojo Japan (Facebook)
      %li
        %a{:href => "https://coderdojo.com/"} CoderDojo (英語)
    %br
    %p 本家サイトである CoderDojo (英語) では世界中の活動の様子が見れます。また、Facebook の CoderDojo Japan では日本全国の活動の様子を知ることができます。
    %p
      「これまでの成り立ちを知りたい」「地元で道場を立ち上げてみたい」といった場合には
      %a{:href => "/kata"} CoderDojo Kata
      を参照してみてください。
    = link_to image_tag("coderdojo-kata_cover.png", alt: 'CoderDojo Kata', class: 'cursor-pointer', style: 'margin-bottom: 15px;'), '/kata'
%section#partners.detail-introduction.partners_logo.text-center
  %br
  %h2 パートナー
  :javascript
    $(function () {
    $('[data-toggle="tooltip"]').tooltip();
    })
  %ul
    %li= link_to image_tag('logos/case-shinjuku.png', alt: 'CASE Shinjuku', height: '110px', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'オフィスの提供'), 'https://case-shinjuku.com/'
    %li= link_to image_tag("logos/osscafe.png", alt: "下北沢オープンソースCafe", data: { toggle: 'tooltip', placement: 'bottom' }, title: 'ドメイン代の支援'), 'http://www.osscafe.net/'
    %li= link_to image_tag('logos/scrivito.png', alt: 'Scrivito', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'Cloud-Based CMS の提供'), 'https://scrivito.com/'
    %li= link_to image_tag('logos/yasslab.png', alt: 'YassLab', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'Web開発およびサーバー代の支援'), 'https://yasslab.jp/'
    %li= link_to image_tag('logos/mitoujr.png', alt: '未踏ジュニア', style: 'margin-top: -10px; margin-bottom: 140px', data: { toggle: 'tooltip', placement: 'bottom' }, title: '活動資金の継続的な支援'), 'https://jr.mitou.org/'
    %li= link_to image_tag('logos/magikcraft.png', alt: 'magiccraft', style: 'margin-top: -10px; margin-bottom: 135px', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'サーバー環境（Minecraft）の提供'), 'https://www.magikcraft.io/'
    %li= link_to image_tag('logos/ht79.png', alt: 'NPO法人のためのIT支援事務所 ht', height: '110px', style: 'margin-top: -30px; margin-bottom: 150px', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'メール・Newsサーバー代の支援'), 'https://ht79.info/'
    %li= link_to image_tag('logos/esa.png', alt: 'esa LLC', style: 'margin-top: -40px; margin-bottom: 150px', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'ドキュメント共有サービスの提供'), 'https://esa.io/'
    %li= link_to image_tag('logos/sakura-internet.png', alt: 'さくらインターネット', style: 'margin-top: -40px; margin-bottom: 150px', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'サーバー環境（クラウド）の提供'), 'https://www.sakura.ad.jp/'
    %li= link_to image_tag('logos/hay-kaikei.png', alt: 'Hay未来の税理士法人', style: 'margin-top: -50px; margin-bottom: 130px', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'CoderDojo Japan の会計支援'), 'http://www.hay-kaikei.com/'

#news.text-center.grayscale-bg
  %section.detail-introduction
    %br
    %h2 ニュースレター購読
    %br
    %p
      = render partial: 'shared/newsletter'
  
.text-center
  %section.detail-introduction
    %br
    %h2 お問い合わせ
    %br
    %p
      取材や支援などのお問い合わせについては下記からご連絡ください 📨
      %br
      メールの場合は
      %i info@coderdojo.jp
      \ までお問い合わせください。
    / Contact Form via Wufoo
    #contact
    #wufoo-qkjthoy0qpuvg9{:style => "margin-top: -10px"}
      %a{:href => "https://yasslab.wufoo.com/forms/qkjthoy0qpuvg9"}> 問い合わせフォーム
    :javascript
      var qkjthoy0qpuvg9;(function(d, t) {
      var s = d.createElement(t), options = {
        'userName':'yasslab',
        'formHash':'qkjthoy0qpuvg9',
        'autoResize':true,
        'height':'497',
        'async':true,
        'host':'wufoo.com',
        'header':'show',
        'ssl':true
      };
      s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
      s.onload = s.onreadystatechange = function() {
        var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
        try {
          qkjthoy0qpuvg9 = new WufooForm();qkjthoy0qpuvg9.initialize(options);qkjthoy0qpuvg9.display();
        } catch (e) {}
      };
      var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
      })(document, 'script');
