%div#event-list.grayscale-bg
  - upcoming_events.each do |prefecture, events|
    %h2.event-region{id: prefecture}
      %a{href: "##{prefecture}", style: "color: black;"}= prefecture
    %ul.event-ul
      - events.each do |event|
        %li.event
          %header
            %p.event-date= l(event[:event_date])
            %p.event-at= "#{event[:event_at].strftime('%k:%M')}"
          %p
            %a.event-url{ href: "#{event[:event_url]}" }
              %span= event[:event_title]
            %span= "(#{event[:dojo_name]})"
