<% provide(:title, '道場情報 - 直近の開催日まとめ') %>
<% provide(:desc, '道場別の直近開催日をまとめたページです。') %>
<% provide(:url, events_latest_url) %>
<% provide(:meta_image, '/img/ogp-events.jpeg') %>

<section class="cover">
  <%= lazy_image_tag('/events_cover.jpg', alt: 'Cover Photo on Upcoming Events', min: true) %>
</section>

<section id="events" class="text-center" style="margin-bottom: 100px;">
  <br />
  <h1>☯️ 道場別の直近の開催日まとめ</h1>
  <br />
  <p style="margin: 0 0px 40px 10px; line-height: 1.5em;">
    主にデータ分析や
    <a href="/signup#terms-of-use">Active/Inactive</a>
    の判断などの用途で使われています。
    <br>
    <div class='form__terms list'>
      <ul style='list-style-type: "\2713\0020"; font-size: smaller;'>
	<li><%= link_to '近日開催', events_path %>のデータは含まず、<%= link_to '過去開催', stats_path %>のデータを使っています。</li>
	<li>開催データは <a href='https://doorkeeper.jp/'>Doorkeeper</a> と <a href='http://connpass.com/'>connpass</a> にのみ対応しています。</li>
	<li>上記以外でイベント管理している場合は掲載日を表示しています。</li>
      </ul>
    </div>
  </p>

  <style type="text/css">
    /* URL 用のセルにクラスを付けておく想定 */
    table { table-layout: auto; }
    td {
      padding: 1px 10px 1px 10px;
      text-align: right;
      font-size: smaller;
    }
    span.expired {
      a {
	color: red;
	background-color: #ffe5e5; /* 薄い赤背景 */
      }
    }
    td.url-cell {
      white-space:   normal;         /* 改行を許可 */
      word-wrap:     break-word;     /* 古めのブラウザ向け */
      overflow-wrap: break-word;     /* 新しめのブラウザ向け */
      word-break:    break-all;      /* 英数字が続く場合の保険 (必要に応じて) */
      text-align:    left;
    }
    th {
      padding: 10px;
      text-align: center;
    }
  </style>

  <div style="margin-top: 20px;" align="center">
    <table border="1">
      <tr>
        <th>
          <small>☯️ 道場名</small>
        </th>
        <th>
          <small><small>
	    🗓 直近の開催日または掲載日
	  </small></small>
        </th>
        <th>
          <small>📝 ノート</small>
        </th>
      </tr>
      <% @latest_event_by_dojos.each do |dojo| %>
        <tr>
          <td>
            <small>
              <a href="<%= dojo[:url] %>"><%= dojo[:name] %></a>
            </small>
          </td>
          <td>
            <small>
              <% if dojo[:has_event_histories] %>
		<!-- 過去１年間イベント開催していない Dojo で、"Active" の確認が無い場合はハイライトする -->
		<span class=<%= 'expired' if dojo[:event_at] <= Time.current.prev_year && !dojo[:note].include?('Active') %>>
		  <%= link_to dojo[:event_at], dojo[:event_url] %>
		</span>
              <% else %>
		<!-- 別サービスでイベント管理している Dojo で、"Active" の確認が無い場合はハイライトする -->
                <span class=<%= 'expired' if dojo[:event_at] <= Time.current.prev_year && !dojo[:note].include?('Active') %>>
		  <%= link_to dojo[:event_at], dojo[:event_url] %>
		</span>
              <% end %>
            </small>
          </td>
          <td class="url-cell">
            <small>
              <span title="<%= dojo[:note] %>"><%= raw Rinku.auto_link(dojo[:note]) %></span>
            </small>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <p>
    <pre style='white-space: pre-wrap; margin-top: 60px; color: #505050;'>本ページにある開催日は <br class='ignore-pc'><a href='https://doorkeeper.jp/'>Doorkeeper</a> と <a href='http://connpass.com/'>connpass</a> にのみ対応しています。</pre>
  </p>
  <div style='margin-top: 30px;'><a href='#top'>&uarr; 上に戻る</a></div>
</section>
