<% provide :title, '４章課題 - CoderDojo Japan' %>
<% provide :url,   'https://coderdojo.jp/sotechsha2/4' %>

<article>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
                <div class='fontsize-bigger'>
                    <ul data-scrivito-private-child-list-allowed-classes="null" data-scrivito-private-obj-description-for-editor="４章課題"></ul>
                    <h1>４章課題</h1>
                    <div>
                        <h2>最後の問題だけ得点を2倍にするには?</h2>
                        <p>
                            <br>
                        </p>
                        <p>
                            <b>課題内容（書籍P.126）</b>
                        </p>
                        <p>最後の問題だけ得点を2倍にしてみよう！</p>
                        <p>
                            <b>「もし〜なら　〜でなければ」</b>
                            のブロックを使って、最後の問題のときだけ得点を2倍にするコードを作ればできるはずだよ。最後の問題かどうかを確認するにはリストの長さを調べる
                            <b>「〜の長さ」</b>
                            と何かを比べるとわかるよ。
                        </p>
                        <p>
                            <br>
                        </p>
                        <p>
                            ヒント→ 「もし〜なら　〜でなければ」を使って、最後の問題・それ以外の問題のコードを分けて作ってみよう。問題リストの長さと何かを比べると最後の問題か判断できるよ。
                            <br>
                        </p>
                    </div>
                    <%= lazy_image_tag '/img/sotechsha2/4/04_cover.png'%>
                    <div>
                        <div>
                            <div>
                                <div>
                                    <br>
                                </div>
                                <p>
                                    最後の問題だけ得点を倍にするには何が必要だと思うかい？　必要なのは「最後の問題か判断すること」と「２倍の得点をあげること」の２つだね。まずは「最後の問題か判断すること」から始めてみよう。
                                    <br>
                                </p>
                                <p>
                                    <br>
                                </p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div>
                                    <br>
                                </div>
                                <p>
                                    <b>タカシが最後に作った「出題キャラクター」のコード</b>
                                </p>
                            </div>
                        </div>
                        <div>
                            <%= lazy_image_tag '/img/sotechsha2/4/04-01.png', style: 'padding-top:-50px;'%>
                        </div>
                        <div>
                            <div>
                                <h3>最後の問題か判断しよう</h3>
                                <p>
                                    条件によってプログラムを変える時は、
                                    <b>「もし〜なら」</b>
                                    を使えばよかったね。もちろんこれでもできるんだけど、今回は
                                    <b>「もし〜なら、でなければ」</b>
                                    を使おう。これを使って「最後の問題の場合」「最後の問題でない場合」の２つのプログラムを用意すればいいね。では、早速やってみよう。
                                </p>
                                <p>
                                    今の問題番号は
                                    <b>「問題番号」</b>
                                    という変数の中にあったよね。これを使おう。今回は3つ問題を用意しているので最後の問題番号は「3」だね。ではプログラムはどう書けばいいかな？
                                </p>
                            </div>
                        </div>
                        <div>
                            <%= lazy_image_tag '/img/sotechsha2/4/04-02.png', style: 'padding-top:-50px;'%>
                        </div>
                        <div>
                            <div>
                                <p>
                                    <br>
                                </p>
                                <p>もちろんこれでもOK！　でも、これだと問題を増やした時にプログラムも変える必要がありそうだね。実はもっといいやり方がある。最後の問題番号は、問題リストに用意した問題の数と同じになるんだ。ということは、</p>
                                <p>
                                    <br>
                                </p>
                            </div>
                        </div>
                        <div>
                            <%= lazy_image_tag '/img/sotechsha2/4/04-03.png', style: 'padding-top:-50px;'%>
                        </div>
                        <div>
                            <div>
                                <p>
                                    <br>
                                </p>
                                <p>こう書くと問題番号が「3」、つまり最後の問題の場合とそれ以外の場合でプログラムを分けることができるんだ。こう書くと、問題を増やして最後の問題番号が「5」や「10」になってもプログラムを書き換える必要がないね。</p>
                                <p>
                                    あとはこのプログラムをどこかに入れてあげればいいけど、どこだと思う？　そう。得点をあげているところ、つまり正解したときのプログラム部分に入れてあげればいいね。実際に入れてみるとこんな感じになるよ。
                                    <br>
                                </p>
                                <p>
                                    <br>
                                </p>
                            </div>
                        </div>
                        <div>
                            <%= lazy_image_tag '/img/sotechsha2/4/04-04.png', style: 'padding-top:-50px;'%>
                        </div>
                        <div>
                            <div>
                                <p>
                                    <br>
                                </p>
                                <h3>2倍の得点をあげよう</h3>
                                <p>
                                    最後の問題の場合とそれ以外の場合でプログラムを分けることができるようになったね。あとは、この中にそれぞれ得点をあげるプログラムを用意すればOKだ。「最後の問題ではない場合」のプログラムはすでに用意してある、
                                    <b>「得点を10ずつ変える」</b>
                                    だね。これを
                                    <b>「でなければ」</b>
                                    の中に入れてみよう。
                                </p>
                                <p>
                                    <br>
                                </p>
                            </div>
                        </div>
                        <div>
                            <%= lazy_image_tag '/img/sotechsha2/4/04-05.png', style: 'padding-top:-50px;'%>
                        </div>
                        <div>
                            <div>
                                <div>
                                    <br>
                                </div>
                                <p>
                                    こんな感じだね。完成までもうちょっとだ。あとは
                                    <b>「もし問題番号が問題の長さなら」</b>
                                    の中に2倍の得点をあげるプログラムを用意するだけだね。2倍の得点になるよう、
                                    <b>「得点を20ずつ変える」</b>
                                    を中に入れてあげよう。これで完成だ！
                                    <br>
                                </p>
                                <p>
                                    <br>
                                </p>
                            </div>
                        </div>
                        <div>
                            <%= lazy_image_tag '/img/sotechsha2/4/04-06.png', style: 'padding-top:-50px;'%>
                        </div>
                    </div>
                    <hr>
                    <div class="text-muted text-right h5">更新日: 2019年05月22日</div>
                    <div style='margin-left: 0px; padding-bottom: 30px;'></div>

                    <%= render partial: 'shared/sitemap_sotechsha2'%>

                </div>
            </div>
        </div>
    </div>
</article>
