<div class="add-margin fontsize-for-blog">
  <%= scrivito_tag_list :ul, @obj, :toclist do |list, child| %>
    <%= list.tag :li do %>
      <%= link_to child.display_title, scrivito_path(child) %>
    <% end %>
  <% end %>



  <%= scrivito_tag :h1,  @obj, :title %>
  <%= scrivito_tag :div, @obj, :abstract %>
  <%= scrivito_image_tag @obj, :image, class: "img-responsive" %>
  <%= scrivito_tag :div, @obj, :body %>
  <hr>
  <%= content_tag  :div, scrivito_value(@obj.created.strftime("作成日:%Y年%m月%d日")),
                   class: "text-muted text-right h5" %>
  <div style="margin-left: 0px; padding-bottom: 30px;"></div>
<%= render 'shared/sitemap_sotechsha' if @sts_posts %>
<%= render 'shared/footer' %>
</div>
