<div class="add-margin fontsize-for-blog">
  <%= scrivito_tag_list :ul, @obj, :toclist do |list, child| %>
    <%= list.tag :li do %>
      <%= link_to child.display_title, scrivito_path(child) %>
    <% end %>
  <% end %>

  <%= content_tag  :div, scrivito_value(@obj.created.strftime("%Y年%m月%d日")),
                   class: "text-muted h4" %>
  <hr>
  <%= scrivito_tag :h1,  @obj, :title %>
  <%= scrivito_tag :div, @obj, :abstract %>
  <%= scrivito_image_tag @obj, :image, class: "img-responsive" %>
  <%= scrivito_tag :div, @obj, :body %>
  <div style="margin-left: 0px; margin-top: 100px;" />
  <div style="margin-left: 0px; padding-bottom: 30px;" />

</div>
<%= render 'shared/sitemap_sotechsha' %>
<%= render 'shared/footer' %>
