<% provide(:title, '道場別の活動記録まとめ') %>
<% provide(:desc,  '道場別の直近開催日やレポート投稿などをまとめた、活動を記録・確認するためのページです。') %>
<% provide(:url, activity_dojos_url) %>
<% provide(:meta_image, '/img/ogp-events.jpeg') %>

<section class="cover">
  <%= lazy_image_tag('/events_cover.jpg', alt: 'Cover Photo on Upcoming Events', min: true) %>
</section>

<section id="events" class="text-center" style="margin-bottom: 100px;">
  <br />
  <h1>☯️ 道場別の活動記録まとめ</h1>
  <br />
  <p style="margin: 0 0px 40px 10px; line-height: 1.5em;">
    主にデータ分析や
    <%= link_to 'Active/Inactive', signup_path(anchor: 'terms') %>
    の判断などの用途で使われています。
    <br>
    <div class='form__terms list' style='font-size: smaller'>
      <ul style='list-style-type: "\2713\0020";'>
	<li>「記録日」は<%= link_to '統計情報 (開催数)',  stats_path %> や活動の確認/記録日を表示しています。</li>
	<li>「記録日」は <a href='https://doorkeeper.jp/'>Doorkeeper</a> と <a href='http://connpass.com/'>connpass</a> の場合、自動で更新されます。</li>
	<li>「経過日」は記録日からの経過日数（<%= link_to '閾値', signup_path(anchor: 'terms') %>の確認用）を表示しています。</li>
      </ul>
      <br>
      <span>
	<code><a href='https://github.com/coderdojo-japan/coderdojo.jp#howto-update-dojo' target='_blank'>
	  更新手順を見る
	  <small><i class="far fa-external-link"></i></small>
	</a></code>
      </span>
      <br>
      <br>
    </div>
  </p>

  <div style="margin-top: 20px;" align="center">
    <table border="1" class="stats-table">
      <tr>
        <th>
          <small>
            ☯️
            <br class='ignore-pc'>
            道場名<br>
	    <small>(Dojo ID)</small>
          </small>
        </th>
        <th>
          <small>
            🗓
            <br class='ignore-pc'>
            <a href='<%= events_path %>'>記録日</a>
          </small>
        </th>
        <th>
          <small>
            ⏱️
            <br class='ignore-pc'>
            <%= link_to '経過日', signup_path(anchor: 'terms') %>
          </small>
        </th>
        <th>
          <small>
            🔍
            <br class='ignore-pc'>
            検索
          </small>
        </th>
        <th>
          <small>
            🔗
            <br class='ignore-pc'>
            URL
          </small>
        </th>
        <th>
          <small>
            📝
            <br class='ignore-pc'>
            ノート
          </small>
        </th>
      </tr>
      <% @latest_event_by_dojos.each do |dojo| %>
        <tr>
          <td class="<%= 'inactive-item' unless dojo[:is_active] %>">
            <small>
              <%= link_to dojo_path(dojo[:id]) do %>
                <%= dojo[:name] %><br>
                <small>(ID: <%= dojo[:id] %>)</small>
              <% end %>
            </small>
          </td>
          <td class="<%= 'inactive-item' unless dojo[:is_active] %>">
            <small>
              <%= link_to_record_date(dojo) %>
            </small>
          </td>
          <td class="<%= 'inactive-item' unless dojo[:is_active] %>">
            <small>
              <%= display_days_passed(dojo) %>
            </small>
          </td>
          <td class="<%= 'inactive-item' unless dojo[:is_active] %>">
            <small><small>
              <% search_query = URI.encode_www_form(q: "CoderDojo \"#{dojo[:name].split('@').first.strip}\"") %>
              <% search_range = URI.encode_www_form(tbs: "qdr:m12") # 過去12ヶ月の検索結果 %>
              <% search_url   = "https://www.google.co.jp/search?" + search_query %>
	      
              <%= link_to '全期間', [search_url].join,                    target: "_blank" %><br>
              <%= link_to '12ヶ月', [search_url, search_range].join('&'), target: "_blank" %>
            </small></small>
          </td>
          <td class="<%= 'inactive-item' unless dojo[:is_active] %>">
            <small><small>
              <%= link_to dojo[:url], target: "_blank" do %>
                Website
		<small><i class="far fa-external-link"></i></small>
              <% end %>
            </small></small>
          </td>
          <td class="url-cell <%= 'inactive-item' unless dojo[:is_active] %>">
            <small>
              <span title="<%= dojo[:note] %>">
                <%= raw Addressable::URI.unescape(truncate_with_preserved_links(dojo[:note], length: 60)) %>
              </span>
            </small>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <p>
    <pre style='white-space: pre-wrap; margin-top: 60px; color: #505050;'>本ページにある開催日は <br class='ignore-pc'><a href='https://doorkeeper.jp/'>Doorkeeper</a> と <a href='http://connpass.com/'>connpass</a> にのみ対応しています。</pre>
  </p>
  <div style='margin-top: 30px;'><a href='#top'>&uarr; 上に戻る</a></div>
</section>
