<% provide :title, "CoderDojo #{@dojo[:name]} - 統計情報" %>
<% provide :desc,  "CoderDojo #{@dojo[:name]}に関する公開されている統計情報をまとめたページです。" %>
<% provide :url,   dojo_url(@dojo) %>
<% provide :meta_image, "/img/ogp-events.jpeg" %>

<section class="cover">
  <%= lazy_image_tag "/events_cover.jpg", alt: "Cover Photo on Upcoming Events", min: true %>
</section>

<section id="events" class="text-center" style="margin-bottom: 100px;">
  <br>
  <h1>☯️
    CoderDojo <%= @dojo.name %> - 統計情報<br><small>（公開情報のみ掲載）</small>
  </h1>
  <br>
  <p style="margin: 0 0px 40px 10px; line-height: 1.5em;">
    <%= link_to "CoderDojo #{@dojo[:name]}", @dojo[:url] %>に関する<br class='ignore-pc'>公開されている統計情報をまとめたページです。
    <br><br>
    <% if @event_histories.any? %>
    <small>
      ※
      <%= link_to '近日開催', events_path %>は含まず、<%= link_to '過去開催', stats_path %>のデータを使っています
      <br>
      ※
      下記表は <code><%= link_to dojo_path(@dojo, format: :json), dojo_url(@dojo, format: :json) %></code> で JSON に変換できます
      <br>
      ※
      下記表は <code><%= link_to dojo_path(@dojo, format: :csv),  dojo_url(@dojo, format: :csv) %></code> で CSV に変換できます
    </small>
    <% end %>
  </p>

  <style type="text/css">
    td.url-cell {
      /* URL 用のセルにクラスを付けておく想定 */
      white-space: normal;           /* 改行を許可 */
      word-wrap: break-word;         /* 古めのブラウザ向け */
      overflow-wrap: break-word;     /* 新しめのブラウザ向け */
      word-break: break-all;         /* 英数字が続く場合の保険 (必要に応じて) */
    }
  </style>
  <div style="margin-top: 20px;" align="center">
    <% if @event_histories.any? %>
    <table border="1" style="table-layout: auto;">
      <tr>
        <th style="padding: 10px; text-align: center;">
          <small>
	    ☯️
	    <br class='ignore-pc'>
	    開催日
	  </small>
        </th>
        <th style="padding: 10px; text-align: center;">
          <small>
	    👥
	    <br class='ignore-pc'>
	    参加数
	  </small>
        </th>
        <th style="padding: 10px; text-align: center;">
          <small>
	    📝
	    <br class='ignore-pc'>
	    URL
	  </small>
        </th>
      </tr>
      <% @event_histories.each do |event| %>
        <tr>
          <td style="padding: 1px 10px 1px 10px; text-align: right;">
            <small><%= event[:evented_at].strftime("%F") %></small>
          </td>
          <td style="padding: 1px 10px 1px 10px; text-align: right;">
            <small><%= event[:participants] %></small>
          </td>
          <td class="url-cell" style="padding: 1px 10px 1px 10px; text-align: left;">
            <small>
	      <a href='<%= event[:event_url] %>'>
		<span title="<%= event[:event_url] %>"><%= event[:event_url].gsub('https://', '').chomp('/') %></span>
	      </a>
            </small>
          </td>
        </tr>
      <% end %>
    </table>
    <% else %>
      <p>
	<pre style='white-space: pre-wrap; margin-bottom: 30px; color: #505050;'>
	本サイトには <%= link_to "CoderDojo #{@dojo[:name]}", @dojo[:url] %>に関する統計情報は登録されていません。<br>
	統計情報は現在 <a href='https://doorkeeper.jp/'>Doorkeeper</a> と <a href='http://connpass.com/'>connpass</a> にのみ対応しています。</pre>
      </p>
    <% end %>
  </div>
</section>
