
<article>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
                <div class='fontsize-bigger'>
                    <h1>３章課題</h1>
                    <div>
                        <h2>アンサンブルにチャレンジしよう！</h2>
                        <p>
                            <br>
                        </p>
                        <p>
                            <b>課題内容（書籍P.92）</b>
                        </p>
                        <p>いろんな音を同時に出せるということは、スクラッチの世界のなかで、ほかの人やコンピュータと合奏することもできるってことだね。ちょっとすごいと思わない？</p>
                        <p>スクラッチは音楽データを再生することもできるんだ。だから、コンピュータには自分の好きな音楽を演奏してもらって、それに合わせてキーボードやマウスを操作して、楽器やドラムの音を出してみよう。</p>
                        <p>
                            音楽データは、「音」タブから追加して、
                            <b>「音」</b>
                            カテゴリーの
                            <b>「～の音を鳴らす」</b>
                            や
                            <b>「終わるまで～の音を鳴らす」</b>
                            を使って再生することができるよ。「音ライブラリー」のなかにいろんな曲があるから使ってみよう。
                        </p>
                        <p>
                            <br>
                        </p>
                    </div>
                            <%= lazy_image_tag '/img/sotechsha/3/03_cover.png' %>
                    <div>
                        <div>
                            <div>
                                <p>
                                    <br>
                                </p>
                                <p>
                                    <b>新しく追加したスプライト</b>
                                    <br>
                                </p>
                            </div>
                        </div>
                        <div>
                            <%= lazy_image_tag '/img/sotechsha/3/image08.png' %>
                        </div>
                        <div>
                            <div>
                                <p>
                                    <br>
                                </p>
                                <p>
                                    <b>Trumpetのスクリプト</b>
                                </p>
                            </div>
                        </div>
                        <div>
                            <%= lazy_image_tag '/img/sotechsha/3/image02.png' %>
                        </div>
                        <div>
                            <div>
                                <p>
                                    <b>
                                        <br>
                                    </b>
                                </p>
                                <p>
                                    <b>Drum1のスクリプト</b>
                                    <br>
                                </p>
                            </div>
                        </div>
                        <div>
                            <%= lazy_image_tag '/img/sotechsha/3/image05.png' %>
                        </div>
                        <div>
                            <div>
                                <div>
                                    <b>
                                        <br>
                                    </b>
                                </div>
                                <div>
                                    <b>Penguin2のスクリプト</b>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div>
                            <%= lazy_image_tag '/img/sotechsha/3/image04-2.png' %>
                        </div>
                        <div>
                            <div>
                                <div>
                                    <br>
                                </div>
                                <h2>模範解答</h2>
                                <p>鍵盤のプログラムはそのまま使えば良いから、他の楽器やキャラクターを増やすと良いね。</p>
                                <p>
                                    <br>
                                </p>
                                <h3>緑の旗を押した時にメロディーが自動で流れるようにしよう</h3>
                                <p>
                                    たとえば、ピアノ演奏に合わせてリズムが流れると面白そうだよね。今回は、
                                    <b>「～の音を鳴らす」</b>
                                    を使って、自分で音楽を作ってみよう。たとえば、新しいスプライトにこんな風に書いてみよう。4拍子のリズムが流れるよ。
                                </p>
                            </div>
                        </div>
                        <div>
                            <%= lazy_image_tag '/img/sotechsha/3/image05.png' %>
                        </div>
                        <div>
                            <div>
                                <p>作ったメロディーをくりかえし流し続けるには、スクリプトを「ずっと」で囲むのを忘れないでね！</p>
                                <p>
                                    <br>
                                </p>
                                <h3>みんなでいっしょに演奏しよう</h3>
                                <p>他の友達もいっしょに演奏できたら、とてもおもしろそうだよね。鍵盤に使っているキー（A、S、D、W、E…など）以外でのキーやマウスで操作できるようにスクリプトを書いていこう。</p>
                            </div>
                        </div>
                        <div>
                            <%= lazy_image_tag '/img/sotechsha/3/image04-2.png' %>
                        </div>
                        <div>
                            <div>
                                <p>
                                    <br>
                                </p>
                                <p>スプライトによっては、さいしょから音データが入っているものがあるんだ。</p>
                                <p>でも、他の音を使いたいときは、ライブラリーから選んだり、録音したり、フリー素材を使ったりすることもできるよ。</p>
                            </div>
                        </div>
                        <div>
                            <%= lazy_image_tag '/img/sotechsha/3/image06-1.png' %>
                        </div>
                        <div>
                            <div>
                                <p>
                                    <br>
                                </p>
                                <p>音データはスクラッチ上で編集することもできるんだ。いろいろためしてみてね。</p>
                            </div>
                        </div>
                        <div>
                            <%= lazy_image_tag '/img/sotechsha/3/image06-2.png' %>
                        </div>
                        <div>
                            <div>
                                <p>
                                    <b>
                                        <br>
                                    </b>
                                </p>
                                <p>
                                    <b>「～の音を鳴らす」</b>
                                    で指定する音は、▼をクリックして名前からえらぶ以外にも、数字を指定して選ぶことができるんだ。数字は、左上にある1以上の数だよ。
                                </p>
                            </div>
                        </div>
                        <div>
                            <%= lazy_image_tag '/img/sotechsha/3/03-a06.png' %>
                        </div>
                        <div>
                            <div>
                                <p>
                                    <br>
                                </p>
                                <p>例えば、6章で出てくる乱数（→書籍P.142参照）を使ってこんなことができるんだ。何が起こるか、実際に作ってためしてみよう。</p>
                            </div>
                        </div>
                        <div>
                            <%= lazy_image_tag '/img/sotechsha/3/image03.png' %>
                        </div>
                        <div>
                            <div>
                                <p>
                                    <br>
                                </p>
                                <h3>背景を変えて完成</h3>
                                <p>最後に、みんなでワイワイにぎやかに演奏している感じを出すために、背景を変えよう。</p>
                            </div>
                        </div>
                        <div>
                            <%= lazy_image_tag '/img/sotechsha/3/image00.png' %>
                        </div>
                    </div>
                    <hr>
                    <div class="text-muted text-right h5">更新日: 2016年12月22日</div>
                    <div style='margin-left: 0px; padding-bottom: 30px;'></div>

                    <%= render partial: 'shared/sitemap_sotechsha'%>

                </div>
            </div>
        </div>
    </div>
</article>
