

<article>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
                <div class='fontsize-bigger'>
                    <ul data-scrivito-private-child-list-allowed-classes="null" data-scrivito-private-obj-description-for-editor="５章課題"></ul>
                    <h1>５章課題</h1>
                    <div>
                        <h2>忍者をジャンプさせよう</h2>
                        <p>
                            <br>
                        </p>
                        <p>
                            <b>課題内容（書籍P.132）</b>
                        </p>
                        <p>
                            <span style="font-size: 16.8px;">自由に走れるようになった忍者にジャンプをさせてみよう。</span>
                            <br>
                        </p>
                        <p>
                            <b style="font-size: 16.8px;">「y座標を○ずつ変える」</b>
                            <span style="font-size: 16.8px;">のブロックを使うと、忍者を縦方向にも動かすことができることは知ってるよね。忍者をジャンプさせるには「y座標」を増やせばいい。ジャンプしたあとは着地するよね？　着地のときにはジャンプと反対に「y座標」を減らせばいいんだ。</span>
                        </p>
                        <p>
                            <br>
                        </p>
                        <p>
                            <b>ヒント→「○回繰り返す」</b>
                            を使って、少しずつ動くようにするとジャンプの感じがでる。
                        </p>
                        <p>たとえば、ボールを上に向かって投げたときに、最初は速いけどだんだんゆっくりになっていくよね。これと同じように、スプライトでジャンプしたときに同じ数ずつ「y座標」を増やすのではなくて、「y座標」を増やす量をだんだん少なくすると、より自然なジャンプになるよ。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                            <%= lazy_image_tag '/img/sotechsha/5/05_cover.png' %>
                    <div>
                        <div>
                            <div>
                                <p>
                                    <br>
                                </p>
                                <p>
                                    <b>参考：タカシが最終的に作った忍者のスクリプト</b>
                                </p>
                            </div>
                        </div>
                        <div>
                            <%= lazy_image_tag '/img/sotechsha/5/05-00.png' %>
                        </div>
                        <div>
                            <div>
                                <p>
                                    <br>
                                </p>
                                <p>ジャンプというのは、上に向かって飛ぶことだからスプライトを上に動かさなければならないというのはわかるよね。</p>
                                <p>
                                    ここまででは
                                    <b>「○歩動かす」</b>
                                    を使ってきたけれど、これはスプライトの向いている方向に動かすためのブロックだったので、
                                    <b>「○歩動かす」</b>
                                    を使ってジャンプさせるためには忍者を上に向けないといけないんだ。
                                </p>
                                <p>
                                    <br>
                                </p>
                                <h3>ジャンプのスクリプトを作ろう</h3>
                                <p>
                                    でも、上を向いてジャンプするとおかしいので、ここでは向きを変えなくてもスプライトを動かすことができる
                                    <b>「y座標○ずつ変える」</b>
                                    を使うんだ。これを使ってジャンプするスクリプトを作ってみよう。
                                </p>
                            </div>
                        </div>
                        <div>
                            <%= lazy_image_tag '/img/sotechsha/5/05-01.png' %>
                        </div>
                        <div>
                            <div>
                                <p>
                                    <b>
                                        <br>
                                    </b>
                                </p>
                                <p>
                                    <b>「y座標を10ずつ変える」</b>
                                    を10回繰り返すということは、
                                    <b>「y座標を100ずつ変える」</b>
                                    と同じだけジャンプすることになるんだけど、
                                    <b>「y座標を100ずつ変える」</b>
                                    だと一瞬で空中に移動しているように見えるので、
                                    <b>「y座標を10ずつ変える」</b>
                                    を10回繰り返しているんだ。
                                </p>
                                <p>
                                    <br>
                                </p>
                                <h3>着地のスクリプトを作ろう</h3>
                                <p>
                                    ジャンプしたら次は着地しなければならない。ここはもう分かるね、今度はさっきと反対に下に向かってy座標を変えてあげればいい。画面の上に向かって動かすときは
                                    <b>「y座標を10ずつ変える」</b>
                                    の数字を0より大きく、下に向かって動かすときは0より小さくすればよかったね。
                                </p>
                            </div>
                        </div>
                        <div>
                            <%= lazy_image_tag '/img/sotechsha/5/05-02.png' %>
                        </div>
                        <div>
                            <div>
                                <p>
                                    <br>
                                </p>
                                <h3>動かしてみよう</h3>
                                <p>これで、着地もできた。ジャンプと着地のスクリプトをつないで、キーを押したときに動くようにすればできあがり。スペースキーを押したときにジャンプするようにしてみよう。</p>
                            </div>
                        </div>
                        <div>
                            <%= lazy_image_tag '/img/sotechsha/5/05-03.png' %>
                        </div>
                        <div>
                            <div>
                                <p>
                                    <br>
                                </p>
                                <p>これで、ジャンプのスクリプトは完成。自分で作ったスクリプトにこのスクリプトを足して、試しに動かしてみよう。スペースキーを押すとジャンプするようになる。左右の矢印キーを押しながらスペースキーを押すと走りながらジャンプするよ。</p>
                                <p>
                                    <br>
                                </p>
                                <h3>もっと自然なジャンプに挑戦してみよう</h3>
                                <p>これで、ジャンプの動きはできたんだけど、もうちょっと工夫するともっと自然な動きになるんだ。</p>
                                <p>
                                    上のスクリプトは、
                                    <b>「y座標を10ずつ変える」</b>
                                    を10回繰り返している。つまり、ずっと同じスピードで上がってるんだけど、本当のジャンプは少しずつ上がるスピードが遅くなっているんだ。
                                </p>
                                <p>ボールを空に向かって投げたことがあるかな？空に向かって投げたボールは、最初は速いけど、だんだん遅くなって最後には空中で一度止まる。そして落ちてくるよね。</p>
                                <p>これと同じ動きになるようにスクリプトを変えてみよう。</p>
                                <p>
                                    ジャンプのスピードがだんだん遅くなるということは、
                                    <b>「y座標を○ずつ変える」</b>
                                    の数字が、最初は大きいけど、だんだん小さくなるようにしなければならない。数字が変わるスクリプトを作るときは、第4章で説明した変数が便利だったね。変数
                                    <b>「ジャンプ」</b>
                                    を作って、 ジャンプのスピードを変えられるようにしよう。
                                </p>
                            </div>
                        </div>
                        <div>
                            <%= lazy_image_tag '/img/sotechsha/5/05-04.png' %>
                        </div>
                        <div>
                            <div>
                                <p>
                                    <br>
                                </p>
                                <p>ジャンプのスピードを決めるには、難しい計算式を使わなければならないんだけど、ここでは難しい計算式を使わずにもっと簡単な方法でやってみよう。</p>
                                <p>そうだね、ジャンプしてすぐは「10」ずつ変えて、次は「9」「8」「7」と減らしていってジャンプするスピードが「0」になるまで繰り返して、少しずつ減らしていくといいだろう。</p>
                                <p>
                                    変数「ジャンプ」の数字を「10」にしておいて、
                                    <b>「y座標を○ずつ変える」</b>
                                    の数字を変数
                                    <b>「ジャンプ」</b>
                                    に変えてみよう。
                                </p>
                            </div>
                        </div>
                        <div>
                            <%= lazy_image_tag '/img/sotechsha/5/05-05ab.png' %>
                        </div>
                        <div>
                            <div>
                                <p>
                                    <br>
                                </p>
                                <p>
                                    これで、
                                    <b>「y座標を○ずつ変える」</b>
                                    の数字を変数に変えることができた。次に、これを少しずつ減らすようにしてみよう。
                                    <b>「y座標を○ずつ変える」</b>
                                    のあとに変数
                                    <b>「ジャンプ」</b>
                                    の数字を1ずつ減らすんだったね。1減らすときには
                                    <b>「ジャンプを○ずつ変える」</b>
                                    の数字に0より小さい「-1」を入れるといいんだよ。
                                </p>
                            </div>
                        </div>
                        <div>
                            <%= lazy_image_tag '/img/sotechsha/5/05-05bb.png' %>
                        </div>
                        <div>
                            <div>
                                <p>
                                    <br>
                                </p>
                                <p>これで、ジャンプのスピードが少しずつ遅くなるスクリプトができた。</p>
                                <p>もう少し工夫しておこう。ジャンプは、空中で止まるまで繰り返すんだったよね。つまりジャンプのスピードが0になるまでジャンプし続けるということなので、スクリプトもそうなるように「10回繰り返す」の代わりに「ジャンプ＝0まで繰り返す」に変えてみよう。</p>
                            </div>
                        </div>
                        <div>
                            <%= lazy_image_tag '/img/sotechsha/5/05-05cb.png' %>
                        </div>
                        <div>
                            <div>
                                <p>
                                    <br>
                                </p>
                                <p>これで、空中で止まるまでジャンプするスクリプトができたね。</p>
                                <p>着地の方はジャンプと反対に、最初はゆっくり、少しずつ早くなるようにスピードを変化させながらジャンプの時と同じ回数繰り返せばいいので、スクリプトはこのようになるよ。</p>
                                <p></p>
                            </div>
                        </div>
                        <div>
                            <%= lazy_image_tag '/img/sotechsha/5/05-06.png' %>
                        </div>
                        <div>
                            <div>
                                <p>
                                    <br>
                                </p>
                                <p>ここであれ？って思ったニンジャは多いんじゃないかな。そこに気がついてくれたら嬉しいな。このスクリプトで注意しないといけないところが２つある。</p>
                                <p>
                                    ひとつめは、
                                    <b>「ジャンプを-1ずつ変える」</b>
                                    のところだ。少しずつ早くなるようにスピードを変えるのなら数字は大きくならないといけないのに、ここではジャンプの時と同じように数字を減らしている。
                                </p>
                                <p>思い出してみよう、下に動かす時はy座標を小さくするんだったね。つまり、着地のスピードが速くなるということはy座標を変える数字を小さくすればいいんだ。</p>
                                <p>
                                    ふたつめは、
                                    <b>「ジャンプ=-11まで繰り返す」</b>
                                    のところ。10で始まったんだからジャンプのときと同じ回数繰り返すためには
                                    <b>「ジャンプ=-10まで繰り返す」</b>
                                    と考えた忍者も多いと思う。
                                </p>
                                <p>ジャンプのときは、10から始まって0になったらジャンプをやめているので、実際に動いている回数は10回。逆に着地のときは、0から始まって-10まで繰り返すと9回分しか動かないので、-11までにして10回動くようにしないといけないんだ。</p>
                                <p>こうしておかないと、忍者が着地で元の位置まで戻らないんだ。</p>
                                <p>
                                    もう一度、ジャンプと着地のスクリプトを
                                    <b>「スペースキーが押されたとき」</b>
                                    につないで動かしてみよう。
                                </p>
                            </div>
                        </div>
                        <div>
                            <%= lazy_image_tag '/img/sotechsha/5/05-07b.png' %>
                        </div>
                        <div>
                            <div>
                                <p>
                                    <br>
                                </p>
                                <p>
                                    どうかな、さっきよりもずっと自然なジャンプになったかな。ただ、ジャンプするスピードを減らしたぶん、ジャンプの高さが低くなってしまっているので、もっと高くジャンプさせたい場合は、
                                    <b>「ジャンプを10にする」</b>
                                    <span style="font-size: 19.2px;">
                                        と
                                        <b>「ジャンプ=-11まで繰り返す」</b>
                                        の数字を変えるといいよ。
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div>
                            <%= lazy_image_tag '/img/sotechsha/5/05-08b.png' %>
                        </div>
                        <div>
                            <div>
                                <p>
                                    <br>
                                </p>
                                <p>うまくできたかな？　ゲームのキャラクターはもっといろんな動きをするよね。忍者なので空中で回転するような動きがあってもいいし、自分で考えた新しい動き方を忍者にさせてあげてね。</p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="text-muted text-right h5">更新日: 2016年12月22日</div>
                    <div style='margin-left: 0px; padding-bottom: 30px;'></div>

                    <%= render partial: 'shared/sitemap_sotechsha'%>

                </div>
            </div>
        </div>
    </div>
</article>
