<% provide(:title, '『ポケモンと学ぶ初めてのプログラミング』に参加する皆さまへ') %>
<% provide(:desc,  '『ポケモンと学ぶ初めてのプログラミング』のワークショップで必要となるポケモン素材のダウンロードお申し込みフォームです。') %>
<% provide(:url,   '/pokemon' ) %>
<% provide(:meta_image,  '') %>

<div class="container" style="line-height: 2.2em;">
  <section class="introduction" style="padding: 50px 0px;">
    <div style="text-align: center;">
      <h1 style='line-height: 1.4em;'>ポケモン素材の<br class='ignore-pc'>ダウンロード</h1>
          <img class='lazyload' style='padding-bottom: 20px;'  src='https://i.gyazo.com/073de074fdd294e5a7a1059c02c09fe3.png' loading='lazy' />
    </div>

    <p style="padding-bottom: 10px;">『ポケモンと学ぶ初めてのプログラミング』のワークショップで必要となるポケモン素材のダウンロードお申し込みフォームです。</p>

    <%= form_with url: pokemon_path, class: 'pokemon-form' do |f| %>
      <div class="field">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, autofocus: true, required: true, autocomplete: "email", class: "pokemon-form__field" %>
      </div>

      <div class="field">
        <%= f.label :parent_name, "保護者の名前" %>
        <%= f.text_field :parent_name, autofocus: true, required: true, autocomplete: "name", class: "pokemon-form__field" %>
      </div>

      <div class="field">
        <%= f.label :participant_name, "参加者の名前" %>
        <%= f.text_field :participant_name, autofocus: true, required: true, autocomplete: "name", class: "pokemon-form__field" %>
      </div>

      <div class="field">
        <%= f.label :dojo_name, "道場名" %>
        <%= f.text_field :dojo_name, autofocus: true, required: true, class: "pokemon-form__field" %>
      </div>

      <div class="field">
        <%= f.check_box :term_of_use, required: true, style: "display:inline" %>
        <%= f.label :term_of_use, "#{ link_to '利用規約', 'https://www.google.com/url?q=https://drive.google.com/file/d/19dLG3F6iyLk6eHoZxzi7WdA3yl0vkR2B/view?usp%3Dsharing&sa=D&source=editors&ust=1614911877166000&usg=AFQjCNFVBz0DmVVpCcW-RDXnKg9MNr56kw', target: '_blank'}に同意する".html_safe, style: "display:inline" %><br/>
      </div>

      <%= f.submit "申し込む", class: "pokemon-form__submit" %>
    <% end %>

    <p style='color: gray; text-align: center; padding: 30px 0px'>回答のコピーがメールで送信されます。</p>
  </section>
</div>
