<% provide(:title, '『ポケモンと学ぶ初めてのプログラミング』に参加する皆さまへ') %>
<% provide(:desc,  '『ポケモンと学ぶ初めてのプログラミング』のワークショップで必要となるポケモン素材のダウンロードお申し込みフォームです。') %>
<% provide(:url,   '/pokemon' ) %>
<% provide(:meta_image,  '') %>

<div class="container" style="line-height: 2.2em;">
  <section class="doc" style="padding: 50px 0px;">
    <img src="https://i.gyazo.com/811c10c67aa6187783f2fca21acbb427.png" alt="ポケモンキャラクター画像" style="max-width: 500px;margin: auto;display: block;border-radius: 4px;">
    <h1 style="text-align: center;">ポケモン素材のダウンロード</h1>
    <p style="padding-bottom: 10px;">『ポケモンと学ぶ初めてのプログラミング』のワークショップで必要となるポケモン素材のダウンロードお申し込みフォームです。</p>

    <%= form_with url: pokemon_path, class: 'pokemon-form' do |f| %>
      <div class="field">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, autofocus: true, required: true, autocomplete: "email", class: "pokemon-form__field" %>
      </div>

      <div class="field">
        <%= f.label :parent_name, "保護者の名前" %>
        <%= f.text_field :parent_name, autofocus: true, required: true, autocomplete: "name", class: "pokemon-form__field" %>
      </div>

      <div class="field">
        <%= f.label :participant_name, "参加者の名前" %>
        <%= f.text_field :participant_name, autofocus: true, required: true, autocomplete: "name", class: "pokemon-form__field" %>
      </div>

      <div class="field">
        <%= f.label :dojo_name, "道場名" %>
        <%= f.text_field :dojo_name, autofocus: true, required: true, class: "pokemon-form__field" %>
      </div>

      <div class="field">
        <%= f.check_box :term_of_use, required: true, style: "display:inline" %>
        <%= f.label :term_of_use, "#{ link_to '利用規約', 'https://www.google.com/url?q=https://drive.google.com/file/d/19dLG3F6iyLk6eHoZxzi7WdA3yl0vkR2B/view?usp%3Dsharing&sa=D&source=editors&ust=1614911877166000&usg=AFQjCNFVBz0DmVVpCcW-RDXnKg9MNr56kw', target: '_blank'}に同意する".html_safe, style: "display:inline" %><br/>
      </div>

      <%= f.submit "申し込む", class: "pokemon-form__submit" %>
    <% end %>

    <p style='color: gray; text-align: center; padding: 30px 0px'>回答のコピーが指定したアドレスにメールで送信されます。</p>
  </section>
</div>
