.container-fluid
  #top.col-md-6
    = lazy_image_tag 'sotechsha-1_book-cover.webp', class: "img-responsive center-block", alt: "Scratchでつくる! たのしむ! プログラミング道場", style: "width: 90%"
    %div{:style => "text-align: center; font-size: 19.2px;"}
      = scrivito_tag :div, @obj, :body, class: "img-responsive center-block"
  .col-md-6
    - @sts_posts.each do |sts_post|
      %h3= content_tag(:strong, scrivito_value(sts_post.title))
      = content_tag(:p, truncate(scrivito_value(sts_post.abstract), :length => 250, :escape => false))
      = link_to("もっと見る", scrivito_path(sts_post), :class => "btn btn-warning btn-block")
      %hr/
    = render 'shared/social_buttons_raw'
    = render 'shared/sitemap_sotechsha'
