<div class="title text-center full-width">
  <i class="cd cd-logo"></i>
  <h1>CoderDojo Japan</h1>
  <p>子どものためのプログラミング道場</p>
  <br />
</div>
<section class="cover full-width">
  <img src="/img/coderdojo-japan_cover.jpg">
</section>
<section class="introduction text-center list">
  <p>CoderDojo は7〜17歳の子どもを対象にしたプログラミング道場です。2011年にアイルランドで始まり、世界では66カ国・1,150の道場、日本では全国に67以上の道場があります (2016年12月現在)。</p>
  <p>各道場では、主に次のような内容を学ぶことができます。</p>
  <ul>
    <li>Scratch (ブロックを組み合わせるプログラミング)</li>
    <li>HTML / CSS / JavaScript などを活用したWEBサイト作成</li>
    <li>Arduinoなどの電子工作と組み合わせるプログラミング、など</li>
  </ul>
  <br />
  <p>各道場で学べる内容はそれぞれ異なりますが、CoderDojo の雰囲気は一様です。「どんな雰囲気か知りたい」という方は、下記のガイダンス資料をご参考にしてください。</p>
  <div class="text-center">
    <iframe src="//www.slideshare.net/slideshow/embed_code/key/FAXoW4pBq172mQ" width="595" height="388" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
    <div style="margin-bottom:5px">スライドが見えない場合は<strong><a href="//www.slideshare.net/togazo/coderdojo-introduction-jp" title="CoderDojoガイダンス（最新版）" target="_blank">コチラ</a></strong>から閲覧してください</div>
  </div>
  <p style="margin-top:10px;">さらに詳しい道場の様子については、「<a href="http://bakemono.jp/reading/blog/web/2256/">CoderDojoとは? 運営者に話を聞いてみた!</a> (バケモノ.jp)」や「<a href="http://ict-enews.net/zoomin/17coderdojo/">子どものための無料プログラミング道場 CoderDojo をはじめてみませんか</a> (ICT教育ニュース)」を読んでみてください。それぞれインタビュー形式で話が構成されているので、より具体的なイメージが掴めるかなと思います :)</p>

  <ol style="list-style:none;">
    <li style="display: inline-block; line-height: 11px;">
      <div class="fb-like" data-href="<%= @obj.binary_url %>" data-layout="button_count"
	   data-action="like" data-show-faces="true" data-share="true"></div></li>
    <li style="display: inline-block;">
      <a href="https://twitter.com/share" class="twitter-share-button"
	   data-url="<%= @obj.binary_url %>" data-text="<%= @obj.display_title %>"
	   data-lang="ja" data-hashtags="CoderDojo" data-via="CoderDojoJapan" width="100">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
    <li style="display: inline-block;"><a href="http://b.hatena.ne.jp/entry/<%= @obj.binary_url %>"
	   class="hatena-bookmark-button"
	   data-hatena-bookmark-title="<%= @obj.display_title %>"
	   data-hatena-bookmark-layout="standard-balloon"
	   data-hatena-bookmark-lang="ja"
	   title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script></li>
    <li style="display: inline-block;"><div class="g-plusone" data-size="medium" data-lang="ja"></div>
      <script type="text/javascript">
	(function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	})();
      </script>
    </li>
  </ol>

</section>
<section class="mentor text-center full-width grayscale-bg" ng-controller="MentorController as mctrl">
  <h2>全国の道場</h2>
  <ul class="loaded">
    <li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="http://coderdojo-asahikawa.github.io/" href="http://coderdojo-asahikawa.github.io/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(http://graph.facebook.com/416298905086341/picture?type=large)'}" style="background-image: url(http://graph.facebook.com/416298905086341/picture?type=large);"></span>
          <span class="mentor-person-name ng-binding">旭川 (北海道)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">ラズベリーパイ</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">北海道旭川市で不定期開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="https://www.facebook.com/CoderdojoSendai" href="https://www.facebook.com/CoderdojoSendai">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_sendai.jpg)'}" style="background-image: url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_sendai.jpg);"></span>
          <span class="mentor-person-name ng-binding">仙台 (東北)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">ゲーム</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">アプリ</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">仙台市青葉区で毎月開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="https://www.facebook.com/CoderdojoIzumi" href="https://www.facebook.com/CoderdojoIzumi">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(http://graph.facebook.com/542546935853207/picture?type=large)'}" style="background-image: url(http://graph.facebook.com/542546935853207/picture?type=large);"></span>
          <span class="mentor-person-name ng-binding">泉 (東北)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">仙台市泉区で不定期開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="https://www.facebook.com/coderdojo.tome" href="https://www.facebook.com/coderdojo.tome">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_japan.png)'}" style="background-image: url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_japan.png);"></span>
          <span class="mentor-person-name ng-binding">登米 (東北)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">3Dプリンタ</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">3DCAD</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">宮城県登米市で毎月開催	</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="http://zen.coderdojo.com/dojo/jp/niigata-niigata-prefecture/niigata" href="http://zen.coderdojo.com/dojo/jp/niigata-niigata-prefecture/niigata">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_japan.png)'}" style="background-image: url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_japan.png);"></span>
          <span class="mentor-person-name ng-binding">新潟 (北陸)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">新潟県新潟市で開催予定</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="https://sites.google.com/a/coderdojo.com/maebashi-jp/" href="https://sites.google.com/a/coderdojo.com/maebashi-jp/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://dl.dropboxusercontent.com/u/2819285/coderdojo-maebashi.png)'}" style="background-image: url(https://dl.dropboxusercontent.com/u/2819285/coderdojo-maebashi.png);"></span>
          <span class="mentor-person-name ng-binding">前橋 (関東)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">マインクラフト</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">ラズベリーパイ</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">ゲーム</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">群馬県前橋市で毎月開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="http://coderdojo-moriya.com/" href="http://coderdojo-moriya.com/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://dl.dropboxusercontent.com/u/3276838/CoderDojoMoriya-LOGO.jpg)'}" style="background-image: url(https://dl.dropboxusercontent.com/u/3276838/CoderDojoMoriya-LOGO.jpg);"></span>
          <span class="mentor-person-name ng-binding">守谷 (関東)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">IoT</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">電子工作</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">茨城県守谷市で毎月開催
    </p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="http://coderdojo-saitama.com/" href="http://coderdojo-saitama.com/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(http://graph.facebook.com/513118842140860/picture?type=large)'}" style="background-image: url(http://graph.facebook.com/513118842140860/picture?type=large);"></span>
          <span class="mentor-person-name ng-binding">さいたま (関東)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Webサイト</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">アプリ</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">埼玉県さいたま市で毎月開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="https://www.facebook.com/coderdojo.hibarigaoka" href="https://www.facebook.com/coderdojo.hibarigaoka">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(http://graph.facebook.com/497400593610071/picture?type=large)'}" style="background-image: url(http://graph.facebook.com/497400593610071/picture?type=large);"></span>
          <span class="mentor-person-name ng-binding">ひばりヶ丘 (関東)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">ラズベリーパイ</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">埼玉県新座市で月2回開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="https://www.facebook.com/CoderDojoHanno" href="https://www.facebook.com/CoderDojoHanno">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(http://graph.facebook.com/1570008999931017/picture?type=large)'}" style="background-image: url(http://graph.facebook.com/1570008999931017/picture?type=large);"></span>
          <span class="mentor-person-name ng-binding">飯能 (関東)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">埼玉県飯能市で毎月開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="https://www.facebook.com/CoderDojoTokorozawa/" href="https://www.facebook.com/CoderDojoTokorozawa/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://dl.dropboxusercontent.com/u/2819285/coderdojo-tokorozawa.png)'}" style="background-image: url(https://dl.dropboxusercontent.com/u/2819285/coderdojo-tokorozawa.png);"></span>
          <span class="mentor-person-name ng-binding">所沢 (関東)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">埼玉県所沢市で不定期に開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="http://coderdojo-kodaira.github.io/" href="http://coderdojo-kodaira.github.io/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(http://graph.facebook.com/616010815134433/picture?type=large)'}" style="background-image: url(http://graph.facebook.com/616010815134433/picture?type=large);"></span>
          <span class="mentor-person-name ng-binding">小平 (関東)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Webサイト</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">東京都小平市で隔週開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="http://coderdojo.code4hachioji.org/" href="http://coderdojo.code4hachioji.org/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_hachioji.jpg)'}" style="background-image: url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_hachioji.jpg);"></span>
          <span class="mentor-person-name ng-binding">八王子 (関東)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Webサイト</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">PHP</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">東京都八王子市で毎月開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="https://www.facebook.com/coderdojonakano/" href="https://www.facebook.com/coderdojonakano/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://dl.dropboxusercontent.com/u/2819285/coderdojo-nakano.png)'}" style="background-image: url(https://dl.dropboxusercontent.com/u/2819285/coderdojo-nakano.png);"></span>
          <span class="mentor-person-name ng-binding">中野 (関東)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">HTML/CSS</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">JavaScript</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Arduino</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">東京都中野区にて毎月開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="https://coderdojo-suginami.github.io/" href="https://coderdojo-suginami.github.io/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://coderdojo-suginami.github.io/images/logo-namisuke-circle-200.png)'}" style="background-image: url(https://coderdojo-suginami.github.io/images/logo-namisuke-circle-200.png);"></span>
          <span class="mentor-person-name ng-binding">すぎなみ (関東)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Ruby</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">HTML</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">JavaScript</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Processing</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">東京都杉並区で月1回程度開催	</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="http://tokyo.coderdojo.jp/" href="http://tokyo.coderdojo.jp/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(http://graph.facebook.com/346407898743580/picture?type=large)'}" style="background-image: url(http://graph.facebook.com/346407898743580/picture?type=large);"></span>
          <span class="mentor-person-name ng-binding">下北沢 (関東)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Webサイト</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">ゲーム</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">東京都世田谷区で毎週開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="http://coderdojochofu.hatenablog.jp/" href="http://coderdojochofu.hatenablog.jp/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://dl.dropboxusercontent.com/u/2819285/coderdojo-chofu.jpg)'}" style="background-image: url(https://dl.dropboxusercontent.com/u/2819285/coderdojo-chofu.jpg);"></span>
          <span class="mentor-person-name ng-binding">調布 (関東)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">JavaScript</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">HTML</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Ruby</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">ラズベリーパイ</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">東京都調布市で毎月開催
    </p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="https://www.facebook.com/groups/coderdojo.shibuya/" href="https://www.facebook.com/groups/coderdojo.shibuya/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_japan.png)'}" style="background-image: url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_japan.png);"></span>
          <span class="mentor-person-name ng-binding">渋谷 (関東)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">東京都渋谷区で不定期開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="https://www.facebook.com/coderdojonoda/" href="https://www.facebook.com/coderdojonoda/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_japan.png)'}" style="background-image: url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_japan.png);"></span>
          <span class="mentor-person-name ng-binding">野田 (関東)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">千葉県野田市で毎月開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="http://urayasu.coderdojo.chiba.jp/" href="http://urayasu.coderdojo.chiba.jp/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(http://urayasu.coderdojo.chiba.jp/images/cdlogo.png)'}" style="background-image: url(http://urayasu.coderdojo.chiba.jp/images/cdlogo.png);"></span>
          <span class="mentor-person-name ng-binding">浦安 (関東)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Webサイト</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">PHP</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Ruby</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">千葉県浦安市で毎月開催	</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="http://coderdojo-chiba.github.io/" href="http://coderdojo-chiba.github.io/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(http://coderdojo-chiba.github.io/images/CoderDojoChiba.png)'}" style="background-image: url(http://coderdojo-chiba.github.io/images/CoderDojoChiba.png);"></span>
          <span class="mentor-person-name ng-binding">千葉 (関東)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Webサイト</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">PHP</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">千葉県千葉市で毎月開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="http://www.coderdojo-kashiwa.com/" href="http://www.coderdojo-kashiwa.com/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(http://graph.facebook.com/472842399443384/picture?type=large)'}" style="background-image: url(http://graph.facebook.com/472842399443384/picture?type=large);"></span>
          <span class="mentor-person-name ng-binding">柏 (関東)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">千葉県柏市で毎月3回開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="http://www.code-for-nagareyama.org/?cat=11" href="http://www.code-for-nagareyama.org/?cat=11">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_japan.png)'}" style="background-image: url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_japan.png);"></span>
          <span class="mentor-person-name ng-binding">流山 (関東)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">千葉県流山市で毎月開催	</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="http://coderdojo-wakaba.github.io" href="http://coderdojo-wakaba.github.io">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_japan.png)'}" style="background-image: url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_japan.png);"></span>
          <span class="mentor-person-name ng-binding">若葉 (関東)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Java</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">千葉県千葉市で毎月開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="http://coderdojo.shiojiri-osslabo.com/" href="http://coderdojo.shiojiri-osslabo.com/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(http://graph.facebook.com/128374717310867/picture?type=large)'}" style="background-image: url(http://graph.facebook.com/128374717310867/picture?type=large);"></span>
          <span class="mentor-person-name ng-binding">塩尻 (中部)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Ruby</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">長野県塩尻市で毎月開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="http://coderdojo.cowbell.jp/" href="http://coderdojo.cowbell.jp/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://dl.dropboxusercontent.com/u/2819285/coderdojo.png)'}" style="background-image: url(https://dl.dropboxusercontent.com/u/2819285/coderdojo.png);"></span>
          <span class="mentor-person-name ng-binding">福井 (中部)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Webサイト</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">福井県福井市で不定期開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="http://www.coderdojo-hamamatsu.org/" href="http://www.coderdojo-hamamatsu.org/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://pbs.twimg.com/profile_images/679526979456991234/3ycBOGYG.png)'}" style="background-image: url(https://pbs.twimg.com/profile_images/679526979456991234/3ycBOGYG.png);"></span>
          <span class="mentor-person-name ng-binding">浜松 (東海)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Webサイト</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Ruby</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">静岡県浜松市で毎月開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="https://coderdojo-toyohashi.doorkeeper.jp/" href="https://coderdojo-toyohashi.doorkeeper.jp/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://dl.dropboxusercontent.com/u/2819285/coderdojo-toyohashi.png)'}" style="background-image: url(https://dl.dropboxusercontent.com/u/2819285/coderdojo-toyohashi.png);"></span>
          <span class="mentor-person-name ng-binding">豊橋 (中部)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">アプリ開発</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">ラズベリーパイ</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">愛知県豊橋市で不定期開催	</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="http://coderdojo-nagoya.github.io/" href="http://coderdojo-nagoya.github.io/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_japan.png)'}" style="background-image: url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_japan.png);"></span>
          <span class="mentor-person-name ng-binding">名古屋 (中部)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Webサイト</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Python</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">名古屋市中区で毎月開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="http://coderdojo-tempaku.hatenablog.com/" href="http://coderdojo-tempaku.hatenablog.com/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://dl.dropboxusercontent.com/u/2819285/coderdojo-tempaku.png)'}" style="background-image: url(https://dl.dropboxusercontent.com/u/2819285/coderdojo-tempaku.png);"></span>
          <span class="mentor-person-name ng-binding">天白 (中部)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Webサイト</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">電子工作</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">名古屋市天白区で月2回開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="http://coderdojo-oharu.connpass.com/" href="http://coderdojo-oharu.connpass.com/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_japan.png)'}" style="background-image: url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_japan.png);"></span>
          <span class="mentor-person-name ng-binding">大治 (中部)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">愛知県海部郡で毎月開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="https://coderdojo-nagaokakyo.doorkeeper.jp/" href="https://coderdojo-nagaokakyo.doorkeeper.jp/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://dzpp79ucibp5a.cloudfront.net/groups_logos/4052_normal_1421068102_coderdojo-nagaokakyo_logo.png)'}" style="background-image: url(https://dzpp79ucibp5a.cloudfront.net/groups_logos/4052_normal_1421068102_coderdojo-nagaokakyo_logo.png);"></span>
          <span class="mentor-person-name ng-binding">長岡京 (近畿)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">京都府長岡京市で毎月開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="http://coderdojo-nara-ikoma.github.io/" href="http://coderdojo-nara-ikoma.github.io/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://raw.githubusercontent.com/coderdojo-nara-ikoma/document/master/icon/NARA_black.png)'}" style="background-image: url(https://raw.githubusercontent.com/coderdojo-nara-ikoma/document/master/icon/NARA_black.png);"></span>
          <span class="mentor-person-name ng-binding">奈良 (近畿)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Webサイト</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">C#</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">奈良県奈良市で毎月開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="http://coderdojo-nara-ikoma.github.io/" href="http://coderdojo-nara-ikoma.github.io/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://raw.githubusercontent.com/coderdojo-nara-ikoma/document/master/icon/IKOMA_green.png)'}" style="background-image: url(https://raw.githubusercontent.com/coderdojo-nara-ikoma/document/master/icon/IKOMA_green.png);"></span>
          <span class="mentor-person-name ng-binding">生駒 (近畿)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Webサイト</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">C#</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">奈良県生駒市で毎月開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="https://coderdojo-otsu.doorkeeper.jp/" href="https://coderdojo-otsu.doorkeeper.jp/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_japan.png)'}" style="background-image: url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_japan.png);"></span>
          <span class="mentor-person-name ng-binding">大津 (近畿)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">滋賀県大津市で不定期開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="https://www.facebook.com/coderdojo.kumano" href="https://www.facebook.com/coderdojo.kumano">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(http://graph.facebook.com/254235038032617/picture?type=large)'}" style="background-image: url(http://graph.facebook.com/254235038032617/picture?type=large);"></span>
          <span class="mentor-person-name ng-binding">熊野 (近畿)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Webサイト</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">アプリ</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">和歌山県新宮市で不定期開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="http://coderdojo-kyoto-fushimi.peatix.com/view" href="http://coderdojo-kyoto-fushimi.peatix.com/view">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_japan.png)'}" style="background-image: url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_japan.png);"></span>
          <span class="mentor-person-name ng-binding">京都伏見 (近畿)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">WEBサイト</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Java</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">JavaScript</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">京都市伏見区墨染で隔月開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="http://coderdojo-hirakata.github.io" href="http://coderdojo-hirakata.github.io">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_japan.png)'}" style="background-image: url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_japan.png);"></span>
          <span class="mentor-person-name ng-binding">枚方 (近畿)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Webサイト</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">アプリ開発</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">大阪府枚方市で隔月開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="https://www.facebook.com/CoderDojoHigashiosaka/" href="https://www.facebook.com/CoderDojoHigashiosaka/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://dl.dropboxusercontent.com/u/2819285/coderdojo-higasi-osaka.jpg)'}" style="background-image: url(https://dl.dropboxusercontent.com/u/2819285/coderdojo-higasi-osaka.jpg);"></span>
          <span class="mentor-person-name ng-binding">東大阪 (近畿)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Webサイト</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Android</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">大阪府東大阪荒本で隔月開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="http://coderdojo-nishinomiya.info/" href="http://coderdojo-nishinomiya.info/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(http://graph.facebook.com/1393015987582276/picture?type=large)'}" style="background-image: url(http://graph.facebook.com/1393015987582276/picture?type=large);"></span>
          <span class="mentor-person-name ng-binding">西宮・梅田 (近畿)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Webサイト</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">電子工作</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">西宮/梅田でそれぞれ毎月開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="https://zen.coderdojo.com/dojo/jp/osaka-osaka-prefecture/namba-osaka" href="https://zen.coderdojo.com/dojo/jp/osaka-osaka-prefecture/namba-osaka">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_japan.png)'}" style="background-image: url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_japan.png);"></span>
          <span class="mentor-person-name ng-binding">なんば (近畿)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Webサイト</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">PHP</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Ruby</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Java</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">大阪市なんばで毎月開催	</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="https://coderdojo-hommachi.doorkeeper.jp/" href="https://coderdojo-hommachi.doorkeeper.jp/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_hommachi.png)'}" style="background-image: url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_hommachi.png);"></span>
          <span class="mentor-person-name ng-binding">本町 (近畿)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Ruby</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">大阪府大阪市で不定期開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="https://www.facebook.com/coderdojo.nishinari.osaka/" href="https://www.facebook.com/coderdojo.nishinari.osaka/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_nishinari.jpg)'}" style="background-image: url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_nishinari.jpg);"></span>
          <span class="mentor-person-name ng-binding">西成 (近畿)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">ラズベリーパイ</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">大阪市西成区で毎月開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="https://coderdojo-sakai.doorkeeper.jp/" href="https://coderdojo-sakai.doorkeeper.jp/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_japan.png)'}" style="background-image: url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_japan.png);"></span>
          <span class="mentor-person-name ng-binding">堺 (近畿)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">PHP</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Java</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">大阪府堺市で毎月開催	</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="https://www.facebook.com/coderdojo.wakayama/" href="https://www.facebook.com/coderdojo.wakayama/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://dl.dropboxusercontent.com/u/2819285/coderdojo-wakayama.png)'}" style="background-image: url(https://dl.dropboxusercontent.com/u/2819285/coderdojo-wakayama.png);"></span>
          <span class="mentor-person-name ng-binding">和歌山 (近畿)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">和歌山県和歌山市で毎月開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="http://coderdojokobe.wixsite.com/home/" href="http://coderdojokobe.wixsite.com/home/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://static.wixstatic.com/media/3b0a7d_f95cda9cea5a459aa5eca813de611f0a~mv2.png/v1/fill/w_68,h_70,al_c,usm_0.66_1.00_0.01/3b0a7d_f95cda9cea5a459aa5eca813de611f0a~mv2.png)'}" style="background-image: url(https://static.wixstatic.com/media/3b0a7d_f95cda9cea5a459aa5eca813de611f0a~mv2.png/v1/fill/w_68,h_70,al_c,usm_0.66_1.00_0.01/3b0a7d_f95cda9cea5a459aa5eca813de611f0a~mv2.png);"></span>
          <span class="mentor-person-name ng-binding">神戸 (近畿)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">JavaScript</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">神戸市中央区で月１回	</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="https://www.facebook.com/CoderDojo-%E6%98%8E%E7%9F%B3-139582193048936/" href="https://www.facebook.com/CoderDojo-%E6%98%8E%E7%9F%B3-139582193048936/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://connpass-tokyo.s3.amazonaws.com/thumbs/ea/cd/eacd7eaeeef8c18d2def173281cb704d.png)'}" style="background-image: url(https://connpass-tokyo.s3.amazonaws.com/thumbs/ea/cd/eacd7eaeeef8c18d2def173281cb704d.png);"></span>
          <span class="mentor-person-name ng-binding">明石 (近畿)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Webサイト</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Arduino</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">兵庫県明石市で毎月開催	</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="https://himejicoderdojo.doorkeeper.jp/" href="https://himejicoderdojo.doorkeeper.jp/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://dzpp79ucibp5a.cloudfront.net/groups_logos/5887_normal_1435743920_CoderDojo5.png)'}" style="background-image: url(https://dzpp79ucibp5a.cloudfront.net/groups_logos/5887_normal_1435743920_CoderDojo5.png);"></span>
          <span class="mentor-person-name ng-binding">姫路 (近畿)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">ラズベリーパイ</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Webサイト</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">兵庫県姫路市で第3土曜日に毎月開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="http://fukuyama100.com/coderdojo/" href="http://fukuyama100.com/coderdojo/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(http://fukuyama100.com/coderdojo/images/logo_fukuyama.png)'}" style="background-image: url(http://fukuyama100.com/coderdojo/images/logo_fukuyama.png);"></span>
          <span class="mentor-person-name ng-binding">福山 (中国)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">広島県福山市で不定期開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="https://www.facebook.com/coderdojo.hiroshima/" href="https://www.facebook.com/coderdojo.hiroshima/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://dl.dropboxusercontent.com/u/2819285/coderdojo-hiroshima.png)'}" style="background-image: url(https://dl.dropboxusercontent.com/u/2819285/coderdojo-hiroshima.png);"></span>
          <span class="mentor-person-name ng-binding">広島 (中国)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Webサイト</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">PHP</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">広島県広島市で毎月開催	</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="https://www.facebook.com/coderdojo.itsukaichi" href="https://www.facebook.com/coderdojo.itsukaichi">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://dl.dropboxusercontent.com/u/2819285/coderdojo-itsukaichi.png)'}" style="background-image: url(https://dl.dropboxusercontent.com/u/2819285/coderdojo-itsukaichi.png);"></span>
          <span class="mentor-person-name ng-binding">五日市 (中国)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">enchant.js</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Unity</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">広島県広島市で毎月開催
    </p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="https://www.facebook.com/CoderDojoKurume/" href="https://www.facebook.com/CoderDojoKurume/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_japan.png)'}" style="background-image: url(https://dl.dropboxusercontent.com/u/2819285/coderdojo_japan.png);"></span>
          <span class="mentor-person-name ng-binding">久留米 (九州)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Webサイト</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">PHP</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">福岡県久留米市で毎月開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="https://lmlab.net/coderdojo/" href="https://lmlab.net/coderdojo/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(http://lmlab.net/logos/coderdojo.png)'}" style="background-image: url(http://lmlab.net/logos/coderdojo.png);"></span>
          <span class="mentor-person-name ng-binding">宮崎 (九州)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Ruby</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Python</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">ラズベリーパイ</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">宮崎県西臼杵郡で毎月開催</p>
    </li><!-- end ngRepeat: mentor in mentors --><li class="mentor-person ng-scope" ng-repeat="mentor in mentors">
      <header>
        <a ng-href="https://www.facebook.com/coderdojo.miyakojima/" href="https://www.facebook.com/coderdojo.miyakojima/">
          <span class="mentor-person-picture" ng-style="{'background-image':'url(https://pbs.twimg.com/profile_images/793750335462309888/tFO80-u_.jpg)'}" style="background-image: url(https://pbs.twimg.com/profile_images/793750335462309888/tFO80-u_.jpg);"></span>
          <span class="mentor-person-name ng-binding">宮古島 (沖縄)</span>
        </a>
      </header>
      <ul class="tags">
        <!-- ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Scratch</li><!-- end ngRepeat: tag in mentor.tags --><li ng-repeat="tag in mentor.tags" class="ng-binding ng-scope">Webサイト</li><!-- end ngRepeat: tag in mentor.tags -->
      </ul>
      <p class="ng-binding">沖縄県宮古島市で不定期開催</p>
    </li><!-- end ngRepeat: mentor in mentors -->
    </ul>
</section>

<section class="text-center">
  <a class="twitter-timeline"  href="https://twitter.com/search?q=dojocon%20OR%20coderdojo%20OR%20%E3%82%B3%E3%83%BC%E3%83%80%E3%83%BC%E9%81%93%E5%A0%B4%20OR%20%22Coder%20Dojo%22%20OR%20%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0%E9%81%93%E5%A0%B4%20lang%3Aja" data-partner="tweetdeck"data-widget-id="770838874780119041">CoderDojoに関するつぶやき</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</section>
<div class="full-width grayscale-bg">
  <section class="detail-introduction list">
    <h2 class="text-center">CoderDojo をもっと知りたい</h2>
    <p>下記ウェブサイトから、より詳細な情報や、最新の情報にアクセスできます。</p>
    <ul>
  <li><a href="https://coderdojo.com/">CoderDojo (英語)</a></li>
  <li><a href="https://www.facebook.com/groups/coderdojo.jp">CoderDojo Japan (Facebook)</a></li>
  <li><a href="http://kata.coderdojo.com/wiki/KataJapan">CoderDojo Kata (Wiki)</a></li>
    </ul>
    <br/>

    <p>本家サイトである CoderDojo (英語) では世界中の活動の様子が見れます。また、Facebook の CoderDojo Japan では日本全国の活動の様子を知ることができます。</p>
    <p>「これまでの成り立ちを知りたい」「地元で CoderDojo を立ち上げてみたい」といった場合には <a href="http://kata.coderdojo.com/wiki/KataJapan">CoderDojo Kata</a> を参照してみてください。</p>
    <br />
    <h2 class="text-center">お問い合わせ</h2>
    <p>取材や支援などのお問い合わせについては、下記フォームからお気軽にご連絡ください :)<br />
  メールをご希望の場合は、担当の安川要平まで (<i>yohei@coderdojo.jp</i>) ご連絡ください。</p>

    <!-- Contact Form via Wufoo -->
    <div id="contact"></div>
    <div id="wufoo-qkjthoy0qpuvg9" style="margin-top: -10px">>
  <a href="https://yasslab.wufoo.com/forms/qkjthoy0qpuvg9">問い合わせフォーム</a>.
    </div>
    <div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">HTML Forms powered by <a href="http://www.wufoo.com">Wufoo</a>.</div>
    <script type="text/javascript">
  var qkjthoy0qpuvg9;(function(d, t) {
  var s = d.createElement(t), options = {
    'userName':'yasslab',
    'formHash':'qkjthoy0qpuvg9',
    'autoResize':true,
    'height':'497',
    'async':true,
    'host':'wufoo.com',
    'header':'show',
    'ssl':true
  };
  s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
  s.onload = s.onreadystatechange = function() {
    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
    try {
      qkjthoy0qpuvg9 = new WufooForm();qkjthoy0qpuvg9.initialize(options);qkjthoy0qpuvg9.display();
    } catch (e) {}
  };
  var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
  })(document, 'script');
    </script>
  </section>
</div>

<footer class="footer-bottom full-width text-center ">
  <h2><a href="https://www.facebook.com/groups/coderdojo.jp/" class="footer-link">CoderDojo Japan</a> 運営グループ</h2>
  <p>本WEBサイトのソースコードや社団法人の定款などは <a href="https://github.com/coderdojo-japan/" class="footer-link">GitHub</a> 上で公開されています。</p>
  <p>Copyright &copy; 2016 一般社団法人 CoderDojo Japan</p>
</footer>
<script src="js/angular.min.js"></script>
<script src="js/parse.js"></script>
<script src="js/index.js"></script>
<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-62337761-1");
    pageTracker._trackPageview();
  } catch(err) {}
</script>
