<div class="title text-center full-width" id="top">
  <i class="cd cd-logo"></i>
  <h1>CoderDojo Japan</h1>
  <p>子どものためのプログラミング道場</p>
  <br />
</div>
<section class="cover full-width">
  <%= image_tag "coderdojo-japan_cover.png"%>
</section>
<section class="introduction text-center list">
  <p>CoderDojo は7〜17歳の子どもを対象にしたプログラミング道場です。2011年にアイルランドで始まり、世界では66カ国・1,150の道場、日本では全国に70以上の道場があります (2016年12月現在)。</p>
  <p>各道場では、主に次のような内容を学ぶことができます。</p>
  <ul>
    <li>Scratch (ブロックを組み合わせるプログラミング)</li>
    <li>HTML / CSS / JavaScript などを活用したWEBサイト作成</li>
    <li>Arduinoなどの電子工作と組み合わせるプログラミング、など</li>
  </ul>
  <br />
  <p>各道場で学べる内容はそれぞれ異なりますが、CoderDojo の雰囲気は一様です。「どんな雰囲気か知りたい」という方は、下記のガイダンス資料をご参考にしてください。</p>
  <div class="text-center">
    <iframe src="//www.slideshare.net/slideshow/embed_code/key/FAXoW4pBq172mQ" width="595" height="388" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
    <div style="margin-bottom:5px">スライドが見えない場合は<strong><a href="//www.slideshare.net/togazo/coderdojo-introduction-jp" title="CoderDojoガイダンス（最新版）" target="_blank">コチラ</a></strong>から閲覧してください</div>
  </div>
  <p style="margin-top:10px;">さらに詳しい道場の様子については、「<a href="http://bakemono.jp/reading/blog/web/2256/">CoderDojoとは? 運営者に話を聞いてみた!</a> (バケモノ.jp)」や「<a href="http://ict-enews.net/zoomin/17coderdojo/">子どものための無料プログラミング道場 CoderDojo をはじめてみませんか</a> (ICT教育ニュース)」を読んでみてください。それぞれインタビュー形式で話が構成されているので、より具体的なイメージが掴めるかなと思います :)</p>

  <ol style="list-style:none;">
    <li style="display: inline-block; line-height: 11px;">
      <div class="fb-like" data-href="<%= @obj.binary_url %>" data-layout="button_count"
	   data-action="like" data-show-faces="true" data-share="true"></div></li>
    <li style="display: inline-block;">
      <a href="https://twitter.com/share" class="twitter-share-button"
	 data-url="<%= @obj.binary_url %>"
	 data-text="#CoderDojo Japan - 子どものためのプログラミング道場"
	 data-lang="ja" data-via="CoderDojoJapan" width="100">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
    <li style="display: inline-block;"><a href="http://b.hatena.ne.jp/entry/<%= @obj.binary_url %>"
	   class="hatena-bookmark-button"
	   data-hatena-bookmark-title="<%= @obj.display_title %>"
	   data-hatena-bookmark-layout="standard-balloon"
	   data-hatena-bookmark-lang="ja"
	   title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script></li>
    <li style="display: inline-block;"><div class="g-plusone" data-size="medium" data-lang="ja"></div>
      <script type="text/javascript">
	(function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	})();
      </script>
    </li>
  </ol>

</section>
<section class="dojos text-center full-width grayscale-bg" id="dojos">
  <h2>全国の道場</h2>
  <ul class="loaded">
    <% @dojos.each do |dojo| %>
      <li class="dojo ng-scope">
	<header>
	  <a href="<%= dojo.url %>">
	    <span class="dojo-picture" style="background-image: url(<%= dojo.logo %>);"></span>
	    <span class="dojo-name ng-binding"><%= dojo.name %></span>
	  </a>
	</header>
	<ul class="tags">
	<% dojo.tags.each do |tag| %>
          <li class="ng-binding ng-scope"><%= tag %></li>
	<% end %>
	</ul>
	<p class="ng-binding"><%= dojo.description %></p>
      </li>
    <% end %>
  </ul>
</section>

<section class="text-center">
  <a class="twitter-timeline"  href="https://twitter.com/search?q=dojocon%20OR%20coderdojo%20OR%20%E3%82%B3%E3%83%BC%E3%83%80%E3%83%BC%E9%81%93%E5%A0%B4%20OR%20%22Coder%20Dojo%22%20OR%20%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0%E9%81%93%E5%A0%B4%20lang%3Aja" data-partner="tweetdeck"data-widget-id="770838874780119041">CoderDojoに関するつぶやき</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</section>
<div class="full-width grayscale-bg">
  <section class="detail-introduction list">
    <h2 class="text-center">CoderDojo をもっと知りたい</h2>
    <p>下記ウェブサイトから、より詳細な情報や、最新の情報にアクセスできます。</p>
    <ul>
  <li><a href="https://coderdojo.com/">CoderDojo (英語)</a></li>
  <li><a href="https://www.facebook.com/groups/coderdojo.jp">CoderDojo Japan (Facebook)</a></li>
  <li><a href="/kata">CoderDojo Kata (Wiki)</a></li>
    </ul>
    <br/>

    <p>本家サイトである CoderDojo (英語) では世界中の活動の様子が見れます。また、Facebook の CoderDojo Japan では日本全国の活動の様子を知ることができます。</p>
    <p>「これまでの成り立ちを知りたい」「地元で CoderDojo を立ち上げてみたい」といった場合には <a href="/kata">CoderDojo Kata</a> を参照してみてください。</p>
    <br />
    <h2 class="text-center">お問い合わせ</h2>
    <p>取材や支援などのお問い合わせについては、下記フォームからお気軽にご連絡ください :)<br />
  メールをご希望の場合は、担当の安川要平まで (<i>yohei@coderdojo.jp</i>) ご連絡ください。</p>

    <!-- Contact Form via Wufoo -->
    <div id="contact"></div>
    <div id="wufoo-qkjthoy0qpuvg9" style="margin-top: -10px">>
  <a href="https://yasslab.wufoo.com/forms/qkjthoy0qpuvg9">問い合わせフォーム</a>.
    </div>
    <div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">HTML Forms powered by <a href="http://www.wufoo.com">Wufoo</a>.</div>
    <script type="text/javascript">
  var qkjthoy0qpuvg9;(function(d, t) {
  var s = d.createElement(t), options = {
    'userName':'yasslab',
    'formHash':'qkjthoy0qpuvg9',
    'autoResize':true,
    'height':'497',
    'async':true,
    'host':'wufoo.com',
    'header':'show',
    'ssl':true
  };
  s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
  s.onload = s.onreadystatechange = function() {
    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
    try {
      qkjthoy0qpuvg9 = new WufooForm();qkjthoy0qpuvg9.initialize(options);qkjthoy0qpuvg9.display();
    } catch (e) {}
  };
  var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
  })(document, 'script');
    </script>
  </section>
</div>

<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-62337761-1");
    pageTracker._trackPageview();
  } catch(err) {}
</script>
