<div style="display: table; font-weight: bolder; width: 100%; padding: 10px 10px; background-color:#3870c4;">
  <p class="nav prev">
    <% if @episode.exists?(offset: -1) %>
      <%= link_to podcast_path(@episode.id - 1), title: '前のエピソードを見る' do %>
	&laquo; prev
      <% end %>
    <% else %>
      <%= link_to '&laquo; Top'.html_safe, podcasts_path %>
    <% end %>
  </p>
  <p class="nav toc">
    <%= link_to '目次に戻る'.html_safe, podcasts_path %>
  </p>
  <p class="nav next">
    <% if @episode.exists?(offset: +1) %>
      <%= link_to podcast_path(@episode.id + 1), title: '次のエピソードを見る' do %>
	next &raquo;
      <% end %>
    <% else %>
      <%= link_to 'Top &raquo;'.html_safe, podcasts_path %>
    <% end %>
  </p>
</div>
