<% provide(:title, "#{@title} - #{@description}") %>
<% provide(:desc,  @description) %>
<% provide(:url,   @url ) %>
<% provide(:meta_image,  "/img/ogp-dojocast.jpeg") %>

<%= lazy_image_tag('/podcasts/dojocast-cover.webp', alt: 'DojoCast Cover Photo', class: 'dojocast-cover') %>

<div class="container" style="line-height: 2.2em;">
  <section class="doc" style="padding: 50px 0px 0px 0px;">
    <h1 style="text-align: center;"><%= @title %></h1>
    <p style="text-align: center; padding-bottom: 10px;">CoderDojo コミュニティに関わる人々を<br class="ignore-pc">ハイライトするポッドキャスト番組です 📻✨</p>
    <%= lazy_image_tag('/podcasts/cover-sub.jpg', alt: 'DojoCast の収録の様子 (Photo Credit: @youtoy さん)') %>

    <div class='text-center' style="margin-top: 30px;">
      <div class="g-ytsubscribe" data-channelid="UCal5GuoCDCMDQe07w69TuJA" data-layout="full" data-count="default"></div>
      <script src="https://apis.google.com/js/platform.js"></script>
    </div>

    <h3 id="live" style="text-align: center; padding-top: 70px;">🎙
      最新エピソードを聴く</h3>

    <div class="container" style="line-height: 1.9em; margin-bottom: -100px;">
      <section class="doc" style="padding: 30px 0px 0px 0px;">
	<% if @episodes.first %>
	  <iframe class="lazyload" src="https://creators.spotify.com/pod/profile/coderdojo-japan/embed/episodes/<%= @episodes.first.permalink %>" width="100%px" scrolling="no" frameborder="yes"></iframe>
	<% end %>
	<br>
      </section>
    </div>

    <p style="text-align: center; padding-top: 120px; padding-bottom: 30px;">
      <a href="https://twitter.com/intent/tweet?button_hashtag=DojoCast&hashtags=CoderDojo"
       class="twitter-hashtag-button" data-size="large" data-lang="ja"
       data-text="" data-show-count="false">#DojoCast でツイートする</a>
    </p>

    <h3 id="episodes" style="text-align: center; padding-top: 70px;padding-bottom: 10px;">📻 これまでの収録</h3>
    <ul style="font-size: 120%">
      <% @episodes.each do |episode| %>
	<li><%= link_to episode.title, podcast_path(episode) %></li>
      <% end %>
    </ul>
  </section>

  <br>
  
  <section class="introduction text-center list" style="margin-bottom: 30px;">
    <%= render 'shared/social_buttons' %>
  </section>
</div>

<%= render 'shared/introduce_podcast_apps' %>
