<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
	content="width=device-width, initial-scale=1,
		 minimum-scale=1, maximum-scale=1, user-scalable=no">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <% if @obj && !@obj.permalink.nil?  %>
    <title><%= @obj.display_title %> - CoderDojo Japan</title>
  <% else %>
    <title>CoderDojo Japan - コーダー道場ジャパン</title>
  <% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= scrivito_head_tags %>

  <meta name="description"       content="CoderDojoは子どものためのプログラミング道場です。2011年にアイルランドで始まり、全国では67ヶ所、世界では66ヶ国・1,150ヶ所で開催されています。" />
  <% if @obj && !@obj.permalink.nil?  %>
    <meta property="og:title"    content="<%= @obj.display_title %> | CoderDojo Japan">
    <meta property="og:url"      content="https://coderdojo.jp/">
  <% else %>
    <meta property="og:title"    content="CoderDojo Japan - 子どものためのプログラミング道場">
  <% end %>
      
  <meta property="og:site_name"  content="CoderDojo Japan">
  <meta property="og:image"      content="https://coderdojo.jp/og-image.png">
  <meta property="og:image:type" content="image/png">

  <link rel="apple-touch-icon" sizes="57x57"   href="/img/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60"   href="/img/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72"   href="/img/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76"   href="/img/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/img/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32"    href="/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96"    href="/img/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16"    href="/img/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/img/ms-icon-144x144.png">
  <meta name="theme-color"             content="#ffffff">

  <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>

</head>
<body>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <%= yield %>
  <%= scrivito_body_tags %>
</body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.8&appId=805184859580207";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62337761-1', 'auto');
  ga('send',   'pageview');
</script>

</html>
