!!!
%html{lang: "#{page_lang(yield(:lang))}"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1,\n\t\t minimum-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}
    %meta{content: "rfZAU6VfAqDrPGPHca_W7UZQqHrczs4pH_CiLw9M_zY", name: "google-site-verification"}

    %title= full_title(yield(:title))
    = stylesheet_link_tag    'application',      'data-turbolinks-track' => true, media: 'all'
    = stylesheet_link_tag    'extension/header', 'data-turbolinks-track' => true, media: 'all'
    = javascript_include_tag 'application',      'data-turbolinks-track' => true
    = csrf_meta_tags

    %meta{content: "715330868",                         property: "fb:admins"}
    %meta{content: "805184859580207",                   property: "fb:app_id"}
    %meta{content: "#{full_title(yield(:title))}",      property: "og:title"}
    %meta{content: "#{full_url(yield(:url))}",          property: "og:url"}
    %meta{content: "#{full_description(yield(:desc))}",     name: "description"}
    %meta{content: "#{full_description(yield(:desc))}", property: "og:description"}
    %meta{content: "website",                           property: "og:type"}
    %meta{content: "#{meta_image(yield(:meta_image))}", property: "og:image"}
    %meta{content: "image/png",                         property: "og:image:type"}
    %meta{content: "CoderDojo Japan",                   property: "og:site_name"}

    %meta{content: "summary",                           name: "twitter:card"}
    %meta{content: "@CoderDojoJapan",                   name: "twitter:site"}
    %meta{content: "@CoderDojoJapan",                   name: "twitter:creator"}
    %meta{content: "#{full_title(yield(:title))}",      name: "twitter:title"}
    %meta{content: "#{full_description(yield(:desc))}", name: "twitter:description"}
    %meta{content: "#{meta_image(yield(:meta_image))}", name: "twitter:image"}
    %meta{content: "#{full_url(yield(:url))}",          name: "twitter:url"}

    %link{href: "https://coderdojo.jp/",         rel: "alternate", hreflang: "ja"}
    %link{href: "https://coderdojo.jp/english",  rel: "alternate", hreflang: "en"}
    %link{href: "/img/apple-icon-57x57.png",     rel: "apple-touch-icon", sizes: "57x57"}
    %link{href: "/img/apple-icon-60x60.png",     rel: "apple-touch-icon", sizes: "60x60"}
    %link{href: "/img/apple-icon-72x72.png",     rel: "apple-touch-icon", sizes: "72x72"}
    %link{href: "/img/apple-icon-76x76.png",     rel: "apple-touch-icon", sizes: "76x76"}
    %link{href: "/img/apple-icon-114x114.png",   rel: "apple-touch-icon", sizes: "114x114"}
    %link{href: "/img/apple-icon-120x120.png",   rel: "apple-touch-icon", sizes: "120x120"}
    %link{href: "/img/apple-icon-144x144.png",   rel: "apple-touch-icon", sizes: "144x144"}
    %link{href: "/img/apple-icon-152x152.png",   rel: "apple-touch-icon", sizes: "152x152"}
    %link{href: "/img/apple-icon-180x180.png",   rel: "apple-touch-icon", sizes: "180x180"}
    %link{href: "/img/android-icon-192x192.png", rel: "icon", sizes: "192x192", type: "image/png"}
    %link{href: "/img/favicon-16x16.png",        rel: "icon", sizes: "16x16",   type: "image/png"}
    %link{href: "/img/favicon-32x32.png",        rel: "icon", sizes: "32x32",   type: "image/png"}
    %link{href: "/img/favicon-96x96.png",        rel: "icon", sizes: "96x96",   type: "image/png"}
    %link{href: "/manifest.json",                rel: "manifest"}
    %link{color: "#1373ce", href: "/img/safari-pinned-tab.svg", rel: "mask-icon"}
    %meta{content: "#ffffff",                  name: "msapplication-TileColor"}
    %meta{content: "/img/ms-icon-144x144.png", name: "msapplication-TileImage"}
    %meta{content: "#ffffff",                  name: "theme-color"}

    %link{href: "https://fonts.googleapis.com/css?family=Fjalla+One", rel: "stylesheet", type: "text/css"}
    %script{src: "https://kit.fontawesome.com/82f32b9df5.js", crossorigin: "anonymous"}

    / Twemoji:  https://twemoji.twitter.com/
    %script{src: 'https://cdn.jsdelivr.net/npm/@twemoji/api@latest/dist/twemoji.min.js', crossorigin: 'anonymous'}
    / %script{src: 'https://unpkg.com/twemoji@latest/dist/twemoji.min.js', crossorigin: 'anonymous'}
    / %script{src: '/js/twemoji.min.js',   async: ''}
    
    / Lazyload: https://github.com/aFarkas/lazysizes
    %script{src: '/js/lazysizes.min.js', async: ''}
    
    / Navbar controller: https://polyfill.io/v3/
    %script{src: '/js/polyfill.min.js',  async: ''}

    / DocSearch (v2): https://docsearch.algolia.com/
    %link{href: "https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css", rel: "stylesheet"}
    / DocSearch (v3): https://docsearch.algolia.com/docs/DocSearch-v3
    /%link{href: 'https://cdn.jsdelivr.net/npm/@docsearch/css@3', rel: 'stylesheet'}

  %body
    = render 'shared/header'
    - flash.each do |message_type, message|
      %div{class: "alert alert-#{message_type}"}= message
    = yield
    = render 'shared/footer'

    / at the end of the BODY
    :javascript
      twemoji.parse(document.body);
    
    / DocSearch (v2): https://docsearch.algolia.com/
    %script{src: "https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js", type: "text/javascript"}
    / DocSearch (v3): https://docsearch.algolia.com/docs/DocSearch-v3
    /%script{src: 'https://cdn.jsdelivr.net/npm/@docsearch/js@3'}

    :javascript
      docsearch({
        // This is search ONLY API key, scoped to your production index.
        // So don't have to worry disclosing it in the frontend.
        // https://docsearch.algolia.com/docs/migrating-from-legacy/
        appId:         '#{ENV["ALGOLIA_APP_ID"]}',
        apiKey:        '#{ENV["ALGOLIA_API_KEY"]}',
        indexName:     'coderdojo',
        inputSelector: '#searchbox',
        debug: false // Set this true if you want to inspect the dropdown
      });

  #fb-root
  :javascript
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.8&appId=805184859580207";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-62337761-1', 'auto');
    ga('send',   'pageview');
